<div class="modal-payment" id="print-section">
  <div class="modal-header">
    <h4 class="modal-title">{{translate('MODAL_CONFIRMATION_PAYMENT/CONF_TITLE')}}</h4>
    <button type="button" class="close" (click)="close()">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div class="modal-body">
    <div class="modal-body-top-50">
      <div class="row m-0 mr-1 d-inline-block" >
        <div>
          <p> {{translate('MODAL_CONFIRMATION_PAYMENT/PAYMENT_METHOD')}} {{this.paymentMethod == 1 ? 'Paypal' : translate('MODAL_CONFIRMATION_PAYMENT/CREDIT_CARD')}} <span *ngIf="paymentMethod == 2">{{this.cardNumber}}</span></p>
          <p> {{translate('MODAL_CONFIRMATION_PAYMENT/PRICE')}} {{this.offerConfirmed.price}} €</p>
          <p> {{translate('MODAL_CONFIRMATION_PAYMENT/OFFER_NAME')}} {{this.offerConfirmed.name.toUpperCase()}}</p>
        </div>
        <hr>
        <div>
          <p>{{translate('MODAL_CONFIRMATION_PAYMENT/WALLET')}} <span style="color: red">{{this.previousWallet}}</span> + {{this.offerConfirmed.tokens}} = <span style="color: lawngreen">{{this.userService.user.wallet}}</span> tokens</p>
        </div>
        <button class="btn btn-round btn-lg btn-block mt-3" (click)="print()" [class.w-50]="!isMobile()" [class.w-75]="isMobile()">
          {{translate('MODAL_CONFIRMATION_PAYMENT/PRINT')}}
        </button>
      </div>
    </div>
  </div>
</div>
