<!--<div class="card event-box-carousel">
  <div class="card-body">
    <div class="row m-0 h-100">
      <div class="col-lg-8 m-0 p-0 h-100">
        <img [src]="images?.get(event.id + 'preview')">
        <div class="event-box-carousel-lottery">
          <span *ngIf="event?.information?.drawDate">
            {{event?.information?.drawDate | datePipe : 'ISO' : 'DD/MM/YYYY'}}
          </span>
        </div>
        <div class="event-box-carousel-tags" *ngIf="event?.information?.tags.length <= 3">
          <span *ngFor="let tag of event?.information?.tags">{{tag | titlecase}}</span>
        </div>
        <div class="event-box-carousel-tags" *ngIf="event?.information?.tags.length > 3">
          <span>{{event?.information?.tags.length - 1 + '+ tags'}}</span>
        </div>
      </div>
      <div class="col-lg-4 event-box-carousel-user pt-2 pb-2 text-center">
        <h4>{{event?.information?.name}}</h4>
        <h5>{{user?.username}}</h5>
        <img [src]="images?.get('profile')">
        <p *ngIf="event?.lotteries[0]?.participations.length > 1 ">
          {{event?.lotteries[0]?.participations.length + ' participants'}}
        </p>
        <p *ngIf="event?.lotteries[0]?.participations.length === 1 ">
          {{event?.lotteries[0]?.participations.length + ' participant'}}
        </p>
        <p *ngIf="event?.lotteries[0]?.participations.length === 0 ">0 participant</p>
      </div>
    </div>
  </div>
  <div class="event-box-carousel-shadow">
    <div>
      <h4>{{event?.information?.name}}</h4>
      <p *ngIf="event?.information?.description">{{event?.information?.description}}</p>
      <button class="btn btn-round">{{translate('EVENT_BOX/READ_MORE')}}</button>
    </div>
  </div>
</div>-->
<div class="card event-preview-influencer-page" (click)="router.navigate(['/event/' + event.id])">
  <div class="card-body">

    <div *ngIf="images?.get(event.id + 'banner')" class="card-image {{this.past ? 'image-gray' : ''}}" [ngStyle]="{backgroundImage: 'url(' + images?.get(event.id + 'banner') + ')', backgroundSize: 'cover'}">
      <div>
        <div class="end-date {{this.past ? 'image-gray' : ''}}">
          <div class="end-date-text">
            {{event.information.drawDate | datePipe : 'ISO' : 'DD/MM/YYYY'}}
          </div>
        </div>
<!--        <div class="association-image {{this.past ? 'image-gray' : ''}}" [ngStyle]="{backgroundImage: 'url(\'/assets/img/medecin-du-monde.png\')', backgroundSize: 'cover'}">
        </div> -->
      </div>
    </div>

    <div *ngIf="!images?.get(event.id + 'banner')" class="card-image {{this.past ? 'image-gray' : ''}}">
      <div>
        <div class="end-date {{this.past ? 'image-gray' : ''}}">
          <div class="end-date-text">
            {{event.information.drawDate | datePipe : 'ISO' : 'DD/MM/YYYY'}}
          </div>
        </div>
<!--        <div class="association-image {{this.past ? 'image-gray' : ''}}" [ngStyle]="{backgroundImage: 'url(\'/assets/img/medecin-du-monde.png\')', backgroundSize: 'cover'}">
        </div> -->
      </div>
    </div>

    <div class="card-content">
      <div class="name-container">
        <h5 class="name {{this.past ? 'text-gray' : ''}}">{{event.information.name}}</h5>
        <span class="participations {{this.past ? 'text-gray' : ''}}">{{this.participations}} participations</span>
        <div class="tags {{this.past ? 'image-gray' : ''}}" *ngIf="event?.information?.tags.length <= 3">
          <span *ngFor="let tag of event?.information?.tags">{{tag | titlecase}}</span>
        </div>
      </div>
    </div>
  </div>
</div>

