<form class="form" [formGroup]="formGroup">
  <div class="form-description">
    <p>{{translate('SIGNUP_LAYOUT/ACCOUNT_TYPE')}}</p>
  </div>
  <div class="form-check">
    <label class="form-check-label">
      <input name="check-notinfluencer" autocomplete="off" formControlName="notinfluencer" #notinfluencer=""
             class="form-check-input" type="checkbox" (change)="influencerChange(notinfluencer)">
      <span class="form-check-sign"></span>
      <a>{{translate('SIGNUP_LAYOUT/STANDARD_ACCOUNT')}}</a>
    </label>
  </div>
  <div class="form-check">
    <label class="form-check-label">
      <input name="check-influencer" autocomplete="off" formControlName="influencer" #influencer=""
             class="form-check-input" type="checkbox" (change)="influencerChange(influencer)">
      <span class="form-check-sign"></span>
      <a>{{translate('SIGNUP_LAYOUT/INFLUENCER_ACCOUNT')}}</a>
    </label>
  </div>
  <div class="text-center form-footer">
    <div class="row">
      <div class="col-lg-6 ml-auto mr-auto">
        <button type="submit" [disabled]="!formGroup.valid" class="btn btn-round btn-lg bk-color-green" (click)="next()">Next</button>
      </div>
    </div>
  </div>
</form>
