<div class="wrapper">
  <div class="payment" [class.h-auto]="isMobile()">
    <div class="card payment-card">
      <div class="row m-0 h-100 w-100">
        <div class="col-lg-7 w-100 h-100">

          <div class="row m-0 w-100" style="height: 35%">
            <div class="col-lg-12 text-center">
              <h3 class="m-0 p-0 payment-top-50">{{translate('PAYMENT_LAYOUT/TITLE')}}</h3>
            </div>
          </div>

          <div class="row m-0 w-100 payment-offer-container">
            <div class="col-lg-12 h-100 text-center">
              <div class="row m-0" *ngFor="let item of offers">
                <div class="col-md-6 mb-4" *ngFor="let offer of item">
                  <div class="card payment-offer"
                       [class.payment-offer-selected]="offer?.name === offerSelected?.name"
                       (click)="offerSelected = (offerSelected?.name === offer?.name) ? null : offer">
                    <div class="w-100 h-100 d-block">
                      <div class="h-100 d-inline-block align-middle" style="width: 30%">
                        <img *ngIf="offer?.name" class="payment-top-50" [src]="offer?.image" alt="Tokens">
                      </div>
                      <div class="h-100 d-inline-block align-middle" style="width: 70%">
                        <h6 class="d-block text-center w-100 m-0 h-auto">{{ offer?.name }}</h6>
                        <p class="d-block text-center h-auto">{{ offer?.tokens }}
                          <span>{{translate('PAYMENT_LAYOUT/TOKENS')}}</span>
                        </p>
                        <span class="payment-price d-block text-center w-auto">{{ offer?.price}} €</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-5 w-100">
          <div class="payment-top-50">
            <div class="card w-auto d-inline-flex p-4 ml-2 mr-2"
                 *ngFor="let pmt of paymentMethods"
                 [class.payment-method-selected]="paymentSelected === pmt?.name"
                 (click)="paymentSelected = pmt?.name">
              <div class="d-block">
                <img src="{{pmt?.logo}}" [width]="100" [height]="100"/>
                <p class="payment-method-label">{{translate('PAYMENT_LAYOUT/' + pmt?.name) }}</p>
              </div>
            </div>

            <form class="d-block mt-4" [formGroup]="formGroup" *ngIf="paymentSelected === 'CREDIT_CARD'">
              <div class="form-group" [class.mb-2]="isMobile()">
                <input type="text" class="form-control" [placeholder]="translate('PAYMENT_LAYOUT/FULL_NAME')" name="fullname"
                       [formControlName]="'fullname'" autocomplete="off"
                       #username="" [(ngModel)]="paymentCard.name"/>
              </div>
              <div class="form-group" [class.mb-2]="isMobile()">
                <input type="text" class="form-control" [placeholder]="translate('PAYMENT_LAYOUT/CARD_NUMBER')" name="cardNumber"
                       [formControlName]="'cardNumber'" autocomplete="off" [maxLength]="14" [size]="14"
                       (keyup)="replaceNumber($event)" (keydown)="replaceNumber($event)"
                       #nbr="" [(ngModel)]="paymentCard.cardNumber"/>
              </div>

              <div class="row m-0">
                <div class="col-lg-6" [class.pl-0]="!isMobile()" [class.p-0]="isMobile()">
                  <div class="form-group" [class.mb-2]="isMobile()">
                    <input type="text" class="form-control" [placeholder]="translate('PAYMENT_LAYOUT/EXPIRATION_DATE')"
                           name="expiration" [formControlName]="'expiration'" autocomplete="off"
                           #expiration="" [(ngModel)]="paymentCard.expiration" [maxLength]="7" [size]="7"
                           (keyup)="replaceExpirationDate($event)" (keydown)="replaceExpirationDate($event)"/>
                  </div>
                </div>
                <div class="col-lg-6" [class.pr-0]="!isMobile()" [class.p-0]="isMobile()">
                  <div class="form-group" [class.mb-2]="isMobile()">
                    <input type="text" class="form-control" placeholder="CVV" name="cvv"
                           [formControlName]="'cvv'" autocomplete="off" [maxLength]="3" [size]="3"
                           (keyup)="replaceNumber($event)" (keydown)="replaceNumber($event)"
                           #cvv="" [(ngModel)]="paymentCard.cvv"/>
                  </div>
                </div>
              </div>
            </form>

            <p class="d-block m-0 mt-5 mb-3 pl-4 pr-4" style="font-size: 0.85em">
              {{translate('PAYMENT_LAYOUT/CGU_TEXT')}}
            </p>
            <button class="btn btn-round btn-lg btn-block" [class.w-50]="!isMobile()" [class.w-75]="isMobile()"
                    [disabled]="(!offerSelected || !paymentSelected) || (paymentSelected === 'Credit Card' && !formGroup.valid)"
                    (click)="buy()" type="submit">
              {{translate('PAYMENT_LAYOUT/PURCHASE')}}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
