<ng-select [bindValue]="'countryCode'"
           [bindLabel]="'country'"
           [items]="items"
           [multiple]="multiple"
           [notFoundText]="translate('SELECT_COUNTRY/NOT_FOUND_TEXT')"
           [placeholder]="translate('SELECT_COUNTRY/PLACEHOLDER')"
           [loading]="loading"
           [closeOnSelect]="true"
           [hideSelected]="true"
           [loadingText]="translate('SELECT_COUNTRY/LOADING_TEXT')"
           [class.has-danger]="hasDanger"
           [(ngModel)]="selected"
           (change)="onChange($event)">

    <ng-template ng-option-tmp let-index="index" let-item="item" let-search="searchTerm">
        <div class="d-inline-block">
          <span>{{item.country}}</span>
        </div>
    </ng-template>

</ng-select>
