<app-influencer-profile *ngIf="isMe && requestedUser?.isInfluencer" [isMe]="isMe" [user]="me"></app-influencer-profile>
<app-influencer-profile *ngIf="!isMe  && requestedUser?.isInfluencer" [isMe]="isMe" [user]="requestedUser"></app-influencer-profile>
<app-user-profile *ngIf="isMe && !requestedUser?.isInfluencer" [isMe]="isMe" [user]="me" [userId]="requestedUserId"></app-user-profile>
<app-user-profile *ngIf="!isMe && !requestedUser?.isInfluencer" [isMe]="isMe" [user]="requestedUser" [userId]="requestedUserId"></app-user-profile>
