<form class="form" [formGroup]="formGroup">
  <div class="card-header text-center">
    <div class="logo-container">
      <img src="/assets/img/syd_object.png" alt="">
    </div>
    <div>
      <h3>{{translate('SIGNIN_LAYOUT/CONNECTION')}}</h3>
    </div>
  </div>
  <div class="card-body">
    <div class="input-group" [class.input-group-focus]="isFocused(username)"
         [class.has-danger]="errorGroup[0].error !== ''"
         [class.has-success]="successGroup === true">
      <div class="input-group-prepend" (click)="username.focus()">
        <span class="input-group-text"><i class="far fa-user"></i></span>
      </div>
      <input type="text" class="form-control" placeholder="{{translate('SIGNIN_LAYOUT/LOGIN')}}" name="username"
             formControlName="username" autocomplete="off"
             #username="" (focus)="isFocused(username)" (blur)="isFocused(username)"
             [(ngModel)]="model.login"
             (keyup)="errorOccurred(username)"/>
      <div class="input-error" *ngIf="errorGroup[0].error !== ''">
        <p>{{translate(errorGroup[0].error)}}</p>
      </div>
    </div>
    <div class="input-group" [class.input-group-focus]="isFocused(password)"
         [class.has-danger]="errorGroup[1].error !== ''"
         [class.has-success]="successGroup === true">
      <div class="input-group-prepend" (click)="password.focus()">
        <span class="input-group-text"><i class="fas fa-lock"></i></span>
      </div>
      <input type="password" class="form-control" name="password" autocomplete="off"
             placeholder="{{translate('SIGNIN_LAYOUT/PASSWORD')}}" #password=""
             (focus)="isFocused(password)" formControlName="password"
             (blur)="isFocused(password)" [(ngModel)]="model.password"
             (keyup)="errorOccurred(password)">
      <div class="input-error" *ngIf="errorGroup[1].error !== ''">
        <p>{{translate(errorGroup[1].error)}}</p>
      </div>
    </div>
    <div class="pull-left">
      <h5>
        <a class="link" (click)="next()">
          {{translate('SIGNIN_LAYOUT/FORGOT_PASSWORD')}}
        </a>
      </h5>
    </div>
  </div>
  <div class="card-footer text-center">
    <button [disabled]="!formGroup.valid" class="btn btn-round btn-lg btn-block" type="submit"
            (click)="valid()">
      {{translate('SIGNIN_LAYOUT/CONNECTION_BUTTON')}}
    </button>
    <div class="pull-left">
      <h5>
        <a class="link footer-link" (click)="navigateTo('/user/sign/up')">{{translate('SIGNIN_LAYOUT/NO_ACCOUNT')}}</a>
      </h5>
    </div>
  </div>
</form>
