<form class="form form-with-cgu" [formGroup]="formGroup">
  <div class="input-group" [class.input-group-focus]="isFocused(email)"
       [class.has-danger]="errorGroup[0].error !== ''">
    <div class="input-group-prepend" (click)="email.focus()">
      <span class="input-group-text"><i class="far fa-envelope"></i></span>
    </div>
    <input type="email" class="form-control" placeholder="{{translate('SIGNUP_LAYOUT/EMAIL')}}" name="email"
           formControlName="email" autocomplete="off"
           #email="" (focus)="isFocused(email)" (blur)="isFocused(email)"
           [(ngModel)]="model.email"
           (keyup)="errorOccurred(email);">
    <div class="input-error" *ngIf="errorGroup[0].error !== ''">
      <p>{{translate(errorGroup[0].error)}}</p>
    </div>
  </div>
  <div class="input-group" [class.has-danger]="errorGroup[1].error !== ''">
    <ngx-intl-tel-input id="ngx-telinput-phone" style="width: 100%;" formControlName="phone"
                        [cssClass]="'form-control'" [enableAutoCountrySelect]="true" [enablePlaceholder]="true"
                        (keyup)="errorsPhoneOccurred()">
    </ngx-intl-tel-input>
    <div class="input-error" *ngIf="errorGroup[1].error !== ''">
      <p>{{translate(errorGroup[1].error)}}</p>
    </div>
  </div>
  <div class="input-group location-group">
    <app-select-country [multiple]="false"
                        [hasDanger]="errorGroup[2].error !== ''"
                        [ngStyle]="{width: '100%'}"
                        (eventEmitter)="countryChange($event)">
    </app-select-country>
    <div class="input-error" *ngIf="errorGroup[2].error !== ''">
      <p>{{translate(errorGroup[2].error)}}</p>
    </div>
  </div>
  <div class="form-check">
    <label class="form-check-label">
      <input name="cgu" class="form-check-input" type="checkbox" autocomplete="off" formControlName="cgu" #cgu=""
             [(ngModel)]="model.cguValidated" (change)="errorOccurred(cgu);">
      <span class="form-check-sign"></span>
      <a>{{translate('SIGNUP_LAYOUT/CGU')}}</a>
    </label>
    <div class="input-error text-center" *ngIf="errorGroup[3].error !== ''">
      <p>{{translate(errorGroup[3].error)}}</p>
    </div>
  </div>
  <div class="text-center form-footer">
    <div class="row">
      <div class="col-lg-6">
        <button type="button" class="btn btn-round btn-lg bk-color-green"
                (click)="prev();">{{translate('SIGNUP_LAYOUT/PREVIOUS')}}</button>
      </div>
      <div class="col-lg-6">
        <button type="submit" [disabled]="!formGroup.valid" class="btn btn-round btn-lg bk-color-green"
                (click)="fillData(); next();">{{translate('SIGNUP_LAYOUT/REGISTER_BUTTON')}}
        </button>
      </div>
    </div>
  </div>
</form>
