<div class="row mb-5 ml-3 mr-3">
  <div class="col-lg-12">
    <p>These terms of service govern your access to and use of the Share Your Dreams (SYD) website, applications, APIs, and
      widgets.</p>
    <p>Please read these terms of service carefully, and contact us if you have any questions.
      By accessing or using SYD, you agree to be bound by these Terms of Service, our privacy policy, our cookies policy
      and our community guidelines.</p>
  </div>
</div>
<div class="row ml-3 mr-3 mb-4">
  <div class="col-lg-4" [id]="'terms-of-use-1'">
    <h4 class="privacy-policies-topic-subtitle"><span>1.</span>Terms of use - Title 1</h4>
  </div>
  <div class="col-lg-8">
    <h5 class="privacy-policies-topic-subsubtitle"><span>a.</span>Sub Sub Title</h5>
    <p>deserunt voluptatibus? Dolor velit labore amet voluptate impedit tenetur exercitationem facere corporis
      esse, maiores deleniti, non aut, consectetur quia fugit magni quod eum asperiores eius error! Asperiores
      vel ratione consequuntur accusantium ipsam, repudiandae, blanditiis necessitatibus aspernatur iusto esse
      eum commodi quidem iure error voluptatum architecto dolorem? Dignissimos repellat blanditiis deserunt, non
      asperiores beatae assumenda adipisci corporis vitae quia architecto labore distinctio ullam accusamus
      autem
      vel molestiae? Explicabo reiciendis impedit libero et eligendi odit similique eveniet nihil quo, iure,
      assumenda accusamus ipsum deleniti ea, tempore temporibus corporis expedita. Accusamus eum deleniti in
      dolorum explicabo, debitis tempora ut. Ullam adipisci corrupti ipsam ipsa inventore iure placeat
      laudantiuml
      aliquid quos. Facere saepe culpa dicta voluptas corrupti ullam?</p>
  </div>
</div>
<div class="row ml-3 mr-3 mb-4">
  <div class="col-lg-4" [id]="'terms-of-use-2'">
    <h4 class="privacy-policies-topic-subtitle"><span>2.</span>Terms of use - Title 2</h4>
  </div>
  <div class="col-lg-8">
    <h5 class="privacy-policies-topic-subsubtitle"><span>a.</span>Sub Sub Title</h5>
    <p>deserunt voluptatibus? Dolor velit labore amet voluptate impedit tenetur exercitationem facere corporis
      esse, maiores deleniti, non aut, consectetur quia fugit magni quod eum asperiores eius error! Asperiores
      vel ratione consequuntur accusantium ipsam, repudiandae, blanditiis necessitatibus aspernatur iusto esse
      eum commodi quidem iure error voluptatum architecto dolorem? Dignissimos repellat blanditiis deserunt, non
      asperiores beatae assumenda adipisci corporis vitae quia architecto labore distinctio ullam accusamus
      autem
      vel molestiae? Explicabo reiciendis impedit libero et eligendi odit similique eveniet nihil quo, iure,
      assumenda accusamus ipsum deleniti ea, tempore temporibus corporis expedita. Accusamus eum deleniti in
      dolorum explicabo, debitis tempora ut. Ullam adipisci corrupti ipsam ipsa inventore iure placeat
      laudantiuml
      aliquid quos. Facere saepe culpa dicta voluptas corrupti ullam?</p>
  </div>
</div>
<div class="row ml-3 mr-3 mb-4">
  <div class="col-lg-4" [id]="'terms-of-use-3'">
    <h4 class="privacy-policies-topic-subtitle"><span>3.</span>Terms of use - Title 3</h4>
  </div>
  <div class="col-lg-8">
    <h5 class="privacy-policies-topic-subsubtitle"><span>a.</span>Sub Sub Title</h5>
    <p>deserunt voluptatibus? Dolor velit labore amet voluptate impedit tenetur exercitationem facere corporis
      esse, maiores deleniti, non aut, consectetur quia fugit magni quod eum asperiores eius error! Asperiores
      vel ratione consequuntur accusantium ipsam, repudiandae, blanditiis necessitatibus aspernatur iusto esse
      eum commodi quidem iure error voluptatum architecto dolorem? Dignissimos repellat blanditiis deserunt, non
      asperiores beatae assumenda adipisci corporis vitae quia architecto labore distinctio ullam accusamus
      autem
      vel molestiae? Explicabo reiciendis impedit libero et eligendi odit similique eveniet nihil quo, iure,
      assumenda accusamus ipsum deleniti ea, tempore temporibus corporis expedita. Accusamus eum deleniti in
      dolorum explicabo, debitis tempora ut. Ullam adipisci corrupti ipsam ipsa inventore iure placeat
      laudantiuml
      aliquid quos. Facere saepe culpa dicta voluptas corrupti ullam?</p>
  </div>
</div>
<div class="row ml-3 mr-3 mb-4">
  <div class="col-lg-4" [id]="'terms-of-use-4'">
    <h4 class="privacy-policies-topic-subtitle"><span>4.</span>Terms of use - Title 4</h4>
  </div>
  <div class="col-lg-8">
    <h5 class="privacy-policies-topic-subsubtitle"><span>a.</span>Sub Sub Title</h5>
    <p>deserunt voluptatibus? Dolor velit labore amet voluptate impedit tenetur exercitationem facere corporis
      esse, maiores deleniti, non aut, consectetur quia fugit magni quod eum asperiores eius error! Asperiores
      vel ratione consequuntur accusantium ipsam, repudiandae, blanditiis necessitatibus aspernatur iusto esse
      eum commodi quidem iure error voluptatum architecto dolorem? Dignissimos repellat blanditiis deserunt, non
      asperiores beatae assumenda adipisci corporis vitae quia architecto labore distinctio ullam accusamus
      autem
      vel molestiae? Explicabo reiciendis impedit libero et eligendi odit similique eveniet nihil quo, iure,
      assumenda accusamus ipsum deleniti ea, tempore temporibus corporis expedita. Accusamus eum deleniti in
      dolorum explicabo, debitis tempora ut. Ullam adipisci corrupti ipsam ipsa inventore iure placeat
      laudantiuml
      aliquid quos. Facere saepe culpa dicta voluptas corrupti ullam?</p>
  </div>
</div>
<div class="row ml-3 mr-3 mb-4">
  <div class="col-lg-4" [id]="'terms-of-use-5'">
    <h4 class="privacy-policies-topic-subtitle"><span>5.</span>Terms of use - Title 5</h4>
  </div>
  <div class="col-lg-8">
    <h5 class="privacy-policies-topic-subsubtitle"><span>a.</span>Sub Sub Title</h5>
    <p>deserunt voluptatibus? Dolor velit labore amet voluptate impedit tenetur exercitationem facere corporis
      esse, maiores deleniti, non aut, consectetur quia fugit magni quod eum asperiores eius error! Asperiores
      vel ratione consequuntur accusantium ipsam, repudiandae, blanditiis necessitatibus aspernatur iusto esse
      eum commodi quidem iure error voluptatum architecto dolorem? Dignissimos repellat blanditiis deserunt, non
      asperiores beatae assumenda adipisci corporis vitae quia architecto labore distinctio ullam accusamus
      autem
      vel molestiae? Explicabo reiciendis impedit libero et eligendi odit similique eveniet nihil quo, iure,
      assumenda accusamus ipsum deleniti ea, tempore temporibus corporis expedita. Accusamus eum deleniti in
      dolorum explicabo, debitis tempora ut. Ullam adipisci corrupti ipsam ipsa inventore iure placeat
      laudantiuml
      aliquid quos. Facere saepe culpa dicta voluptas corrupti ullam?</p>
  </div>
</div>
<div class="row ml-3 mr-3 mb-4">
  <div class="col-lg-4" [id]="'terms-of-use-6'">
    <h4 class="privacy-policies-topic-subtitle"><span>6.</span>Terms of use - Title 6</h4>
  </div>
  <div class="col-lg-8">
    <h5 class="privacy-policies-topic-subsubtitle"><span>a.</span>Sub Sub Title</h5>
    <p>deserunt voluptatibus? Dolor velit labore amet voluptate impedit tenetur exercitationem facere corporis
      esse, maiores deleniti, non aut, consectetur quia fugit magni quod eum asperiores eius error! Asperiores
      vel ratione consequuntur accusantium ipsam, repudiandae, blanditiis necessitatibus aspernatur iusto esse
      eum commodi quidem iure error voluptatum architecto dolorem? Dignissimos repellat blanditiis deserunt, non
      asperiores beatae assumenda adipisci corporis vitae quia architecto labore distinctio ullam accusamus
      autem
      vel molestiae? Explicabo reiciendis impedit libero et eligendi odit similique eveniet nihil quo, iure,
      assumenda accusamus ipsum deleniti ea, tempore temporibus corporis expedita. Accusamus eum deleniti in
      dolorum explicabo, debitis tempora ut. Ullam adipisci corrupti ipsam ipsa inventore iure placeat
      laudantiuml
      aliquid quos. Facere saepe culpa dicta voluptas corrupti ullam?</p>
  </div>
</div>
<div class="row ml-3 mr-3 mb-4">
  <div class="col-lg-4" [id]="'terms-of-use-7'">
    <h4 class="privacy-policies-topic-subtitle"><span>7.</span>Terms of use - Title 7</h4>
  </div>
  <div class="col-lg-8">
    <h5 class="privacy-policies-topic-subsubtitle"><span>a.</span>Sub Sub Title</h5>
    <p>deserunt voluptatibus? Dolor velit labore amet voluptate impedit tenetur exercitationem facere corporis
      esse, maiores deleniti, non aut, consectetur quia fugit magni quod eum asperiores eius error! Asperiores
      vel ratione consequuntur accusantium ipsam, repudiandae, blanditiis necessitatibus aspernatur iusto esse
      eum commodi quidem iure error voluptatum architecto dolorem? Dignissimos repellat blanditiis deserunt, non
      asperiores beatae assumenda adipisci corporis vitae quia architecto labore distinctio ullam accusamus
      autem
      vel molestiae? Explicabo reiciendis impedit libero et eligendi odit similique eveniet nihil quo, iure,
      assumenda accusamus ipsum deleniti ea, tempore temporibus corporis expedita. Accusamus eum deleniti in
      dolorum explicabo, debitis tempora ut. Ullam adipisci corrupti ipsam ipsa inventore iure placeat
      laudantiuml
      aliquid quos. Facere saepe culpa dicta voluptas corrupti ullam?</p>
  </div>
</div>
<div class="row ml-3 mr-3 mb-4">
  <div class="col-lg-4" [id]="'terms-of-use-8'">
    <h4 class="privacy-policies-topic-subtitle"><span>8.</span>Terms of use - Title 8</h4>
  </div>
  <div class="col-lg-8">
    <h5 class="privacy-policies-topic-subsubtitle"><span>a.</span>Sub Sub Title</h5>
    <p>deserunt voluptatibus? Dolor velit labore amet voluptate impedit tenetur exercitationem facere corporis
      esse, maiores deleniti, non aut, consectetur quia fugit magni quod eum asperiores eius error! Asperiores
      vel ratione consequuntur accusantium ipsam, repudiandae, blanditiis necessitatibus aspernatur iusto esse
      eum commodi quidem iure error voluptatum architecto dolorem? Dignissimos repellat blanditiis deserunt, non
      asperiores beatae assumenda adipisci corporis vitae quia architecto labore distinctio ullam accusamus
      autem
      vel molestiae? Explicabo reiciendis impedit libero et eligendi odit similique eveniet nihil quo, iure,
      assumenda accusamus ipsum deleniti ea, tempore temporibus corporis expedita. Accusamus eum deleniti in
      dolorum explicabo, debitis tempora ut. Ullam adipisci corrupti ipsam ipsa inventore iure placeat
      laudantiuml
      aliquid quos. Facere saepe culpa dicta voluptas corrupti ullam?</p>
  </div>
</div>
