<div mat-dialog-content id="event-participate">
  <h3 class="color-green">{{data?.event?.information?.name}}</h3>
  <p>
    Moyenne des tokens misés : {{avgTokens.toString().replace(this.thousandSeparator, ' ')}}
  </p>
  <p>
    Total des tokens cumulés : {{totalTokens.toString().replace(thousandSeparator, ' ')}}
  </p>
  <div class="bet-description">
    <span>Une mise de </span>
    <input class="no-arrows" type="number" min="100" step="100" (change)="changeTokensAmmount($event)"
           placeholder="ex: 100" [value]="tokenAmount" matInput>
    <span> tokens vous apporte {{winRate}}
      % de chances de gagner</span>
  </div>
  <h3 class="color-green">
    Comment souhaitez-vous répartir vos gains :
  </h3>
  <div class="token-repartition">
    <div>
      <span>
        {{repartition}}% pour {{data?.owner?.username}}
      </span>
    </div>
    <div>
      <mat-slider step="1" min="25" max="75" value="{{repartition}}" (valueChange)="setRepartiton($event)"></mat-slider>
    </div>
    <div>
      <span>
        {{100 - repartition}}% pour {{data?.assocoation.name}}
      </span>
    </div>
  </div>
</div>
<div mat-dialog-actions>
  <button class="btn btn-round btn-lg" (click)="participate()">Participate</button>
</div>
