.phone-container img {
  width: 100%;
}

.features-2,
.features-1,
.features-3 {
  text-align: center;
}

.features-4 .card {
  margin-top: 70px;
}

.features-2 .info-title,
.features-2 .title {
  color: #FFFFFF;
}

.features-5 .info {
  max-width: none;
  margin: 0 auto;
  padding: 10px 0 0px;
}

.features-5 .phone-container {
  max-width: 200px;
  margin: 0 auto;
}

.features-6 .phone-container {
  max-width: 260px;
  margin: 60px auto 0;
}

.features-6 .info {
  max-width: none;
  margin: 0 auto;
  padding: 10px 0 0px;
}

.features-6 .info:first-child {
  padding-top: 130px;
}

.features-7,
.features-2,
.features-8 {
  position: relative;
}

.features-7:after,
.features-2:after,
.features-8:after {
  display: block;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.5);
}

.features-7 .container,
.features-7 .container-fluid,
.features-7 .title,
.features-7 .description,
.features-2 .container,
.features-2 .container-fluid,
.features-2 .title,
.features-2 .description,
.features-8 .container,
.features-8 .container-fluid,
.features-8 .title,
.features-8 .description {
  position: relative;
  z-index: 2;
}

.features-8 .title,
.features-7 .title {
  color: #FFFFFF;
}

.features-8 .title + .description {
  margin-bottom: 70px;
}

.features-7 {
  overflow: hidden;
}

.features-7 .info-title {
  color: #FFFFFF;
}

.features-7 .info-horizontal {
  padding: 15px 0 0;
}

.features-7 .info-horizontal:first-child {
  padding-top: 45px;
}

.features-7 .image-container {
  max-width: 1200px;
  position: relative;
  height: 550px;
  margin-top: 58px;
}

.features-7 .image-container img {
  max-width: 1200px;
  left: 100px;
  top: 0;
  height: 100%;
  position: absolute;
}

.tablet-container {
  margin-top: 40px;
}
