.page-header .carousel .carousel-indicators {
  bottom: 60px;
}

.page-header .container {
  color: #FFFFFF;
}

.page-header .title {
  color: #FFFFFF;
}

.page-header.header-small {
  height: 65vh;
  min-height: 65vh;
}

.page-header.header-small .container {
  padding-top: 20vh;
}

.header-filter {
  position: relative;
}

.header-filter .container {
  z-index: 2;
  position: relative;
}

.clear-filter:before {
  display: none;
}

.iframe-container iframe {
  width: 100%;
  box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.3);
}

.header-1 .wrapper,
.header-2 .wrapper,
.header-3 .wrapper {
  background: #CCCCCC;
}

.header-1 .content-center,
.header-2 .content-center,
.header-3 .content-center {
  max-width: none !important;
}

.header-2 .page-header .card,
.header-1 .page-header .card {
  margin-top: 60px;
}

.header-3 .btn {
  margin: 0;
}

.header-3 h6 {
  margin-bottom: 0;
}
