.pricing-1 h2.title {
  margin-bottom: 10px;
}

.pricing-1 .card-separator {
  width: 1px;
  display: block;
  height: 100%;
  background-color: rgba(136, 136, 136, 0.2);
  position: absolute;
  left: 0;
  top: 0;
}

.pricing-2 .nav-pills {
  margin-bottom: 50px;
}

.pricing-5 ngb-tabset .tab-content {
  width: 100%;
}

.pricing-3 .title,
.pricing-4 .title {
  margin-bottom: 10px;
}
