.projects-1 .card-title {
  margin-top: 10px;
}

.projects-2 h2.title {
  margin-top: 5px;
  margin-bottom: 15px;
}

.projects-2 .card-title {
  margin-bottom: 5px;
}

.projects-2 .category {
  color: #888888;
  margin-top: 5px;
}

.projects-2 .card-description {
  margin-top: 20px;
}

.projects-2 .card {
  text-align: center;
}

.projects-3 h2.title,
.projects-3 h3.title {
  margin-bottom: 80px;
  margin-top: 5px;
}

.projects-3 .card {
  margin-bottom: 30px;
  text-align: center;
}

.projects-3 .category {
  margin-bottom: 5px;
}

.projects-3 .card-title {
  margin-top: 10px;
}

.projects-5 h2.title {
  margin-top: 5px;
  margin-bottom: 15px;
}

.projects-5 .info {
  padding: 0;
}

.projects-5 .info p {
  margin: 0;
}

.projects-5 .card-background {
  margin-bottom: 0;
}

.projects-5 .card-background .card-body {
  padding-top: 140px;
  padding-bottom: 140px;
}

.projects-5 hr {
  margin: 70px auto;
  max-width: 970px;
}
