.social-line-big-icons [class*=col-] {
  border-right: 1px solid #E3E3E3;
}

.social-line-big-icons [class*=col-]:last-child {
  border: 0;
}

.social-line-big-icons .btn {
  margin: 0;
  width: 100%;
  padding-top: 30px !important;
  padding-bottom: 30px !important;
  height: auto;
}

.social-line-big-icons .btn .fa {
  font-size: 25px;
}

.social-line {
  padding: 0.85rem 0;
}

.subscribe-line {
  padding: 30px 0;
}

.subscribe-line .card {
  margin-top: 54px;
}

.subscribe-line .card .card-block {
  min-height: auto;
}

.subscribe-line.subscribe-line-image {
  position: relative;
  background-position: center center;
  background-size: cover;
}

.subscribe-line.subscribe-line-image .description {
  color: rgba(255, 255, 255, 0.8);
}

.subscribe-line.subscribe-line-image .title {
  color: #FFFFFF;
}

.subscribe-line.subscribe-line-image:after {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  display: block;
  left: 0;
  top: 0;
  content: "";
  background-color: rgba(0, 0, 0, 0.66);
}

.subscribe-line.subscribe-line-image .container {
  z-index: 2;
  position: relative;
}

.social-line-white,
.subscribe-line-white {
  background-color: #FFFFFF;
}

.social-line-black,
.subscribe-line-black {
  background-color: #2c2c2c;
}

.social-line-black [class*=col-],
.subscribe-line-black [class*=col-] {
  border-color: rgba(255, 255, 255, 0.1);
}

[data-background-color] .social-line h1, [data-background-color] .social-line h2, [data-background-color] .social-line h3, [data-background-color] .social-line h4, [data-background-color] .social-line h5, [data-background-color] .social-line h6 {
  color: initial;
}

[data-background-color] .social-line .btn.btn-simple {
  border: 0;
}
