.team-2 .card .card-title {
  margin: 10px 0 0;
}

.team-2 .card h6 {
  margin-top: 5px;
}

.team-2 [class*=col-md-]:nth-child(2) {
  margin-top: 45px;
}

.team-3 .card.card-profile .card-image a > img {
  border-radius: 0;
  border-bottom-left-radius: 0.1875rem;
  border-top-left-radius: 0.1875rem;
}

.team-3 .card.card-profile .card-title {
  margin-top: 15px;
}

.team-4 .card {
  text-align: left;
}

.team-4 .card .footer {
  margin-top: 0;
}

.team-5 h5.description {
  margin-bottom: 100px;
}

.team-5 [class*=col-md-] {
  margin-top: 50px;
}

.team-5 [class*=col-md-]:nth-child(2) {
  margin-top: 95px;
}

.team-5 .card.card-profile .card-title + .category {
  margin-bottom: 0.625rem;
}
