.testimonials-1 .description {
  margin-bottom: 50px;
}

.section-testimonials,
.testimonials-2 {
  background-image: none;
}

.section-testimonials .card-profile .card-title,
.section-testimonials .card-profile .card-description,
.testimonials-2 .card-profile .card-title,
.testimonials-2 .card-profile .card-description {
  text-align: left !important;
}

.section-testimonials .card-image,
.testimonials-2 .card-image {
  margin: 0;
}

.section-testimonials .carousel .carousel-inner,
.testimonials-2 .carousel .carousel-inner {
  box-shadow: none;
}

.section-testimonials .carousel .carousel-control-next span,
.testimonials-2 .carousel .carousel-control-next span {
  background-image: none !important;
}

.section-testimonials .carousel .carousel-control-next span:after,
.testimonials-2 .carousel .carousel-control-next span:after {
  content: "";
  color: #444;
  display: inline-block;
  font: normal normal normal 14px/1 "Nucleo Outline";
  font-size: inherit;
  speak: none;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.section-testimonials .carousel .carousel-control-prev span,
.testimonials-2 .carousel .carousel-control-prev span {
  background-image: none !important;
}

.section-testimonials .carousel .carousel-control-prev span:after,
.testimonials-2 .carousel .carousel-control-prev span:after {
  content: "";
  color: #444;
  display: inline-block;
  font: normal normal normal 14px/1 "Nucleo Outline";
  font-size: inherit;
  speak: none;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.section-testimonials .testimonials-people,
.testimonials-2 .testimonials-people {
  position: relative;
}

.section-testimonials .testimonials-people img,
.testimonials-2 .testimonials-people img {
  position: absolute;
  border-radius: 50%;
  z-index: 4;
}

.section-testimonials .testimonials-people .left-first-person,
.testimonials-2 .testimonials-people .left-first-person {
  left: 2%;
  top: 2%;
  height: 70px;
  width: 70px;
}

.section-testimonials .testimonials-people .left-second-person,
.testimonials-2 .testimonials-people .left-second-person {
  left: 65%;
  top: 100%;
  height: 70px;
  width: 70px;
}

.section-testimonials .testimonials-people .left-third-person,
.testimonials-2 .testimonials-people .left-third-person {
  left: -25%;
  top: 135%;
  height: 120px;
  width: 120px;
}

.section-testimonials .testimonials-people .left-fourth-person,
.testimonials-2 .testimonials-people .left-fourth-person {
  left: 40%;
  top: 180%;
  height: 40px;
  width: 40px;
}

.section-testimonials .testimonials-people .left-fifth-person,
.testimonials-2 .testimonials-people .left-fifth-person {
  left: 95%;
  top: 220%;
  height: 45px;
  width: 45px;
}

.section-testimonials .testimonials-people .left-sixth-person,
.testimonials-2 .testimonials-people .left-sixth-person {
  left: 40%;
  top: 265%;
  height: 95px;
  width: 95px;
}

.section-testimonials .testimonials-people .right-first-person,
.testimonials-2 .testimonials-people .right-first-person {
  right: 2%;
  top: 0;
  height: 60px;
  width: 60px;
}

.section-testimonials .testimonials-people .right-second-person,
.testimonials-2 .testimonials-people .right-second-person {
  right: 30%;
  top: 60%;
  height: 70px;
  width: 70px;
}

.section-testimonials .testimonials-people .right-third-person,
.testimonials-2 .testimonials-people .right-third-person {
  right: 95%;
  top: 95%;
  height: 50px;
  width: 50px;
}

.section-testimonials .testimonials-people .right-fourth-person,
.testimonials-2 .testimonials-people .right-fourth-person {
  right: 66%;
  top: 145%;
  height: 40px;
  width: 40px;
}

.section-testimonials .testimonials-people .right-fifth-person,
.testimonials-2 .testimonials-people .right-fifth-person {
  right: 90%;
  top: 210%;
  height: 100px;
  width: 100px;
}

.section-testimonials .testimonials-people .right-sixth-person,
.testimonials-2 .testimonials-people .right-sixth-person {
  right: 15%;
  top: 240%;
  height: 70px;
  width: 70px;
}
