<div class="modal-settings">
  <div class="modal-header">
    <h4 class="modal-title">{{translate('MODAL_SETTINGS/SETTINGS')}}</h4>
    <button type="button" class="close" (click)="close()">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div class="modal-body" *ngIf="meModified != null">
    <div class="modal-body-top-50">
      <div class="row m-0 mb-3">
        <div>
          <div class="card change-photos">

            <img *ngIf="images.get('background')" (click)="b1.click()" [src]="images.get('background')"
                 class="settings-background"/>

            <div class="change-profile-container">
              <div>
                <img *ngIf="images.get('profile')" (click)="p1.click()" [src]="images.get('profile')"
                     class="settings-profile"/>
              </div>
              <input #b1="" (change)="loadImage($event, 'background')" type="file" name="backgroundB"
                     accept="image/*" class="d-none" hidden/>
              <input #p1="" (change)="loadImage($event, 'profile')" type="file" name="profileB" accept="image/*"
                     class="d-none" hidden/>

              <p>{{meModified.username}}</p>
            </div>
            <p style="font-size: small">{{translate('MODAL_SETTINGS/BANNER_CONSTRAINT')}}</p>
          </div>
          <h5>{{translate('MODAL_SETTINGS/PERSONAL_INFOS')}}</h5>
          <div class="card modal-box-name" [formGroup]="formGroup">

            <div class="input-group" [class.input-group-focus]="isFocused(firstname)"
                 [class.has-danger]="errorGroup[0].error !== ''">
              <input class="form-control m-2 input-settings" [class.w-75]="isMobile()" [class.w-25]="!isMobile()"
                     #firstname="" (focus)="isFocused(firstname)" (blur)="isFocused(firstname)" type="text"
                     formControlName="firstname"
                     name="firstname"
                     [placeholder]="translate('MODAL_SETTINGS/FIRSTNAME')"
                     [(ngModel)]="meModified.firstName"
                     (keyup)="errorOccurred(firstname)">
              <div class="input-error" *ngIf="errorGroup[0].error !== ''">
                <p>{{translate(errorGroup[0].error)}}</p>
              </div>
            </div>

            <div class="input-group" [class.input-group-focus]="isFocused(lastname)"
                 [class.has-danger]="errorGroup[1].error !== ''">
              <input class="form-control m-2 input-settings" [class.w-75]="isMobile()" [class.w-25]="!isMobile()"
                     #lastname="" (focus)="isFocused(lastname)" (blur)="isFocused(lastname)" type="text"
                     formControlName="lastname"
                     [placeholder]="translate('MODAL_SETTINGS/LASTNAME')"
                     name="lastname"
                     [(ngModel)]="meModified.lastName"
                     (keyup)="errorOccurred(lastname)">
              <div class="input-error" *ngIf="errorGroup[1].error !== ''">
                <p>{{translate(errorGroup[1].error)}}</p>
              </div>
            </div>

            <div class="input-group" [class.input-group-focus]="isFocused(username)"
                 [class.has-danger]="errorGroup[2].error !== ''">
              <input class="form-control m-2 input-settings" [class.w-75]="isMobile()" [class.w-25]="!isMobile()"
                     #username="" (focus)="isFocused(username)" (blur)="isFocused(username)" type="text"
                     formControlName="username"
                     [placeholder]="translate('MODAL_SETTINGS/USERNAME')"
                     name="username"
                     [(ngModel)]="meModified.username"
                     (keyup)="errorOccurred(username)">
              <div class="input-error" *ngIf="errorGroup[2].error !== ''">
                <p>{{translate(errorGroup[2].error)}}</p>
              </div>
            </div>

            <div class="input-group" [class.input-group-focus]="isFocused(birthday)"
                 [class.has-danger]="errorGroup[3].error !== ''">
              <input class="form-control m-2 input-settings" [class.w-75]="isMobile()" [class.w-25]="!isMobile()"
                     #birthday="" (focus)="isFocused(birthday)" (blur)="isFocused(birthday)" type="text"
                     formControlName="birthday"
                     [placeholder]="translate('MODAL_SETTINGS/BIRTHDAY')"
                     name="birthday"
                     (keyup)="replaceDateValue($event)"
                     [(ngModel)]="meModified.birthday"
                     (keyup)="errorOccurred(birthday)">
              <div class="input-error" *ngIf="errorGroup[3].error !== ''">
                <p>{{translate(errorGroup[3].error)}}</p>
              </div>
            </div>

            <div class="input-group" [class.input-group-focus]="isFocused(email)"
                 [class.has-danger]="errorGroup[4].error !== ''">
              <input class="form-control m-2 input-settings" [class.w-75]="isMobile()" [class.w-25]="!isMobile()"
                     #email="" (focus)="isFocused(email)" (blur)="isFocused(email)" type="text" formControlName="email"
                     [placeholder]="translate('MODAL_SETTINGS/EMAIL')"
                     name="email"
                     [(ngModel)]="meModified.email"
                     (keyup)="errorOccurred(email)">
              <div class="input-error" *ngIf="errorGroup[4].error !== ''">
                <p>{{translate(errorGroup[4].error)}}</p>
              </div>
            </div>

            <div class="input-group" [class.has-danger]="errorGroup[5].error !== ''">
              <ngx-intl-tel-input id="ngx-telinput-phone" style="margin: .5rem!important;" formControlName="phone"
                                  [cssClass]="'form-control  input-settings phone-padding'"
                                  [enableAutoCountrySelect]="true"
                                  [enablePlaceholder]="true"
                                  [(ngModel)]="phone.number"
                                  (keyup)="errorsPhoneOccurred()">
              </ngx-intl-tel-input>
              <div class="input-error" *ngIf="errorGroup[5].error !== ''">
                <p>{{translate(errorGroup[5].error)}}</p>
              </div>
            </div>

            <app-select-country style="margin: .5rem!important" class=" m-2 input-settings" [multiple]="false"
                                (autocomplete)="false"
                                [ngStyle]="{width: '100%'}"
                                [selected]="meModified?.location?.countryCode"
                                (eventEmitter)="countryChange($event)">
            </app-select-country>
          </div>

          <div class="change-password-container">
            <h5 class="password-title">{{translate('MODAL_SETTINGS/CHANGE_PASSWORD')}}</h5>
            <div class="card modal-box-name">
              <input class="form-control m-2 input-settings" [class.w-75]="isMobile()" [class.w-25]="!isMobile()"
                     type="password" name="newPassword" autocomplete="off"
                     [placeholder]="translate('MODAL_SETTINGS/PASSWORD')"
                     [(ngModel)]="password.password">

              <input class="form-control m-2 input-settings" [class.w-75]="isMobile()" [class.w-25]="!isMobile()"
                     type="password" name="confirmNewPassword" autocomplete="off"
                     [placeholder]="translate('MODAL_SETTINGS/CONFIRM_PASSWORD')"
                     [(ngModel)]="password.confirmPassword">
            </div>
          </div>

          <div class="settings-footer">
            <div class="save-personal">
              <button [disabled]="!formGroup.valid" class="btn" (click)="save()">
                {{translate('MODAL_SETTINGS/SAVE')}}
              </button>
              <button class="ml-2 btn" (click)="close()">
                {{translate('MODAL_SETTINGS/CLOSE')}}
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
