<div class="wrapper event-layout-page-content">
  <div class="col-lg-12 banner" #blurredBanner [style.backgroundImage]="'url(' + bannerImage + ')'">
  </div>
  <div class="col-lg-8 col-md-10 col-sm-12 container infos-container">
    <div class="header row">
      <div class="col-lg-7 col-md-12 col-sm-12 banner"
           #banner
           [style.backgroundImage]="'url(' + bannerImage + ')'">
      </div>
      <div class="col-lg-5 col-md-12 col-sm-12 event-owner">
        <div class="col-lg-12 flexcollumn">
          <div class="flexitem">
            <div class="col-lg-1 col-md-1 col-sm-1"></div>
            <div class="col-lg-4 col-md-4 col-sm-4 label profile-picture">
              <div class="div-img" (click)="navigateTo('/user/profile/' + influencer.id)"
                   [style.backgroundImage]="'url(' + influencerImage + ')'"></div>
              <h6>{{ influencer?.username }}</h6>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 label">
              <h6>
                Pour
              </h6>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 label profile-picture"
                 (click)="navigateTo('/association/' + association.name, {id: association.id})">
              <div class="div-img" [style.backgroundImage]="'url(' + associationImage + ')'"></div>
            </div>
            <div class="col-lg-1 col-md-1 col-sm-1"></div>
          </div>
          <div class="flexitem n-winers">
            <div class="col-lg-6 text-center">
              <button *ngIf="!ownEvent" type="submit" class="btn">
                {{ translate('EVENTS_LAYOUT/INFLUENCER_FOLLOW') }}
              </button>
              <button *ngIf="ownEvent" type="submit" class="btn"
                      (click)="navigateTo('/event/' + eventId + '/edit')">
                {{ translate('EVENTS_LAYOUT/EDIT_EVENT') }}
              </button>
            </div>
            <h3 class="col-lg-6 color-green">
              {{ event?.lotteriesSize }} {{ translate('EVENTS_LAYOUT/N_WINNER' + (event?.lotteriesSize > 1 ? 'S' : '')) }}
            </h3>
          </div>
        </div>
      </div>
    </div>
    <div class="event row">
      <div class="col-lg-7">
        <div *ngIf="event?.information?.tags?.length > 0">
          <h4 class="color-green">
            {{ translate('EVENTS_LAYOUT/ASSOCIATED_TAGS') }}
          </h4>
          <div>
            <span class="tag" *ngFor="let item of event?.information?.tags">{{item}}</span>
          </div>
        </div>
        <div>
          <h4 class="color-green first-title">
            {{event?.information?.name}}
          </h4>
          <p>
            {{event?.information?.description}}
          </p>
        </div>
        <div *ngIf="association?.name">
          <h4 class="color-green">
            {{ association?.name }}
          </h4>
          <p>
            {{ association?.description }}
          </p>
        </div>
      </div>
      <div class="col-lg-5 draw-container">
        <h4 class="color-green">
          {{ translate('EVENTS_LAYOUT/DRAW_DATE') }} :
        </h4>
        <h5>
          {{ event?.information?.drawDate | datePipe: 'ISO' : 'LLLL' }}
        </h5>
        <h4 class="color-green">
          {{translate('EVENTS_LAYOUT/EVENT_DATE')}} :
        </h4>
        <h5>
          {{event?.information?.eventDate | datePipe: 'ISO' : 'LLLL'}}
        </h5>
        <h4 class="color-green">
          {{translate('EVENTS_LAYOUT/DRAW_N_PARTICIPANTS')}}
        </h4>
        <h5>
          {{ lotteryParticipants }}
        </h5>
        <div class="col-lg-12 center">
          <button type="submit" class="btn btn-round btn-lg" (click)="participate()">
            {{ translate('EVENTS_LAYOUT/DRAW_PARTICIPATE') }}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
