<div class="share-bar row m-0 w-100">
  <div share-on-facebook="" class="col-lg-4 col-4 text-center">
    <a class="p-3 d-block position-relative border-0" href="{{eventPage?.facebook}}" target="_blank">
      <i class="fab fa-facebook-f"></i>
    </a>
  </div>
  <div share-on-twitter="" class="col-lg-4 col-4 text-center">
    <a class="p-3 d-block position-relative border-0" href="{{eventPage?.twitter}}" target="_blank">
      <i class="fab fa-twitter"></i>
    </a>
  </div>
  <div save-on-bookmark="" class="col-lg-4 col-4 text-center" (click)="saveEvent()"
       [class.event-is-saved]="isEventSaved()">
    <a class="p-3 d-block position-relative border-0">
      <i class="far fa-bookmark"></i>
    </a>
  </div>
</div>
