<h4 *ngIf="step === 0" class="color-green">Select date </h4>
<h4 *ngIf="step === 1" class="color-green">Select time </h4>
<h6>
  Selected date : {{ value.toISOString() | datePipe: 'ISO' : 'LLLL' }}
</h6>
<div class="selectors">
  <div class="date-selection" *ngIf="step === 0" @fadeAnimation>
    <ngb-datepicker [(ngModel)]="date"
                    (dateSelect)="dateSelect($event)"
                    [minDate]="minDate_"
                    [maxDate]="maxDate_">
    </ngb-datepicker>
  </div>
  <div class="time-selection" *ngIf="step === 1" @fadeAnimation>
    <ngb-timepicker [(ngModel)]="time"
                    [spinners]="true"
                    (ngModelChange)="timeSelect($event)"
                    [hourStep]="1"
                    [minuteStep]="15">
    </ngb-timepicker>
  </div>
  <p *ngIf="errors.passedTime" class="small form-text text-danger text-center">
    Selected time cannot be before {{ minDate.toISOString() | datePipe: 'ISO': 'LLLL' }}
  </p>
  <p *ngIf="errors.futureTime" class="small form-text text-danger text-center">
    Selected time cannot be after {{ minDate.toISOString() | datePipe: 'ISO': 'LLLL' }}
  </p>
</div>
<button class="btn btn-round" (click)="back()" [disabled]="step == 0">Back</button>
<button class="btn btn-round" (click)="next()" [disabled]="step == 1 && !validity">Next</button>

