<div class="routing-error">
  <div class="routing-error-notfound">
    <h1>Oops!</h1>
    <div class="routing-error-glitch" data-text="404">
      404
    </div>
    <h2>{{translate('ROUTING_LAYOUT/NOT_FOUND')}}</h2>
    <p>{{translate('ROUTING_LAYOUT/ERROR_MESSAGE')}}</p>
    <a class="btn btn-round" (click)="navigateTo('/')">
      {{translate('ROUTING_LAYOUT/HOME')}}
    </a>
  </div>
</div>
