<form class="form" [formGroup]="formGroup">
  <div class="input-group" [class.input-group-focus]="isFocused(username)"
       [class.has-danger]="errorGroup[0].error !== ''">
    <div class="input-group-prepend" (click)="username.focus()">
      <span class="input-group-text"><i class="far fa-user"></i></span>
    </div>
    <input type="text" class="form-control ng-touched" name="username" autocomplete="off"
           placeholder="{{translate('SIGNUP_LAYOUT/USERNAME')}}" #username=""
           (focus)="isFocused(username)" formControlName="username"
           (blur)="isFocused(username)" [(ngModel)]="model.username"
           (keyup)="errorOccurred(username)"/>
    <div class="input-error" *ngIf="errorGroup[0].error !== ''">
      <p>{{translate(errorGroup[0].error)}}</p>
    </div>
  </div>
  <div class="input-group" [class.input-group-focus]="isFocused(password)"
       [class.has-danger]="errorGroup[1].error !== ''">
    <div class="input-group-prepend" (click)="password.focus()">
      <span class="input-group-text"><i class="fas fa-lock"></i></span>
    </div>
    <input type="password" class="form-control ng-touched" name="password" autocomplete="off"
           placeholder="{{translate('SIGNUP_LAYOUT/PASSWORD')}}" #password=""
           (focus)="isFocused(password)" formControlName="password"
           (blur)="isFocused(password)" [(ngModel)]="model.password"
           (keyup)="errorOccurred(password)"/>
    <div class="input-error" *ngIf="errorGroup[1].error !== ''">
      <p>{{translate(errorGroup[1].error)}}</p>
    </div>
  </div>
  <div class="input-group" [class.input-group-focus]="isFocused(confirmPassword)"
       [class.has-danger]="errorGroup[2].error !== ''">
    <div class="input-group-prepend" (click)="confirmPassword.focus()">
      <span class="input-group-text"><i class="fas fa-lock"></i></span>
    </div>
    <input type="password" class="form-control ng-touched" formControlName="confirmPassword" name="confirmPassword"
           autocomplete="off" placeholder="{{translate('SIGNUP_LAYOUT/CONFIRM_PASSWORD')}}" #confirmPassword=""
           (focus)="isFocused(confirmPassword)" (blur)="isFocused(confirmPassword)"
           [(ngModel)]="model.confirmPassword"
           (keyup)="errorOccurred(confirmPassword)"/>
    <div class="input-error" *ngIf="errorGroup[2].error !== ''">
      <p>{{translate(errorGroup[2].error)}}</p>
    </div>
  </div>
  <div class="text-center form-footer">
    <div class="row">
      <div class="col-lg-6">
        <button type="button" class="btn btn-round btn-lg bk-color-green"
                (click)="prev()">{{translate('SIGNUP_LAYOUT/PREVIOUS')}}</button>
      </div>
      <div class="col-lg-6">
        <button type="submit" [disabled]="!formGroup.valid" (click)="next()"
                class="btn btn-round btn-lg bk-color-green">{{translate('SIGNUP_LAYOUT/NEXT')}}</button>
      </div>
    </div>
  </div>
</form>
