<div class="wrapper">
  <div class="association-entity h-auto" [class.association-edited]="canEdit">
    <div class="row w-100">

      <div class="col-lg-5 text-center h-100 association-information">

        <div class="d-block w-100 top-50">
          <h3 *ngIf="!canEdit">{{association?.current?.name}}</h3>

          <div class="input-group mb-5 left-50" [class.input-group-focus]="isFocused(name)"
               *ngIf="canEdit && association.current" [ngStyle]="{width: '50%'}">
            <div class="input-group-prepend" (click)="name.focus()">
              <span class="input-group-text bg-white"><i class="fas fa-pen"></i></span>
            </div>
            <input type="text" [placeholder]="'Association\'s name'" name="name" autocomplete="off"
                   class="form-control ng-touched bg-white" #name="" (blur)="patchName()"
                   [(ngModel)]="association.current.name" [ngStyle]="{marginLeft: '-1px'}"/>
            <span class="d-inline-block ml-3 association-input-check" *ngIf="isFocused(name)">
                <i class="fas fa-check"></i>
              </span>
          </div>

          <div class="d-inline-block w-75" [class.w-100]="canEdit">

            <div class="w-100 d-block text-left mb-2" *ngIf="!canEdit">
              <i class="fas fa-map-marker-alt align-middle d-inline-block mr-3 big position-absolute top-50"></i>
              <p class="d-inline-block align-middle m-0" style="margin-left: calc(50px + 1rem) !important">
                {{association?.current?.location?.streetAddress}} {{association?.current?.location?.zipCode}} {{association?.current?.location?.city}}
                , {{association?.current?.location?.country}}
              </p>
            </div>

            <div class="row pl-3" *ngIf="canEdit">
              <div class="col-lg-6 text-left">
                <div class="input-group mb-2 w-75 left-50" [class.input-group-focus]="isFocused(streetAddress)"
                     *ngIf="canEdit && association.current" [ngStyle]="{width: '50%'}">
                  <div class="input-group-prepend" (click)="streetAddress.focus()">
                    <span class="input-group-text bg-white"><i class="fas fa-pen"></i></span>
                  </div>
                  <input type="text" [placeholder]="'Street address'" name="streetAddress" autocomplete="off"
                         class="form-control ng-touched bg-white" #streetAddress="" (blur)="patchLocation()"
                         [(ngModel)]="association.current.location.streetAddress" [ngStyle]="{marginLeft: '-1px'}"/>
                  <span class="d-inline-block ml-3 association-input-check text-center"
                        *ngIf="isFocused(streetAddress)">
                    <i class="fas fa-check"></i>
                  </span>
                </div>


                <div class="input-group mb-2 w-75 left-50" [class.input-group-focus]="isFocused(zipCode)"
                     *ngIf="canEdit && association.current" [ngStyle]="{width: '50%'}">
                  <div class="input-group-prepend" (click)="zipCode.focus()">
                    <span class="input-group-text bg-white"><i class="fas fa-pen"></i></span>
                  </div>
                  <input type="text" [placeholder]="'Zip Code'" name="zipCde" autocomplete="off"
                         class="form-control ng-touched bg-white" #zipCode="" (blur)="patchLocation()"
                         [(ngModel)]="association.current.location.zipCode" [ngStyle]="{marginLeft: '-1px'}"/>
                  <span class="d-inline-block ml-3 association-input-check text-center" *ngIf="isFocused(zipCode)">
                    <i class="fas fa-check"></i>
                  </span>
                </div>
              </div>

              <div class="col-lg-6 text-left">
                <div class="input-group mb-2 w-75 left-50" [class.input-group-focus]="isFocused(city)"
                     *ngIf="canEdit && association.current" [ngStyle]="{width: '50%'}">
                  <div class="input-group-prepend" (click)="city.focus()">
                    <span class="input-group-text bg-white"><i class="fas fa-pen"></i></span>
                  </div>
                  <input type="text" [placeholder]="'City'" name="city" autocomplete="off"
                         class="form-control ng-touched bg-white" #city="" (blur)="patchLocation()"
                         [(ngModel)]="association.current.location.city" [ngStyle]="{marginLeft: '-1px'}"/>
                  <span class="d-inline-block ml-3 association-input-check text-center" *ngIf="isFocused(city)">
                    <i class="fas fa-check"></i>
                  </span>
                </div>

                <div class="input-group location-group" *ngIf="canEdit && association.current"
                     [ngStyle]="{overflow: 'visible', 'z-index': 1000}">
                  <app-select-country class="left-50"
                                      [multiple]="false"
                                      [ngStyle]="{width: '75%'}"
                                      [selected]="association?.current?.location?.countryCode"
                                      (eventEmitter)="patchLocation($event)">
                  </app-select-country>
                </div>
              </div>

            </div>

            <div class="w-100 d-block text-left mb-2" *ngIf="!canEdit">
              <i class="fas fa-phone d-inline-block align-middle mr-3 big"></i>
              <p class="d-inline-block align-middle m-0">
                {{association?.current?.phone?.internationalNumber | phone: association?.current?.phone?.countryCode}}
              </p>
            </div>

            <div class="w-100 d-block text-left" *ngIf="!canEdit">
              <i class="fas fa-at d-inline-block align-middle mr-3 big"></i>
              <p class="d-inline-block align-middle m-0">{{association?.current?.email}}</p>
            </div>


            <div class="row pl-3" *ngIf="canEdit">
              <div class="col-lg-6 text-left">

                <div class="row">
                  <div class="col-lg-6">
                    <div class="input-group location-group" *ngIf="canEdit && association.current"
                         [ngStyle]="{overflow: 'visible', 'z-index': 1000}">
                      <app-select-dial-code class="left-50"
                                            [multiple]="false"
                                            [ngStyle]="{width: '100%'}"
                                            [selected]="association?.current?.phone?.countryCode"
                                            (eventEmitter)="patchPhone($event)">
                      </app-select-dial-code>
                    </div>
                  </div>

                  <div class="col-lg-6">
                    <div class="input-group left-50 mb-2 w-100" [class.input-group-focus]="isFocused(phoneNumber)"
                         *ngIf="canEdit && association.current" [ngStyle]="{width: '50%'}">
                      <div class="input-group-prepend" (click)="phoneNumber.focus()">
                        <span class="input-group-text bg-white"><i class="fas fa-pen"></i></span>
                      </div>
                      <input type="text" [placeholder]="'01 02 03 04 05'" name="phoneNumber" autocomplete="off"
                             class="form-control ng-touched bg-white" #phoneNumber="" (blur)="patchPhone()"
                             [(ngModel)]="association.current.phone.nationalNumber"
                             [ngStyle]="{marginLeft: '-1px'}"/>
                      <span class="d-inline-block ml-3 association-input-check text-center"
                            *ngIf="isFocused(phoneNumber)">
                        <i class="fas fa-check"></i>
                      </span>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-lg-6 text-left">
                <div class="input-group left-50 mb-2 w-75" [class.input-group-focus]="isFocused(email)"
                     *ngIf="canEdit && association.current" [ngStyle]="{width: '50%'}">
                  <div class="input-group-prepend" (click)="email.focus()">
                    <span class="input-group-text bg-white"><i class="fas fa-pen"></i></span>
                  </div>
                  <input type="text" [placeholder]="'Email address'" name="email" autocomplete="off"
                         class="form-control ng-touched bg-white" #email="" (blur)="patchEmail()"
                         [(ngModel)]="association.current.email" [ngStyle]="{marginLeft: '-1px'}"/>
                  <span class="d-inline-block ml-3 association-input-check text-center" *ngIf="isFocused(email)">
                <i class="fas fa-check"></i>
              </span>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
      <div class="col-lg-7 h-100 text-center p-0 association-wall">

        <div class="association-entity-edit position-absolute p-1 left-50" *ngIf="canEdit"
             (click)="banner.click()">
          <input #banner="" (change)="uploadImage($event,'banner')" type="file" accept="image/*" class="d-none" hidden/>
          <i class="fas fa-pen border-0 m-0 p-0 w-auto d-inline-block top-50"></i>
        </div>

        <img [ngStyle]="{'max-height': '100%', width: '100%'}"
             [src]="images.get('banner') ? images.get('banner') : '/assets/img/association-list.jpg'">

      </div>
    </div>
    <div class="row w-100 mb-5 association-logo">
      <div class="col-lg-12 text-center">
        <div class="d-inline-block bg-white">

          <div class="association-entity-edit position-absolute p-1" *ngIf="canEdit"
               (click)="profile.click()">
            <input #profile="" (change)="uploadImage($event,'profile')" type="file" accept="image/*" class="d-none"
                   hidden/>
            <i class="fas fa-pen border-0 m-0 p-0 w-auto d-inline-block top-50"></i>
          </div>

          <img *ngIf="images.get('profile')" [width]="250" [height]="250"
               [src]="images.get('profile') | safeResouceUrl">
        </div>
      </div>
    </div>
    <div class="row position-relative w-auto m-0 association-statistics" style="padding: 0 15px;">

      <div class="col-lg-8 m-0 w-100" [class.pl-0]="!isMobile()">
        <div class="bg-white association-entity-box">
          <div class="d-block w-100 p-3 text-left association-entity-box-title">

            <p class="m-0">More about us</p>
          </div>


          <div class="d-block text-justify p-3">

            <div class="input-group" [class.input-group-focus]="isFocused(description)"
                 *ngIf="association.current" [ngStyle]="{width: '100%'}">
              <textarea type="text" [placeholder]="'Description'" name="description" autocomplete="off"
                        class="form-control ng-touched bg-white d-inline-block align-middle" #description=""
                        (blur)="patchDescription()" [disabled]="!canEdit" style="cursor: default"
                        [(ngModel)]="association.current.description">
              </textarea>
              <span class="d-inline-block align-middle ml-3 association-input-check text-center"
                    *ngIf="isFocused(description)">
                <i class="fas fa-check"></i>
              </span>
            </div>

          </div>

          <div class="d-block text-center p-3 bg-white association-entity-images left-50">
            <div class="swiper-container">
              <div class="swiper-wrapper">

                <div class="swiper-slide" *ngFor="let item of imagesCarousel; let idx = index">
                  <div class="position-absolute swiper-slide-close" *ngIf="canEdit"
                       (click)="patchImage(item?.name, '', idx)">
                    <i class="far fa-times-circle"></i>
                  </div>
                  <img [src]="item?.content" class="d-inline-block align-middle">
                </div>

              </div>
            </div>

            <div class="association-entity-edit position-relative p-1 mt-3 d-inline-block" *ngIf="canEdit"
                 (click)="carousel.click()">
              <input #carousel="" (change)="uploadImage($event,'carousel_' + (imagesCarousel.length - 1))" type="file"
                     accept="image/*" class="d-none" hidden/>
              <i class="fas fa-plus border-0 m-0 p-0 w-auto d-inline-block top-50"></i>
            </div>

          </div>
        </div>
      </div>

      <div class="col-lg-4">
        <div class="bg-white association-entity-box association-entity-box-title">
          <div class="d-block w-100 p-3 text-center">
            <p class="m-0">Information</p>
          </div>
          <div class="d-block text-center p-3" style="background: #F8F8F8;">
            <img [width]="35" src="https://apidev.shareyourdreams.fr/v1/static/images/offers/starter.png"
                 class="d-inline-block align-middle">
            <p class="ml-2 m-0 d-inline-block align-middle">Gain</p>
            <span class="m-0 mt-2 d-block">
              <b>{{association?.current?.associationStatistic?.gains | currency: 'EUR':'symbol': '1.2-2':'fr'}}</b>
            </span>
          </div>

          <div class="d-block text-center p-3 bg-white">
            <p class="ml-2 m-0 d-inline-block align-middle">Events</p>
            <span class="m-0 mt-2 d-block">
              <b>{{association?.current?.associationStatistic?.events}}</b>
            </span>
          </div>

          <div class="d-block text-center p-3" style="background: #F8F8F8;">
            <p class="ml-2 m-0 d-block align-middle">Website</p>
            <a class="d-inline-block mt-3 btn btn-round btn-block w-auto" target="_blank"
               [href]="association?.current?.link" *ngIf="!canEdit">
              {{association?.current?.name}}
            </a>

            <div class="input-group mt-3 left-50" [class.input-group-focus]="isFocused(website)"
                 *ngIf="canEdit && association.current" [ngStyle]="{width: '85%'}">
              <div class="input-group-prepend" (click)="website.focus()">
                <span class="input-group-text bg-white"><i class="fas fa-pen"></i></span>
              </div>
              <input type="text" [placeholder]="'Website link'" name="website" autocomplete="off"
                     class="form-control ng-touched bg-white" #website="" (blur)="patchLink()"
                     [(ngModel)]="association.current.link"/>
              <span class="d-inline-block ml-3 association-input-check" *ngIf="isFocused(website)">
                <i class="fas fa-check"></i>
              </span>
            </div>
          </div>
        </div>


        <div class="bg-white mt-4 association-entity-box">
          <div class="d-block w-100 p-3 text-center">
            <p class="m-0">Contributors</p>
          </div>
        </div>

        <div class="bg-white mt-4 association-entity-box">
          <div class="d-block w-100 p-3 text-center">
            <p class="m-0">Events</p>
          </div>
        </div>


      </div>
    </div>
  </div>
</div>
