<div class="wrapper">
  <div class="association-list">
    <div class="page-header page-header-small">
      <div class="row m-0 position-absolute">
        <div class="col-lg-12"></div>
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        <h3>Associations registered on the platform</h3>
        <p>The associations we wish to help are non-profit charitable associations.<br>
          These charities have philanthropic goals that aims to improve the quality of life for the community and
          beyond.</p>
      </div>
      <div class="card-body">
        <div class="card association-box" *ngFor="let item of associations | slice:0 : 6">
          <div class="align-middle d-inline-block h-100 mr-4 text-center overflow-hidden">
            <img *ngIf="item?.images?.content" class="h-100" [src]="item?.images?.content">
          </div>
          <div class="align-middle d-inline-block h-100 text-left overflow-hidden">
            <p class="d-block align-middle association-box-name">
              {{item?.name}}
            </p>
            <p class="align-middle association-box-description">
              {{item?.description}}
            </p>
          </div>
          <div class="align-middle d-inline-block h-100 overflow-hidden">
            <span class="d-block align-middle h-25">
              <i class="far fa-calendar-alt d-inline-block align-middle mr-2"></i>
              <p *ngIf="item?.associationStatistic?.events < 2" style="font-size: 1em"
                 class="d-inline-block align-middle m-0">{{item?.associationStatistic?.events}} event</p>
              <p *ngIf="item?.associationStatistic?.events > 1" style="font-size: 1em"
                 class="d-inline-block align-middle m-0">{{item?.associationStatistic?.events}} events</p>
            </span>
            <span class="d-block align-middle h-25">
              <i class="fas fa-chart-line d-lg-inline-block align-middle mr-2"></i>
              <p *ngIf="item?.associationStatistic?.gains < 2" style="font-size: 1em"
                 class="d-inline-block align-middle m-0">{{item?.associationStatistic?.events}} € collected</p>
              <p *ngIf="item?.associationStatistic?.gains > 1" style="font-size: 1em"
                 class="d-inline-block align-middle m-0">{{item?.associationStatistic?.events}} € collected</p>
            </span>
            <span class="d-block align-middle h-50 text-center">
              <button class="btn btn-round btn-block m-0 w-auto d-inline-block" type="submit"
                      style="top: 50%; position: relative; transform: translateY(-50%)" (click)="navigateTo(item?.name, item?.id)">
                <i class="far fa-eye align-middle d-inline-block mr-2"></i>
                <span class="link footer-link align-middle d-inline-block">View more</span>
              </button>
            </span>
          </div>
        </div>
      </div>
      <div class="card-footer">
      </div>
    </div>
  </div>
</div>
