/************** Column Component ********************/

.layout-column {
  width: 100vw;
  min-height: 100vh;
  padding: 65px 0 50px;
}

.routing-error-layout .layout-column {
  background: rgb(250, 250, 250);
}

/************** Navbar component ********************/
.navbar .navbar-brand img {
  width: 50px !important;
}

app-navbar nav.navbar-transparent .form-group .form-control::-webkit-input-placeholder,
app-navbar nav.navbar-transparent .input-group .form-control::-webkit-input-placeholder {
  color: #fff;
}

app-navbar nav.navbar-transparent .form-group .form-control:-ms-input-placeholder,
app-navbar nav.navbar-transparent .input-group .form-control:-ms-input-placeholder {
  color: #fff;
}

app-navbar nav.navbar-transparent .form-group .form-control::placeholder,
app-navbar nav.navbar-transparent .input-group .form-control::placeholder {
  color: #fff;
}


/******* Footer Component *******/

@media screen and (max-width: 767px) {

  app-footer footer .container .content .row > div {
    margin-bottom: 1em;
    padding-bottom: 2em;
  }
}


/*********** Notification Component ********/

div[data-notify="notification-container"].notification-alert.notification-alert-dark {
  background-color: rgba(0, 0, 0, .5);
}

div[data-notify="notification-container"] {
  top: 20px;
  right: 20px;
  margin: 10px auto;
  min-height: 60px;
  transition: all 0.5s ease-in-out;
  width: 500px;
  color: rgb(255, 255, 255);
  position: relative;
}

div[data-notify="notification-container"].notification-alert.notification-alert-success {
  background-color: rgb(24, 206, 15);
}

div[data-notify="notification-container"].notification-alert.notification-alert-danger {
  background-color: rgb(255, 54, 54);
}

div[data-notify="notification-container"].notification-alert.notification-alert-warning {
  background-color: rgb(255, 178, 54);
}

div[data-notify="notification-container"].notification-alert.notification-alert-info {
  background-color: rgb(44, 168, 255);
}

div[data-notify="notification-container"].notification-alert.notification-alert-primary {
  background-color: #EB6836;
}

.notification-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  width: auto !important;
  font-size: 28px;
  transform: translateY(-50%);
  display: inline-block;
  height: auto !important;
}

.notification-button-icon {
  border: none;
  background: none;
  color: white;
  position: absolute;
  right: 5px;
  top: 7px;
  outline: none !important;
}

.notification-button-icon > mat-icon {
  font-size: 20px;
  width: auto;
  height: auto;
}

.notification-text {
  font-size: 14px;
  padding: 10px 40px 10px 50px;
  display: inline-block;
}

.notification-text .notification-title {
  padding-top: 0;
  font-weight: 700;
}

.notification-text .notification-message {
  margin-top: 5px;
  line-height: 1.5em;
  margin-bottom: 5px;
  padding-top: 0;
  font-weight: 500;
}


/******** Quote Component ***********/

.quote-component {
  max-width: 1200px;
  font-size: 1.3rem;
  text-align: center;
  width: 100%;
  padding: 0 1.75em;
  margin-top: 1.5em;
}

.quote-proverb {
  font-style: italic;
  letter-spacing: 2px;
}

.quote-proverb::before, .quote-proverb::after {
  content: '"';
}

.quote-origin {
  text-align: right;
  font-size: 0.9em;
}


/***** Spinner Component *******/

@keyframes spinner-eclipse {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes spinner-eclipse {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 767px) {

  .spinner-eclipse {
    width: 170px !important;
    height: 170px !important;
    -webkit-transform: translate(-70px, -70px) scale(1) translate(70px, 70px);
    transform: translate(-70px, -70px) scale(1) translate(70px, 70px);
  }

  .spinner-eclipse div {
    width: 150px;
    height: 150px;
    -webkit-transform-origin: 75px 78px;
    transform-origin: 75px 78px;
  }

  .quote-component {
    font-size: 1em;
  }
}

@media screen and (min-width: 768px) {

  .spinner-eclipse {
    width: 185px !important;
    height: 185px !important;
    -webkit-transform: translate(-92px, -92px) scale(1) translate(92px, 92px);
    transform: translate(-92px, -92px) scale(1) translate(92px, 92px);
  }

  .spinner-eclipse div {
    width: 165px;
    height: 165px;
    -webkit-transform-origin: 82px 85px;
    transform-origin: 82px 85px;
  }

  .quote-component {
    font-size: 1.1em;
  }
}

@media screen and (min-width: 992px) {

  .spinner-eclipse {
    width: 200px !important;
    height: 200px !important;
    -webkit-transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
    transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
  }

  .spinner-eclipse div {
    width: 180px;
    height: 180px;
    -webkit-transform-origin: 90px 93px;
    transform-origin: 90px 93px;
  }

  .quote-component {
    font-size: 1.3em;
  }
}


.spinner-eclipse div {
  position: absolute;
  -webkit-animation: spinner-eclipse 1s linear infinite;
  animation: spinner-eclipse 1s linear infinite;
  top: 10px;
  left: 10px;
  border-radius: 50%;
  box-shadow: 0 6px 0 0 #EB6836;
}


/******** Loadable Component *************/

.loadable-spinner-content {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 999999999999;
}

.loadable-content {
  -webkit-transition: all .35s ease;
  -moz-transition: all .35s ease;
  -ms-transition: all .35s ease;
  -o-transition: all .35s ease;
  transition: all .35s ease;
}

@keyframes spinner-eclipse {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes spinner-eclipse {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 767px) {

  .spinner-eclipse {
    width: 170px !important;
    height: 170px !important;
    -webkit-transform: translate(-70px, -70px) scale(1) translate(70px, 70px);
    transform: translate(-70px, -70px) scale(1) translate(70px, 70px);
  }

  .spinner-eclipse div {
    width: 150px;
    height: 150px;
    -webkit-transform-origin: 75px 78px;
    transform-origin: 75px 78px;
  }

  .quote-component {
    font-size: 1em;
  }
}

@media screen and (min-width: 768px) {

  .spinner-eclipse {
    width: 185px !important;
    height: 185px !important;
    -webkit-transform: translate(-92px, -92px) scale(1) translate(92px, 92px);
    transform: translate(-92px, -92px) scale(1) translate(92px, 92px);
  }

  .spinner-eclipse div {
    width: 165px;
    height: 165px;
    -webkit-transform-origin: 82px 85px;
    transform-origin: 82px 85px;
  }

  .quote-component {
    font-size: 1.1em;
  }
}

@media screen and (min-width: 992px) {

  .spinner-eclipse {
    width: 200px !important;
    height: 200px !important;
    -webkit-transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
    transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
  }

  .spinner-eclipse div {
    width: 180px;
    height: 180px;
    -webkit-transform-origin: 90px 93px;
    transform-origin: 90px 93px;
  }

  .quote-component {
    font-size: 1.3em;
  }
}


.spinner-eclipse div {
  position: absolute;
  -webkit-animation: spinner-eclipse 1s linear infinite;
  animation: spinner-eclipse 1s linear infinite;
  top: 10px;
  left: 10px;
  border-radius: 50%;
  box-shadow: 0 6px 0 0 #EB6836;
}


/************** Modal Component **********************/

.modal-backdrop {
  background: rgba(0, 0, 0, 0.9) !important;
}

@media (min-width: 576px) {
  .modal-dialog {
    max-width: 800px !important;
    margin: 1.75rem auto;
  }
}

@media (max-width: 576px) {
  .modal-open.modal.modal-custom {
    width: 100vw !important;
    height: 100vh !important;
  }

  .modal-dialog {
    margin: 0 !important;
    width: 100% !important;
    height: 100% !important;
    min-height: 100% !important;
    max-width: 100% !important;
  }

  .modal-content {
    padding: 1.75em !important;
    border: none !important;
    border-radius: 0 !important;
    width: 100% !important;
    height: 100% !important;
  }
}

@media (max-width: 992px) {

  .modal-open.modal.modal-custom {
    width: 100vw !important;
    height: 100vh !important;
  }

  .modal-dialog {
    margin: 0 !important;
    width: 100% !important;
    height: 100% !important;
    min-height: 100% !important;
    max-width: 100% !important;
  }

  .modal-content {
    padding: 1.75em !important;
    border: none !important;
    border-radius: 0 !important;
    width: 100% !important;
    height: 100% !important;
  }
}

/************** Modal Preferences Component **********************/

app-modal-preferences {
  height: 100%;
}

.modal-preferences-content .modal-header .close {
  color: #2a9d8f !important;
}


.modal-preferences-content .modal-body::-webkit-scrollbar {
  width: 8px;
}

.modal-preferences-content .modal-body::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.modal-preferences-content .modal-body::-webkit-scrollbar-thumb {
  background: #d3d3d3;
}

.modal-preferences-content .modal-body::-webkit-scrollbar-thumb:hover {
  background: #d8d8d8;
}


.modal-preferences-content {
  height: 750px;
  width: 100%;
  position: relative;
  display: inline-block;
  overflow: hidden;
}

.modal-preferences-content .modal-header {
  height: 15%;
  width: 100%;
  position: relative;
  display: inline-block;
}

.modal-preferences-content .modal-header > .modal-title {
  position: relative;
  display: inline-block;
  margin: 0;
  padding-left: 1rem;
}

.modal-preferences .modal-content .modal-preferences-content .modal-header button {
  position: relative;
  display: inline-block;
  right: 0;
  top: 0;
  margin: 0;
}

.modal-preferences-content .modal-description {
  margin: 0;
  line-height: 1.5;
  font-size: 13px;
  position: relative;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  color: black;
}

.modal-preferences-content .modal-body {
  height: 75%;
  width: 100%;
  position: relative;
  display: inline-block;
  padding: 24px !important;
  overflow: hidden;
}

.modal-preferences-content .modal-body .modal-subtitlte {
  height: calc(10%);
  padding: 0 0 0.5rem;
  border-bottom: 1px solid #E3E3E3;
  margin: 2.5em 1rem 1em;
}

.modal-preferences-content .modal-body .modal-subtitlte:first-child {
  margin: 0em 1rem 1em !important;
}

.modal-preferences-content .modal-body .modal-subtitlte p {
  display: inline-block;
  position: relative;
  margin: 0;
  color: #b3b3b3;
  font-weight: 400;
  height: 100%;
}

.modal-preferences-content .modal-body .modal-subtitlte p.modal-subtitlte-selected {
  color: #2a9d8f;
}


.modal-preferences-content .modal-body .modal-subtitlte .col-lg-4 {
  border-right: 1px solid #E3E3E3;
  cursor: pointer;
}

.modal-preferences-content .modal-body .modal-subtitlte .col-lg-4:hover p {
  color: #2a9d8f;
}

.modal-preferences-content .modal-body .modal-subtitlte .col-lg-4:last-child {
  border-right: none;
}

.modal-preferences-item {
  height: 90%;
  overflow: auto;
}

.modal-preferences-item::-webkit-scrollbar {
  width: 3px;
}

.modal-preferences-item::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.modal-preferences-item::-webkit-scrollbar-thumb {
  background: #d3d3d3;
}

.modal-preferences-item::-webkit-scrollbar-thumb:hover {
  background: #d8d8d8;
}

.modal-preferences-item .row {
  margin: auto;
  overflow: hidden;
}

.modal-preferences-item-checkbox {
  min-height: 180px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  width: 100%;
  padding: 0;
  margin: 0;
  cursor: pointer;
  border-radius: 0.25em;
}

.modal-preferences-item-checkbox-checked {
  border: 3px solid #2a9d8f;
}

.modal-preferences-item-checkbox:hover {
  box-shadow: inset 0px 180px 0px rgba(0, 0, 0, 0.6);
}

.modal-preferences-item-checkbox::before {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  display: block;
  content: '';
  width: 0;
  height: 0;
  background: rgba(255, 255, 255, .2);
  border-radius: 100%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  opacity: 0;
}

.modal-preferences-item-checkbox:hover::before {
  -webkit-animation: circle .75s;
  animation: circle .75s;
}

@-webkit-keyframes circle {
  0% {
    opacity: 1;
  }
  40% {
    opacity: 1;
  }
  100% {
    width: 100%;
    height: 100%;
    opacity: 0;
  }
}

@keyframes circle {
  0% {
    opacity: 1;
  }
  40% {
    opacity: 1;
  }
  100% {
    width: 200%;
    height: 200%;
    opacity: 0;
  }
}

.modal-preferences-item-checkbox .form-check-sign::before,
.modal-preferences-item-checkbox .form-check-sign::after {
  content: " ";
  position: absolute;
  width: 30px;
  height: 30px;
  cursor: pointer;
  border-radius: 50%;
  top: 7px;
  right: 7px;
  background-color: transparent;
  border: 2px solid #FFF;
  transition: opacity 0.25s linear;
  display: none;
}

.modal-preferences-item-checkbox:hover .form-check-sign::before,
.modal-preferences-item-checkbox:hover .form-check-sign::after {
  display: inline-block;
}

.modal-preferences-item-checkbox input[type=checkbox] {
  opacity: 0;
  position: absolute;
  visibility: hidden;
}

.modal-preferences-item-checkbox input[type=checkbox]:checked + .form-check-sign::before {
  background: #2a9d8f;
  display: inline-block;
}

.modal-preferences-item-checkbox input[type=checkbox]:checked + .form-check-sign::after {
  opacity: 1;
  display: inline-block;
}

.modal-preferences-item-checkbox .form-check-sign::after {
  font-family: "Nucleo Outline";
  content: "";
  top: 9px;
  text-align: center;
  font-size: 14px;
  opacity: 0;
  color: #fff;
  border: 0;
  background-color: inherit;
  font-weight: 600;
  display: inline-block;
}

.modal-preferences-item-checkbox p {
  display: none;
  padding: 1rem 0;
  text-align: center;
  font-weight: 500;
  color: white;
  position: absolute;
  margin: 0;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.modal-preferences-item-checkbox:hover p {
  display: block;
}

.modal-preferences-content .modal-footer {
  height: 10%;
  width: 100%;
  position: relative;
  display: inline-block;
  margin: 0 !important;
  padding: 0 !important;
}

.modal-content .modal-preferences-content .modal-footer button {
  top: 50%;
  left: 50%;
  position: relative;
  transform: translate(-50%, -50%);
  min-width: 120px;
  background: #2a9d8f;
}


/************** Event Box Carousel Component **********************/

.event-box-carousel.card {
  width: 520px !important;
  height: 280px;
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.15) !important;
  border: 1px solid rgba(0, 0, 0, 0.05) !important;
}

.event-box-carousel::before {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  display: block;
  content: '';
  width: 0;
  height: 0;
  background: rgba(255, 255, 255, .2);
  border-radius: 100%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  opacity: 0;
}

.event-box-carousel:hover::before {
  -webkit-animation: circle .75s;
  animation: circle .75s;
}


.event-box-carousel.card:hover .event-box-carousel-shadow {
  display: block;
}

.event-box-carousel .event-box-carousel-shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  box-shadow: inset 0px 280px 0px rgba(0, 0, 0, 0.35);
  top: 0;
  left: 0;
  display: none;
  text-align: center;
}

.event-box-carousel .event-box-carousel-shadow div {
  top: 50%;
  position: relative;
  transform: translateY(-50%);
}

.event-box-carousel .event-box-carousel-shadow h4 {
  color: #fff;
  margin-top: 20px;
  margin-bottom: 20px;
}

.event-box-carousel .event-box-carousel-shadow p {
  width: calc(100% - 80px);
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  text-align: center;
  color: #fff;
  font-weight: 500;
  position: relative;
  margin: 0 40px 20px;
  font-size: 1.1em;
  line-height: 1.5em;
}

.event-box-carousel .event-box-carousel-shadow button {
  font-size: 0.9em !important;
  position: relative;
  background: #2a9d8f;
}

.event-box-carousel .event-box-carousel-shadow button:hover {
  background: #20796f;
}

.event-box-carousel .card-body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.event-box-carousel .card-body img {
  height: 100%;
}

.event-box-carousel .event-box-association {
  position: absolute;
  bottom: 0;
  margin-bottom: 10px;
  margin-right: 10px;
  width: calc(25% - 10px);
  right: 0;
}

.event-box-carousel .event-box-association img {
  height: auto !important;
  width: 100%;
}

.event-box-carousel .card-body .event-box-carousel-tags {
  position: absolute;
  bottom: 0;
  margin-left: 10px;
  margin-bottom: 10px;
  width: calc(75% - 10px);
}

.event-box-carousel .card-body .event-box-carousel-tags span {
  color: #fff;
  padding: 0.25rem 0.5rem;
  border-radius: 1em;
  background-color: #EB6836;
  margin-right: 0.75em;
  font-size: 0.8em;
  letter-spacing: 1.25px;
}

.event-box-carousel .card-body .event-box-carousel-lottery {
  position: absolute;
  top: 0;
  margin-left: 10px;
  margin-top: 10px;
  width: calc(100% - 20px);
}

.event-box-carousel .card-body .event-box-carousel-lottery span {
  color: #fff;
  padding: 0.25rem 0.5rem;
  border-radius: 1em;
  background-color: #2A9D8F;
  margin-right: 0.75em;
  font-size: 0.8em;
  letter-spacing: 1.25px;
}

.event-box-carousel .card-body .event-box-carousel-user img {
  height: auto;
  border-radius: 50%;
  position: relative;
  display: inline-block;
  width: 100px;
  min-height: 100px;
}

.event-box-carousel .card-body .event-box-carousel-user h4 {
  font-size: 1em;
  margin-top: 10px;
  margin-bottom: 5px;
  display: inline-block;
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.event-box-carousel .card-body .event-box-carousel-user h5 {
  font-size: 0.9em;
  margin-bottom: 5px;
  display: inline-block;
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.event-box-carousel .card-body .event-box-carousel-user p {
  line-height: 1.2em;
  margin: 20px 0 0;
  font-size: 1em;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  color: #2A9D8F;
  font-weight: 500;
}


/************** Event Box Component **********************/

.event-box {
  height: calc(100% - 30px);
  cursor: pointer;
  transition: 0.4s;
}

.event-box img {
  height: 240px;
  width: 100%;
}

.event-box .event-box-user img {
  border-radius: 50%;
  position: relative;
  width: 105px;
  height: 105px;
}

.event-box .event-box-user h4 {
  font-size: 1.1em;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.event-box .event-box-user h5 {
  margin-bottom: 10px;
  font-size: 0.95em;
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.event-box .event-box-user p.event-box-user-association {
  margin: 0;
  font-size: 0.9em;
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  color: initial;
}

.event-box .event-box-user p.event-box-user-association span {
  color: #EB6836;
}

.event-box .event-box-user p {
  line-height: 1.2em;
  margin: 15px 0 0;
  font-size: 1em;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  color: #2A9D8F;
  font-weight: 500;
}

.event-box .card-body span.event-box-tags {
  color: #EB6836;
  border: 1px solid #EB6836;
  padding: 0.25rem 0.5rem;
  border-radius: 1em;
  background-color: transparent;
  margin-right: 0.75em;
  font-size: 0.8em;
  letter-spacing: 1px;
}

.event-box .card-body span.event-box-lottery {
  position: absolute;
  top: 0;
  margin-left: 10px;
  margin-top: 10px;
  width: auto;
  color: #fff;
  padding: 0.25rem 0.5rem;
  border-radius: 1em;
  background-color: #2A9D8F;
  font-size: 0.8em;
  z-index: 100;
  left: 0;
  letter-spacing: 1.2px;
  box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.1);
}

.event-box .card-body span.event-box-lottery.event-past-tag {
  right: 10px;
  left: initial;
  margin: 0;
  top: 10px;
  background-color: #EB6836;
  font-weight: 600;
}

.event-box .event-box-association {
  position: absolute;
  bottom: 0;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  width: calc(100% - 20px);
  height: 30%;
}

.event-box .event-box-association img {
  width: auto;
  height: 100%;
  float: right;
  position: relative;
}

.event-box .card-footer {
  flex-direction: row;
  border-radius: 0 !important;
}

/************** Modal Participation Component **********************/

app-modal-participation {
  height: 100%;
}

.modal-participation .modal-header .close {
  color: #2a9d8f !important;
}


.modal-participation .modal-body::-webkit-scrollbar {
  width: 8px;
}

.modal-participation .modal-body::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.modal-participation .modal-body::-webkit-scrollbar-thumb {
  background: #d3d3d3;
}

.modal-participation .modal-body::-webkit-scrollbar-thumb:hover {
  background: #d8d8d8;
}

.modal-participation {
  height: 100%;
  width: 100%;
  position: relative;
  display: inline-block;
  overflow: hidden;
}

.modal-participation .modal-header {
  height: 10% !important;
  width: 100%;
  position: relative;
  display: inline-block;
}

.modal-participation .modal-header > .modal-title {
  position: relative;
  display: inline-block;
  margin: 0;
  padding-left: 1rem;
}

.modal-participation .modal-header button {
  position: relative;
  display: inline-block;
  right: calc(24px - 1rem) !important;
  top: calc(24px - 1rem) !important;
  margin: 0;
}

.modal-participation .modal-description {
  margin: 0;
  line-height: 1.5;
  font-size: 13px;
  position: relative;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  color: black;
}

.modal-participation .modal-body {
  height: 80%;
  width: 100%;
  position: relative;
  display: inline-block;
  padding: 24px !important;
  overflow: visible;
}

.modal-participation .modal-body .noUi-horizontal {
  height: 8px;
}

.modal-participation .modal-body .noUi-horizontal .noUi-handle {
  height: 18px;
  width: 18px;
  margin-top: -5px;
}

.modal-participation .modal-body .noUi-horizontal .noUi-connects {
  background: #EB6836;
}

.modal-participation .modal-body input {
  border-radius: 10px;
}

.modal-participation .modal-body img {
  width: 10%;
}

.modal-participation .modal-body form.modal-body-top-50 {
  top: 50%;
  position: relative;
  transform: translateY(-50%);
}

.modal-participation .modal-body .modal-participation-tokens {
  line-height: 1.5;
  position: relative;
  color: black;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 90%;
}

.modal-participation .modal-body .modal-participation-part {
  top: 50%;
  transform: translateY(-50%);
  position: relative
}

.modal-participation .modal-body .modal-participation-ratio {
  color: #EB6836;
}

.modal-participation .modal-body .form-check {
  text-align: center;
  left: 50%;
  position: relative;
  transform: translateX(-50%);
}

.modal-participation .modal-body .modal-participation-note {
  margin: 0;
  line-height: 1.5;
  font-size: 14px;
  position: relative;
  padding-right: 1rem;
  padding-top: 0.5rem;
  color: black;
}

.modal-participation .modal-footer {
  height: 10%;
  width: 100%;
  position: relative;
  display: inline-block;
  margin: 0 !important;
  padding: 0 !important;
}

.modal-participation .modal-footer button {
  top: 50%;
  left: 50%;
  position: relative;
  transform: translate(-50%, -50%);
  min-width: 120px;
  background: #2a9d8f;
}

/************** Event Preview Component **********************/


.event-preview-influencer-page.card {
  width: 450px !important;
  height: 280px;
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.15) !important;
  border: 1px solid rgba(0, 0, 0, 0.05) !important;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  overflow: hidden;
  margin: 20px;
  transition-duration: 0.5s;
}

.event-preview-influencer-page.card:hover {
  -webkit-transform: translate(-1%, -1%);
  transform: translate(-1%, -1%);
  cursor: pointer;
}

.event-preview-influencer-page .card-body {
  height: 100%;
  margin: 0;
  padding: 0;
  display: block;
  text-align: left;
}

.event-preview-influencer-page .card-image {
  height: 65%;
  width: 100%;
  position: absolute;
  background-repeat: round;
  background-size: cover;
  background-image: url(src/assets/img/default-event.png);
}

.event-preview-influencer-page .end-date {
  margin-top: 10px;
  background-color: #2a9d8f;
  display: inline-block;
  color: #ffffff;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  position: absolute;
  left: 0;
}

.event-preview-influencer-page .end-date-text {
  margin-left: 5px;
  margin-right: 5px;
}

.event-preview-influencer-page .association-image {
  position: absolute;
  width: 60px;
  height: 60px;
  background-color: transparent;
  bottom: 10px;
  right: 10px;
}

.event-preview-influencer-page .name-container {
  padding: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.event-preview-influencer-page .name {
  font-weight: bold;
  text-transform: none;
  margin-bottom: 0 !important;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.event-preview-influencer-page .participations {
  font-size: 15px;
  font-weight: bold;
  color: #2a9d8f;
}

.event-preview-influencer-page .tags {
  position: absolute;
  bottom: 0;
  margin-bottom: 10px;
  width: calc(100% - 20px);
}

.event-preview-influencer-page .tags span {
  color: #EB6836;
  border: 1px solid #EB6836;
  padding: 0.25rem 0.5rem;
  border-radius: 1em;
  background-color: transparent;
  margin-right: 0.75em;
  font-size: 0.8em;
  letter-spacing: 1.25px;
}

.event-preview-influencer-page .image-gray {
  filter: grayscale(1);
}

.event-preview-influencer-page .text-gray {
  color: gray;
}

@media screen and (max-width: 1480px) {

}

@media screen and (max-width: 1300px) {
  .event-preview-influencer-page.card {
    width: 375px !important;
  }
}

@media screen and (max-width: 1086px) {
  .event-preview-influencer-page.card {
    width: 300px !important;
    height: 300px;
  }
}

@media screen and (max-width: 870px) {
  .event-preview-influencer-page.card {
    width: 450px !important;
    height: 280px;
  }
}

@media screen and (max-width: 725px) {

}

@media screen and (max-width: 545px) {
  .event-preview-influencer-page.card {
    width: 325px !important;
    height: 280px;
  }
}

@media screen and (max-width: 380px) {
  .event-preview-influencer-page.card {
    width: 250px !important;
    height: 300px;
  }
}

/**************** Modal Settings ******************/

.modal-settings {
  height: 100%;
  width: 100%;
  position: relative;
  display: inline-block;
  overflow: hidden;
}

.modal-settings .modal-header {
  height: 10% !important;
  width: 100%;
  position: relative;
  display: inline-block;
}


.modal-settings .modal-header > .modal-title {
  position: relative;
  display: inline-block;
  margin: 0;
  padding-left: 1rem;
}

.modal-settings .modal-header button {
  position: relative;
  display: inline-block;
  right: calc(24px - 1rem) !important;
  top: calc(24px - 1rem) !important;
  margin: 0;
}

.modal-settings .modal-body {
  height: 80%;
  width: 100%;
  position: relative;
  display: inline-block;
  padding: 24px !important;
  padding-top: 5px !important;
  overflow: visible;
}

.modal-settings .modal-box-name {
  display: inline-flex;
  flex-wrap: wrap;
  flex-direction: unset;
  justify-content: center;
  box-shadow: none;
  margin-bottom: 0;
}

.modal-settings .input-settings {
  width: 300px !important;
}

.modal-settings .modal-box-name > .form-control {
  padding: 10px 18px 10px 18px;
}

.modal-settings .change-photos {
  text-align: -webkit-center;
  box-shadow: none;
  margin-bottom: 0;
}

.modal-settings .settings-profile {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.25s;
  display: block;
  border: 1px solid lightgray;
  background: white;
}

.modal-settings .settings-profile:hover {
  filter: blur(1px);
}

.modal-settings .settings-background {
  width: 350px;
  height: 150px;
  cursor: pointer;
  transition: 0.25s;
  display: block;
}

.modal-settings .settings-background:hover {
  filter: blur(1px);
}

.modal-settings .change-profile-container {
  position: relative;
  margin-top: -85px;
  width: fit-content;
}

.modal-settings .change-background-container:hover + .change-profile-container {
  position: unset;
}

.modal-settings .settings-password {
  text-align: left;
}

.modal-settings .change-password {
  font-size: small;
}

.modal-settings .settings-footer {
  display: inline-block;
  width: 100%;
  margin-top: 15px;
}

.modal-settings .change-password-container {
  display: inline-block;
  width: 100%;
}

.modal-settings .save-personal {
  text-align: end;
}

.modal-settings .password-link {
  color: #EB6836;
  cursor: pointer;
}

.modal-settings .password-link:hover {
  color: #f67243;
}

.modal-settings .phone-padding {
  padding: 10px 18px 10px 18px;
}

.modal-settings .password-title {
  margin-top: 10px;
}

.modal-settings ng-select.ng-select .ng-select-container {
  height: 30px !important;
}

.modal-settings .input-group {
  width: 320px;
}

.modal-settings .form-group .form-control, .modal-settings .input-group .form-control {
  height: 38px !important;
}

.modal-settings .input-group, .form-group {
  margin-bottom: 0 !important;
}

@media screen and (max-width: 992px) {
  .modal-settings .modal-content {
    padding: 1.75em !important;
    border: none !important;
    border-radius: 0 !important;
    width: 100% !important;
    height: unset !important;
  }
}

@media screen and (max-width: 575px) {
  .modal-settings .modal-content {
    padding: 1.75em !important;
    border: none !important;
    border-radius: 0 !important;
    width: 100% !important;
    height: unset !important;
  }
}

/**************************
    NG-SELECT COMPONENT
**************************/

.input-group input {
  font-size: 14px !important;
}

ng-select.ng-select .ng-select-container {
  width: 100%;
  height: 45px !important;
  line-height: normal;
  font-size: 0.8571em;
  transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  box-shadow: none;
  background-color: white;
  border: 1px solid #E3E3E3;
  border-radius: 30px;
  color: #2c2c2c;

}

ng-select.ng-select-focused:not(.ng-select-opened) > .ng-select-container {
  border: 1px solid #EB6836 !important;
  box-shadow: none !important;
}

ng-select.ng-select .ng-value-container {
  width: 100%;
  height: 100%;
  transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  box-shadow: none;
  background-color: transparent;
  color: #2c2c2c !important;
  padding: 10px 18px 10px 28px !important;
}

ng-select.ng-select .ng-arrow-wrapper {
  height: 100%;
  padding-right: 10px;
  width: 50px !important;
  text-align: center;
}

ng-select.ng-select .ng-arrow-wrapper .ng-arrow {
  top: 50%;
  left: 50%;
  position: relative;
  transform: translate(-50%, -50%);
  display: block;
}

ng-select.ng-select .ng-input {
  width: 100%;
  height: 100%;
  transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  box-shadow: none;
  background-color: transparent;
  color: #2c2c2c;
  position: absolute;
  top: 0 !important;
}

ng-select.ng-select .ng-input input {
  height: 100%;
  padding: 10px 18px 10px 18px;
  position: relative;
  box-sizing: border-box !important;
  color: #2c2c2c;
  line-height: normal;
  font-size: 14px;
}

ng-select.ng-select.ng-select-focused.has-danger > .ng-select-container,
ng-select.ng-select.ng-select-opened.has-danger > .ng-select-container,
ng-select.has-danger .ng-select-container {
  color: #ff3636 !important;
  border-color: #ff3636 !important;
}

ng-select.has-danger::after {
  content: none;
}

ng-select.has-danger .ng-placeholder,
ng-select.has-danger .ng-input input {
  color: #ff3636 !important;
}

ng-select .ng-dropdown-panel .ng-dropdown-panel-items {
  max-height: 180px !important;
}

ng-select .ng-dropdown-panel .ng-dropdown-panel-items::-webkit-scrollbar {
  width: 0 !important;
}

ng-select .ng-dropdown-panel .ng-dropdown-panel-items::-webkit-scrollbar-thumb:hover,
ng-select .ng-dropdown-panel .ng-dropdown-panel-items::-webkit-scrollbar-thumb,
ng-select .ng-dropdown-panel .ng-dropdown-panel-items::-webkit-scrollbar-track {
  background: transparent !important;
}


/**************** Modal Confirmation Payment ******************/

.modal-payment {
  height: 100%;
  width: 100%;
  position: relative;
  display: inline-block;
  overflow: hidden;
}

.modal-payment .modal-header {
  height: 10% !important;
  width: 100%;
  position: relative;
  display: inline-block;
}


.modal-payment .modal-header > .modal-title {
  position: relative;
  display: inline-block;
  margin: 0;
}

.modal-payment .modal-header button {
  position: relative;
  display: inline-block;
  right: calc(24px - 1rem) !important;
  top: calc(24px - 1rem) !important;
  margin: 0;
}

.modal-payment .modal-body {
  height: 80%;
  width: 100%;
  position: relative;
  display: inline-block;
  padding: 24px !important;
  padding-top: 5px !important;
  overflow: visible;
}

.modal-payment .modal-box-name {
  display: inline-flex;
  flex-wrap: wrap;
  flex-direction: unset;
  justify-content: center;
  box-shadow: none;
  margin-bottom: 0;
}

.modal-payment .input-settings {
  width: 300px !important;
}

.modal-payment .modal-box-name > .form-control {
  padding: 10px 18px 10px 18px;
}

.modal-payment .change-photos {
  text-align: -webkit-center;
  box-shadow: none;
  margin-bottom: 0;
}

.modal-payment .settings-profile {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.25s;
  display: block;
}

.modal-payment .settings-profile:hover {
  filter: blur(1px);
}

.modal-payment .settings-background {
  width: 350px;
  height: 150px;
  cursor: pointer;
  transition: 0.25s;
  display: block;
}

.modal-payment .settings-background:hover {
  filter: blur(1px);
}

.modal-payment .change-profile-container {
  position: relative;
  margin-top: -85px;
  width: fit-content;
}

.modal-payment .change-background-container:hover + .change-profile-container {
  position: unset;
}

.modal-payment .settings-password {
  text-align: left;
}

.modal-payment .change-password {
  font-size: small;
}

.modal-payment .settings-footer {
  display: inline-block;
  width: 100%;
  margin-top: 15px;
}

.modal-payment .change-password-container {
  display: inline-block;
  width: 100%;
}

.modal-payment .save-personal {
  text-align: end;
}

.modal-payment .password-link {
  color: #EB6836;
  cursor: pointer;
}

.modal-payment .password-link:hover {
  color: #f67243;
}

.modal-payment .phone-padding {
  padding: 10px 18px 10px 18px;
}

.modal-payment .password-title {
  margin-top: 10px;
}

.modal-payment ng-select.ng-select .ng-select-container {
  height: 30px !important;
}

.modal-payment .input-group {
  width: 320px;
}

.modal-payment .form-group .form-control, .modal-payment .input-group .form-control {
  height: 38px !important;
}

.modal-payment .input-group, .form-group {
  margin-bottom: 0 !important;
}

.modal-payment p {
  margin-bottom: 0 !important;
}

@media screen and (max-width: 992px) {
  .modal-payment .modal-content {
    padding: 1.75em !important;
    border: none !important;
    border-radius: 0 !important;
    width: 100% !important;
    height: unset !important;
  }
}

@media screen and (max-width: 575px) {
  .modal-payment .modal-content {
    padding: 1.75em !important;
    border: none !important;
    border-radius: 0 !important;
    width: 100% !important;
    height: unset !important;
  }
}

/* OPEN BETA FEEDBACK */
.open-beta-button {
  background-color: teal;
  border-radius: 5px;
  margin-right: 5px;
}

/* UI/UX */
.container-ui {
  width: 100%;
  display: flex;
  padding-right: 0 !important;
  padding-left: 0 !important;
  margin-right: 0 !important;
  margin-left: 0 !important;
}

.box-shadow-high {
  box-shadow: 0 6px 0 0 rgba(0, 0, 0, 0.5) !important;
}


/************** Share Bar Component **********************/

.share-bar {
  border-top: 1px solid rgba(0, 0, 0, 0.05);
}

.share-bar .col-lg-4.col-4 {
  background: transparent;
  transition: all 0.3s;
}

.share-bar .col-lg-4.col-4[share-on-facebook]:hover {
  background: #3b5998;
}

.share-bar .col-lg-4.col-4[share-on-twitter]:hover {
  background: #00acee;
}

.share-bar .col-lg-4.col-4[save-on-bookmark].event-is-saved,
.share-bar .col-lg-4.col-4[save-on-bookmark]:hover {
  background: #f67243;
}

.share-bar .col-lg-4.col-4[save-on-bookmark].event-is-saved i.fa-bookmark,
.share-bar .col-lg-4.col-4[save-on-bookmark]:hover i.fa-bookmark,
.share-bar .col-lg-4.col-4[share-on-twitter]:hover i.fa-twitter,
.share-bar .col-lg-4.col-4[share-on-facebook]:hover i.fa-facebook-f {
  color: white;
}

.share-bar i.fa-facebook-f {
  color: #3b5998;
}

.share-bar i.fa-twitter {
  color: #00acee;
}

.share-bar i.fa-bookmark {
  color: #f67243;
}

.share-bar i {
  font-size: 1.3em;
}

app-datetime-selection {
  position: relative;
  padding: .5rem 1rem;
}

app-datetime-selection h4 {
  margin: .5rem 0
}

app-datetime-selection > div.selectors {
  overflow: hidden;
  position: relative;
}

app-datetime-selection > .selectors > div {
  margin: auto;
  /* Value extracted from ngb-datepicker css */
  width: calc(7 * 2rem + 0.5rem + 12px);
}

app-datetime-selection > .selectors > div.absoluteDate {
  position: absolute;
}

app-datetime-selection div > ngb-datepicker,
app-datetime-selection div > ngb-timepicker {
  position: relative !important;
  width: auto;
  box-shadow: none;
}

app-datetime-selection ngb-timepicker .ngb-tp {
  display: grid;
  grid-template-columns: auto 4em auto 4em auto;
}

app-datetime-selection ngb-timepicker .ngb-tp-hour { grid-column: 2; }
app-datetime-selection ngb-timepicker .ngb-tp-spacer { grid-column: 3; }
app-datetime-selection ngb-timepicker .ngb-tp-minute { grid-column: 4; }

app-datetime-selection ngb-timepicker .ngb-tp-spacer,
app-datetime-selection ngb-timepicker .ngb-tp-input {
  width: 100%;
  text-align: center;
}

ngb-modal-window.modal-date-custom .modal-content {
  width: auto;
  transition: all .2s ease;
  margin: auto;
}
