/*********** Login Page ***************/

.login {
  height: calc(100vh - 65px);
}

.login .card-login {
  background-color: rgba(255, 255, 255, 1) !important;
  padding: 1.5rem;
  position: relative;
  transform: translate(-50%, -50%);
  height: auto;
  left: 50%;
  top: 50%;
  border-radius: 0.25rem;
  max-width: 28%;
}

.login .card-login .nav-tabs {
  display: none;
  visibility: hidden;
}

.login .card-login .tab-content {
  min-height: 280px;
  height: auto;
}

@media screen and (max-width: 1480px) {
  .login .card-login {
    max-width: 35%;
  }
}

@media screen and (max-width: 1200px) {
  .login .card-login {
    max-width: 45%;
  }
}

@media screen and (max-width: 992px) {
  .login .card-login {
    max-width: 55%;
  }
}

@media screen and (max-width: 767px) {
  .login .card-login {
    max-width: 70%;
  }
}

@media screen and (max-width: 576px) {
  .login .card-login {
    max-width: 90%;
  }
}

.login .card-login h3 {
  color: #EB6836;
  margin-bottom: 20px;
  font-size: 2em;
}

.login .card-login .btn-wd {
  min-width: 180px;
}

.login .card-login .logo-container {
  width: 100%;
  margin: 0 auto;
  margin-bottom: 35px;
}

.login .card-login .logo-container img {
  width: auto;
  max-height: 150px;
}

.login .card-login .input-group:last-child {
  margin-bottom: 40px;
}

.login .card-login .form-control::-moz-placeholder {
  color: #888888;
  opacity: 1;
  filter: alpha(opacity=100);
}

.login .card-login .form-control:-moz-placeholder {
  color: #888888;
  opacity: 1;
  filter: alpha(opacity=100);
}

.login .card-login .form-control::-webkit-input-placeholder {
  color: #888888;
  opacity: 1;
  filter: alpha(opacity=100);
}

.login .card-login .form-control:-ms-input-placeholder {
  color: #888888;
  opacity: 1;
  filter: alpha(opacity=100);
}

.login .card-login .form-control {
  border-color: #EB6836;
  color: #888888;
  background-color: transparent;
}

.login .card-login .form-control:focus {
  color: #888888;
  border: 1px solid #EB6836;
  border-left-style: none;
}

.login .card-login .has-danger .form-control::placeholder,
.login .card-login .has-danger .form-control::-moz-placeholder,
.login .card-login .has-danger .form-control:-moz-placeholder,
.login .card-login .has-danger .form-control::-webkit-input-placeholder,
.login .card-login .has-danger .form-control:-ms-input-placeholder {
  color: #ff3636 !important;
}

.login .card-login .has-danger .form-control,
.login .card-login .has-danger .form-control:focus {
  color: #ff3636;
  border: 1px solid #ff3636;
  border-left-style: none;
}

.login .card-login .has-success:after,
.login .card-login .has-danger:after {
  top: 15px;
}

.login .card-login .has-danger.input-group-focus .input-group-text,
.login .card-login .has-danger .input-group-text {
  background: #FF3636;
  border: 1px solid #FF3636 !important;
  border-right-style: none !important;
}

.login .card-login .has-danger:after {
  color: #FF3636;
}

.login .card-login .has-success .form-control::placeholder,
.login .card-login .has-success .form-control::-moz-placeholder,
.login .card-login .has-success .form-control:-moz-placeholder,
.login .card-login .has-success .form-control::-webkit-input-placeholder,
.login .card-login .has-success .form-control:-ms-input-placeholder {
  color: #18ce0f !important;
}

.login .card-login .has-success .form-control,
.login .card-login .has-success .form-control:focus {
  color: #18ce0f;
  border: 1px solid #18ce0f;
  border-left-style: none;
}

.login .card-login .has-success.input-group-focus .input-group-text,
.login .card-login .has-success .input-group-text {
  background: #18ce0f;
  border: 1px solid #18ce0f !important;
  border-right-style: none !important;
}

.login .card-login .has-success:after {
  color: #18ce0f;
}

.login .card-login .input-group-text {
  color: #fff;
  border: 1px solid #EB6836;
  border-left: 1px solid #EB6836 !important;
  background: #EB6836;
  border-right-style: none;
}

.login .link,
.login .link:focus {
  font-size: 14px;
  color: #888888;
  text-decoration: none;
}

.login .card-login .btn {
  background-color: #2A9D8F !important;
  width: 70%;
  text-align: center;
  left: 50%;
  position: relative;
  transform: translateX(-50%);
}

.login .btn[disabled]:hover, .login .btn.disabled:hover,
.login .btn:disabled:hover {
  box-shadow: none !important;
  outline: none !important;
}

.login .btn:disabled, .login .btn[disabled], .login .btn.disabled {
  background-color: #F2F2F2 !important;
  opacity: 1 !important;
}

.login a.link:hover {
  color: #2A9D8F !important;
}

.login .page-header:before {
  background: none;
}

.login-reset-password-back {
  margin-bottom: 0.5em;
  height: 20px;
}

.login-reset-password-back i {
  float: left;
  font-size: 1.1em;
  color: #888888;
  cursor: pointer;
  width: 20px;
  height: 20px;
}

.login-reset-password-back i:hover {
  color: #2A9D8F;
}

.login-reset-password-text {
  color: #888;
  font-size: 1em;
}

.login-reset-password-text:last-child {
  margin-bottom: 2em;
}

.login .card-login .card-body h5.has-success {
  color: #18ce0f;
  font-weight: 600;
}

.login .card-login .card-body h5.has-success:after {
  content: none;
}


/*********** Register Page ***************/

.signup {
  height: calc(100vh - 65px);
}

.signup .container {
  top: 50%;
  position: relative;
  transform: translateY(-50%);
}

.signup .btn[disabled]:hover, .signup .btn.disabled:hover,
.signup .btn:disabled:hover {
  box-shadow: none !important;
  outline: none !important;
}

.signup .btn:disabled, .signup .btn[disabled], .signup .btn.disabled {
  background-color: #F2F2F2 !important;
  opacity: 1 !important;
}

.signup .card {
  cursor: auto;
}

.form-check.recaptcha > div {
  display: inline-block !important;
}

/******** Discovery Page *********/

.home {
  padding: 3em 1.5em 0;
}

.home .swiper-container {
  padding: 20px;
  overflow-x: hidden !important;
}

.home .swiper-slide {
  width: auto;
  height: auto;
}

.home .swiper-container-3d .swiper-slide-shadow-left,
.home .swiper-container-3d .swiper-slide-shadow-right {
  background-image: none !important;
  opacity: 0 !important;
}

/******** Events Layout *********/
/*
 * Firefox only
 */
input[type=number].no-arrows {
  -moz-appearance: textfield;
}

/*
 * Others
 */
input[type=number].no-arrows::-webkit-outer-spin-button,
input[type=number].no-arrows::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.event-layout-page-content .flexcollumn {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.event-layout-page-content .flexitem {
  display: flex;
  flex: 1;
}

.event-layout-page-content ngb-datepicker.dropdown-menu {
  top: 0 !important;
}

.event-layout-page-content {
}

.event-layout-page-content .div-img,
.event-layout-page-content .banner {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.event-layout-page-content > .banner {
  height: 40vh;
  min-height: 200px;
  max-height: 400px;
  filter: blur(10px);
}

.event-layout-page-content .infos-container {
  padding: 0;
  /* Trix for a min / max top value
   * https://developer.mozilla.org/fr/docs/Web/CSS/min
   */
  margin: min(max(-30vh, -330px), -150px) auto auto;
  color: black;
  background-color: rgba(255, 255, 255, .8);
  box-shadow: 0 0 7px #5a5a5a;
}

.event-layout-page-content .form-control {
  border-radius: 0;
}

.event-layout-page-content.editing .infos-container {
  /*border: 2px solid red;*/
  box-sizing: content-box;
  /*box-shadow: 0 0 10px red;*/
}

.event-layout-page-content .infos-container .header {
  height: 30vh;
  min-height: 225px;
  max-height: 350px;
  margin: 0;
}

/*
 * Aka col-sm
 */
@media screen and (max-width: 991px) {

  .event-layout-page-content .infos-container {
    margin: 0 auto auto;
  }

  .event-layout-page-content .infos-container .header {
    height: inherit;
    max-height: none;
  }

  .event-layout-page-content > .banner {
    display: none;
  }
}
/*
 * Aka col-md
 */
@media screen and (max-width: 769px) {

}


.event-layout-page-content .infos-container .header > .event-owner {
  padding: 20px 20px 0 20px;
  height: 100%;
}

.event-layout-page-content .infos-container .header > .event-owner .influencer-name,
.event-layout-page-content .infos-container .header > .event-owner .button-box {
  display: flex;
  align-items: center;
}

.event-layout-page-content .infos-container .header > .event-owner .button-box > a > div > p {
  display: inline-block;
  margin: 0;
  line-height: 1.8em;
  font-size: 1em;
  font-weight: 400;
}

.event-layout-page-content .infos-container .header > .event-owner .button-box > a > div > i {
  margin-right: 5px;
}

.event-layout-page-content .infos-container .header > .event-owner .influencer-name h6 {
  width: 100%;
  margin: 0;
  text-align: center;
}

.event-layout-page-content .infos-container .header > .event-owner .stats > div {
  padding: 0;
}

.event-layout-page-content .infos-container .header > .event-owner .stats > div:first-child {
  text-align: right;
}

.event-layout-page-content .infos-container .header > .event-owner .stats > div:last-child {
  text-align: left;
}

.event-layout-page-content .infos-container .header > .event-owner .label {
  position: relative;
  text-align: center;
  border-radius: 5px;
  width: 100px;
  height: 100px;
  overflow: hidden;
}

.event-layout-page-content .infos-container .header > .event-owner .profile-picture {
  padding: 0;
  background: rgba(0, 0, 0, .0);
  transition: background .1s;
  cursor: pointer;
}

.event-layout-page-content .infos-container .header > .event-owner .label > h6 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.event-layout-page-content .infos-container .header > .event-owner .label > div,
.event-layout-page-content .infos-container .header > .event-owner .label > img {
  width: 100%;
  height: 100%;
}

.event-layout-page-content .infos-container .header > .event-owner .profile-picture > h6 {
  color: transparent;
  letter-spacing: -10px;
  transition: all .1s;
}

.event-layout-page-content .infos-container .header > .event-owner .profile-picture > div,
.event-layout-page-content .infos-container .header > .event-owner .profile-picture > img {
  opacity: 1;
  transition: opacity .1s;
}

.event-layout-page-content .infos-container .header > .event-owner .profile-picture:hover {
  background: rgba(0, 0, 0, .6);
}

.event-layout-page-content .infos-container .header > .event-owner .profile-picture:hover > h6 {
  letter-spacing: 1px;
  color: white;
}

.event-layout-page-content .infos-container .header > .event-owner .profile-picture:hover > div,
.event-layout-page-content .infos-container .header > .event-owner .profile-picture:hover > img {
  opacity: .5;
}

.event-layout-page-content .infos-container .header > .event-owner .n-winers {
  display: flex;
  align-items: center;
}

.event-layout-page-content .infos-container .header > .event-owner .n-winers div input {
  text-align: right;
  font-size: 1.5em;
  font-weight: lighter;
}

.event-layout-page-content .infos-container .header > .event-owner .n-winers div h3 {
  text-align: left;
}

.event-layout-page-content .infos-container .header > .event-owner .n-winers h3 {
  width: 100%;
  margin: 0;
  text-align: center;
  font-weight: 600;
}

.event-layout-page-content .infos-container .header > .event-owner .association {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.event-layout-page-content .infos-container .header > .event-owner .association-selection {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.event-layout-page-content .infos-container .header > .event-owner .association-selection > ng-select {
  width: 100%;
}

.event-layout-page-content .infos-container .header > .event-owner .association-selection > ng-select {
  width: 100%;
}

.event-layout-page-content .infos-container .header > .event-owner .association-selection > ng-select > div {
  border-radius: 0;
}

.event-layout-page-content .infos-container .header > .banner {
  height: 100%;
  position: relative;
}

.event-layout-page-content.editing .infos-container .header > .banner > .banner-tooltip {
  position: absolute;
  top: 0;
  left: 0;
  padding: 5px 10px;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 0 0 5px 0;
}

.event-layout-page-content .infos-container .event {
  padding: 20px 90px 40px 90px;
  margin-top: 20px;
  white-space: pre-line;
}

.event-layout-page-content .infos-container .event .draw-container h3 {
  margin-bottom: 20px;
  margin-top: 10px;
}

.event-layout-page-content .infos-container .event .draw-container .center {
  text-align: center;
}

#event-participate h3 {
  margin: 15px 0;
}

#event-participate .bet-description > span {
  font-weight: 400;
}

#event-participate .bet-description > input {
  width: 5em;
  border-radius: 10px;
  border: 1px solid #7773;
  text-align: center;
  transition: all .35s ease;
}

#event-participate .bet-description > input:active,
#event-participate .bet-description > input:focus,
#event-participate .bet-description > input:hover {
  width: 5em;
  border-radius: 4px;
  border: 1px solid #7776;
}

#event-participate .token-repartition {
  display: flex;
  flex-direction: row;
}

#event-participate .token-repartition > div {
  display: flex;
  flex: 1;
  vertical-align: middle;
}

#event-participate .token-repartition > div > span {
  width: 100%;
  line-height: 48px;
  text-align: center;
}

#event-participate .token-repartition > div > mat-slider {
  width: 100%;
}

.event-layout-page-content .infos-container .event h2.first-title {
  margin-top: 0 !important;
}

.event-layout-page-content .infos-container .event h2 {
  margin: 1em 0 !important;
}

.event-layout-page-content .infos-container .event span.tag {
  margin: 10px 0 10px 10px;
  padding: 10px 20px;
  border-radius: 99999999px;
  border: 1px solid #ff4500;
  color: #ff4500;
}

.event-layout-page-content .infos-container .event span.tag:first-child {
  margin-left: 0;
}

/** Fix tag-input css  -->  */
.event-layout-page-content .infos-container .event .tags tag-input > div {
  border: 1px solid #666a;
  box-shadow: 0 0 4px #666a;
  /*border: 1px solid #ff4500;*/
  /*border-radius: 0;*/
  padding: 7px;
}

.event-layout-page-content .infos-container .event .tags tag-input tag {
  background: transparent;
  border: 1px solid #2A9D8F;
  transition: all .35s ease;
}

.event-layout-page-content .infos-container .event .tags tag-input tag > div {
  color: #2A9D8F;
  background: transparent;
  transition: all .35s ease;
}

.event-layout-page-content .infos-container .event .tags tag-input tag:hover {
  background: #2A9D8F !important;
}

.event-layout-page-content .infos-container .event .tags tag-input tag:hover > div {
  background: transparent !important;
  color: white;
}

.event-layout-page-content .infos-container .event .tags tag-input tag-input-form input {
  background: transparent;
}

/** <-- Fix tag-input */

.event-layout-page-content .infos-container .influencer {
  height: 75px;
  margin-top: 40px;
}

.event-layout-page-content .infos-container .influencer .influencer-box,
.event-layout-page-content .infos-container .influencer .influencer-icon {
  display: table-cell;
}

.event-layout-page-content .infos-container .influencer .influencer-icon {
  height: 75px;
  width: 75px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 9999999px;
}

.event-layout-page-content .infos-container .influencer .influencer-box {
  padding-left: 10px;
  padding-top: 5px;
  line-height: 2em;
  font-size: 1.4em;
}

.event-layout-page-content .editing-label {
  position: fixed;
  top: 65px;
  right: 0;
  padding: 10px 20px;
  font-weight: bold;
  color: white;
  background: red;
  border-radius: 0 0 5px 5px;
  z-index: 1000;
}

.event-layout-page-content [contenteditable=true] {
  transition: all .35s ease;
  border: 1px solid #666c;
  box-shadow: 0 0 4px #666c;
  outline: 1px solid transparent;
  position: relative;
  padding: 5px;
}

.event-layout-page-content [contenteditable=true]:hover {
  border: 1px solid #666a;
  box-shadow: 0 0 4px #666a;
}

.event-layout-page-content [contenteditable=true]:focus,
.event-layout-page-content [contenteditable=true]:active {
  border: 1px solid #ffcd2a;
  box-shadow: 0 0 4px #ffcd2a;
}

/******** Privacy Policy Page *********/

.privacy-policies {
  padding: 3em 1.5em 0;
}

.anchor-offset h6,
.anchor-offset h3 {
  padding-top: 100px;
  margin-top: -100px;
}

.privacy-policies h2 {
  font-weight: 100;
  font-size: 36px;
  line-height: 45px;
  position: relative;
  margin: 0 0 20px;
  padding: 0 0 20px;
}

.privacy-policies h2:before {
  content: "";
  position: absolute;
  width: 70px;
  height: 2px;
  background: #EB6836;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  bottom: 0;
}

.privacy-policies h3.privacy-policies-topic-title {
  color: #EB6836;
}

.privacy-policies h4.privacy-policies-topic-subtitle {
  margin: 0;
}

.privacy-policies h5.privacy-policies-topic-subsubtitle {
  color: #707070;
}

.privacy-policies h5.privacy-policies-topic-subsubtitle span,
.privacy-policies h4.privacy-policies-topic-subtitle span {
  margin-right: 12px;
}

.privacy-policies p {
  font-size: 1.1em;
  text-align: justify;
}

.privacy-policies-menu mat-panel-title h5 {
  margin: 0;
}

.privacy-policies-menu mat-expansion-panel.mat-expanded h5,
.privacy-policies-menu mat-expansion-panel.mat-expanded .mat-expansion-indicator::after {
  color: #EB6836;
}

.privacy-policies-menu mat-expansion-panel p {
  margin-left: 25px;
  cursor: pointer;
  width: auto;
}

.privacy-policies-menu mat-expansion-panel p span {
  margin-right: 12px;
}

.privacy-policies-menu mat-expansion-panel p:hover {
  text-decoration: underline;
  font-weight: 600;
}

@media screen and (max-width: 991px) {

  .privacy-policies mat-expansion-panel:last-child,
  .privacy-policies .mat-accordion > .mat-expansion-panel-spacing:last-child {
    margin-bottom: 2.5em !important;
  }

  .privacy-policies h5.privacy-policies-topic-subsubtitle {
    margin-top: 15px;
  }
}

/*************** Routing Error Page ******************/

.routing-error {
  position: relative;
  height: calc(100vh - 65px);
}

.routing-error .routing-error-notfound {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.routing-error .routing-error-notfound {
  width: 100%;
  text-align: center;
}

.routing-error-glitch {
  color: black;
  font-size: 100px;
  position: relative;
  width: 213px;
  margin: 0 auto;
  user-select: none;
  -webkit-user-select: none;
}

.routing-error-glitch:before {
  content: attr(data-text);
  position: absolute;
  left: -2px;
  text-shadow: 1px 0 blue;
  top: 0;
  color: black;
  background: rgb(250, 250, 250);
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim-2 3s infinite linear alternate-reverse;
}

.routing-error-glitch:after {
  content: attr(data-text);
  position: absolute;
  left: 2px;
  text-shadow: -1px 0 red;
  top: 0;
  color: black;
  background: rgb(250, 250, 250);
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim 2s infinite linear alternate-reverse;
}

@keyframes noise-anim {
  0% {
    clip: rect(67px, 9999px, 3px, 0);
  }
  5% {
    clip: rect(3px, 9999px, 33px, 0);
  }
  10% {
    clip: rect(62px, 9999px, 34px, 0);
  }
  15% {
    clip: rect(30px, 9999px, 26px, 0);
  }
  20% {
    clip: rect(68px, 9999px, 79px, 0);
  }
  25% {
    clip: rect(41px, 9999px, 5px, 0);
  }
  30% {
    clip: rect(21px, 9999px, 88px, 0);
  }
  35% {
    clip: rect(100px, 9999px, 53px, 0);
  }
  40% {
    clip: rect(55px, 9999px, 54px, 0);
  }
  45% {
    clip: rect(28px, 9999px, 24px, 0);
  }
  50% {
    clip: rect(64px, 9999px, 12px, 0);
  }
  55% {
    clip: rect(84px, 9999px, 72px, 0);
  }
  60% {
    clip: rect(3px, 9999px, 53px, 0);
  }
  65% {
    clip: rect(43px, 9999px, 9px, 0);
  }
  70% {
    clip: rect(21px, 9999px, 51px, 0);
  }
  75% {
    clip: rect(80px, 9999px, 22px, 0);
  }
  80% {
    clip: rect(91px, 9999px, 67px, 0);
  }
  85% {
    clip: rect(22px, 9999px, 78px, 0);
  }
  90% {
    clip: rect(46px, 9999px, 99px, 0);
  }
  95% {
    clip: rect(26px, 9999px, 62px, 0);
  }
  100% {
    clip: rect(63px, 9999px, 91px, 0);
  }
}

@keyframes noise-anim-2 {
  0% {
    clip: rect(10px, 9999px, 5px, 0);
  }
  5% {
    clip: rect(25px, 9999px, 28px, 0);
  }
  10% {
    clip: rect(83px, 9999px, 62px, 0);
  }
  15% {
    clip: rect(23px, 9999px, 40px, 0);
  }
  20% {
    clip: rect(9px, 9999px, 75px, 0);
  }
  25% {
    clip: rect(77px, 9999px, 39px, 0);
  }
  30% {
    clip: rect(55px, 9999px, 29px, 0);
  }
  35% {
    clip: rect(59px, 9999px, 3px, 0);
  }
  40% {
    clip: rect(67px, 9999px, 56px, 0);
  }
  45% {
    clip: rect(19px, 9999px, 42px, 0);
  }
  50% {
    clip: rect(18px, 9999px, 75px, 0);
  }
  55% {
    clip: rect(18px, 9999px, 93px, 0);
  }
  60% {
    clip: rect(41px, 9999px, 66px, 0);
  }
  65% {
    clip: rect(43px, 9999px, 14px, 0);
  }
  70% {
    clip: rect(7px, 9999px, 60px, 0);
  }
  75% {
    clip: rect(27px, 9999px, 25px, 0);
  }
  80% {
    clip: rect(28px, 9999px, 98px, 0);
  }
  85% {
    clip: rect(75px, 9999px, 91px, 0);
  }
  90% {
    clip: rect(5px, 9999px, 4px, 0);
  }
  95% {
    clip: rect(8px, 9999px, 40px, 0);
  }
  100% {
    clip: rect(18px, 9999px, 55px, 0);
  }
}

.routing-error .routing-error-notfound h1 {
  font-size: 230px;
  margin: 0px;
  font-weight: 900;
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  background: url('https://apidev.shareyourdreams.fr/v1//static/images/assets/404_background.jpg') no-repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: cover;
  background-position: center;
}

.routing-error .routing-error-notfound h2 {
  color: #000;
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 0;
}

.routing-error .routing-error-notfound p {
  color: #000;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 20px;
  margin-top: 0;
  max-width: 500px;
  left: 50%;
  position: relative;
  transform: translateX(-50%);
}

.routing-error .routing-error-notfound a {
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  padding: 15px 30px;
  border-radius: 40px;
  color: #fff;
  font-weight: 700;
  -webkit-box-shadow: 0 4px 15px -5px #ff5b1f;
  box-shadow: 0 4px 15px -5px #ff5b1f;
}


@media only screen and (max-width: 767px) {

  .routing-error .routing-error-notfound h1 {
    font-size: 112px;
  }

  .routing-error .routing-error-notfound h2 {
    font-size: 16px;
  }

  .routing-error .routing-error-notfound p {
    color: #000;
    font-size: 13px;
    max-width: 325px;
  }
}


/*************** Payment Layout *****************************/

.payment {
  position: relative;
  height: calc(100vh - 65px);
}

.payment .payment-card {
  width: 80%;
  text-align: center;
  top: 50%;
  left: 50%;
  position: relative;
  transform: translate(-50%, -50%);
  height: calc(100vh - 170px);
  cursor: default;
}

.payment .payment-top-50 {
  top: 50%;
  position: relative;
  transform: translateY(-50%);
}

.payment .payment-offer-container {
  overflow: hidden;
  height: calc(65% - 1.5rem);
  margin-bottom: 1.5rem !important;
}

.payment .payment-offer-container div.col-lg-12 {
  overflow-y: scroll;
  overflow-x: hidden;
}

.payment .payment-offer-container div.col-lg-12::-webkit-scrollbar {
  width: 0 !important;
}

.payment .payment-offer-container div.col-lg-12::-webkit-scrollbar-thumb:hover,
.payment .payment-offer-container div.col-lg-12::-webkit-scrollbar-thumb,
.payment .payment-offer-container div.col-lg-12::-webkit-scrollbar-track {
  background: transparent;
}


.payment .payment-offer {
  margin: 0 !important;
  width: 100%;
  height: 100px;
  box-shadow: 0 4px 15px -5px rgba(0, 0, 0, 0.37);
  cursor: pointer;
}

.payment .card.payment-offer p {
  margin: 6px 0 0;
  font-size: 14px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 90% !important;
  text-align: center;
  left: 50%;
  position: relative;
  transform: translateX(-50%);
}

.payment .card.payment-offer p span:first-child {
  color: #EB6836;
}

.payment .card.payment-offer h6 {
  position: relative;
  margin-top: 15px !important;
  right: 0;
  color: #EB6836;
}

.payment .card.payment-offer .payment-price {
  position: absolute;
  bottom: 0;
  width: auto !important;
  right: -1px;
  padding: 0.35rem;
  background: #EB6836;
  color: #ffffff;
  font-weight: bold;
  font-size: 13px;
  border-top-left-radius: 0.25rem;
}

.payment .card.payment-offer img {
  max-height: 85%;
  max-width: 85%;
}

.payment .card.payment-offer.payment-offer-selected {
  border: 2px solid #2A9D8F;
}

.payment .card.payment-offer.payment-offer-selected h6 {
  color: #2A9D8F;
}

.payment .card.payment-offer.payment-offer-selected .payment-price {
  background: #2A9D8F;
}

.payment .card.payment-offer.payment-offer-selected p span:first-child {
  color: #2A9D8F;
}

.payment .payment-method-selected {
  border: 2px solid #2A9D8F;
}

.payment .payment-card button {
  left: 50%;
  position: relative;
  transform: translateX(-50%);
  background: #2A9D8F !important;
}

.payment .payment-card button[disabled]:hover,
.payment .payment-card button[disabled] {
  background-color: #888 !important;
  box-shadow: none !important;
}


@media (max-width: 992px) {

  .payment .payment-card {
    top: initial;
    transform: translate(-50%, 0);
    margin-top: 45px;
    height: auto;
  }

  .payment .payment-card .row .col-lg-5,
  .payment .payment-card .row .col-lg-7 {
    margin-bottom: 2em;
  }

  .payment .payment-card h3 {
    padding: 2em !important;
  }
}


/************** Event Creation *************/

.event-creation {
  padding: 0 1.5em;
}

.event-creation ngb-datepicker {
  transform: translate(0px, 5px) !important;
}

.event-creation ngb-datepicker.dropdown-menu:before {
  border: none !important;
}


/******** Profile Page *********/

.influencer-layout ngb-tabset .nav {
  width: 100%;
}

.influencer-layout, h2, .h2 {
  margin-bottom: 5px !important;
}

.influencer-layout .page-header {
  min-height: 350px;
}

.influencer-layout, .page-header:after, .page-header:before {
  content: none !important;
}

.influencer-layout .profile-picture {
  text-align: center;
}

.influencer-layout .profile-container {
  color: #FFFFFF;
}


.influencer-layout .profile-page-content {
  background: url('../../assets/img/background.png');
}

.influencer-layout .photo-container {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto;
  box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.3);
  margin-top: -200px;
  position: relative;
  left: -50%;
  background-size: cover;
}

.influencer-layout .page-header-small {
  min-height: 50vh !important;
  max-height: 440px;
}

.influencer-layout .certified-container {
  position: absolute;
  top: 0;
  right: -30px;
  width: 30px;
  height: 30px;
  margin: 0 auto;
}

.influencer-layout .card {
  cursor: unset;
}

.influencer-layout .page-content {
  text-align: center;
  margin-top: 20px;
}

.influencer-layout .social-media-item {
  width: 40px;
  height: 40px;
  margin: 7px;
  background-color: whitesmoke;
  border: 1px solid transparent;
  border-radius: 9999px;
  overflow: hidden;
  box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.3);
}

.influencer-layout .influencer-card {
  width: 85%;
  text-align: left;
  justify-content: flex-start;
}

.influencer-layout .influencer-card .title {
  padding: 20px;
  padding-left: 60px;
  display: block;
  transition-duration: 0.5s;
}

.influencer-layout .influencer-card .about-me-text {
  padding-left: 60px !important;
}

.influencer-layout .influencer-card .recent-event-title {
  padding-left: 20px !important;
}

.influencer-layout .nav-tabs > .nav-item > .nav-link.active, .influencer-layout .follow-button {
  background-color: #EB6836 !important;
}

.influencer-layout .description-left, .influencer-layout .description-right {
  width: 50%;
  margin-top: 0px;
  color: #000;
  display: inline-flex;
}

.influencer-layout .description-content {
  display: block;
}

.influencer-layout .description-text {
  padding: 20px;
  display: inline-flex;
  text-align: left;
}

.influencer-layout .description-event {
  display: inline-flex;
  padding: 20px;
  padding-top: 0px;
  text-align: left;
}

.influencer-layout .influencer-card .description {
  padding: 20px;
  margin-top: 0px;
  color: #000;
}

.influencer-layout .social-logo {
  width: 10px;
  height: 10px;
}

.influencer-layout .social-media-item:hover {
  -webkit-transform: translate(-10%, -10%);
  transform: translate(-10%, -10%);
  transition-duration: 0.5s;
  cursor: pointer;
}

.influencer-layout .profile-description-container {
  text-align: center;
  padding-top: 60px;
  padding-right: 30px;
}

.influencer-layout .social-media {
  text-align: center;
  display: inline-flex;
}

.influencer-layout .username {
  text-align: center;
  position: relative;
  display: inline-flex;
  padding-top: 5px !important;
}

.influencer-layout .profile-username {
  position: sticky;
}

.influencer-layout .category {
  text-align: center;
}

.influencer-layout h5.description {
  max-width: 700px;
  margin: 20px auto 75px;
}

.influencer-layout .nav-align-center {
  margin-top: 30px;
}

.influencer-layout .info-horizontal {
  padding: 15px 0 0;
}

.influencer-layout .content .social-description {
  display: inline-block;
  max-width: 150px;
  width: 145px;
  text-align: center;
  margin: 15px 0 0px;
}

.influencer-layout .content .social-description h2 {
  margin-bottom: 5px;
}

.influencer-layout .collections img {
  margin-bottom: 30px;
}

.influencer-layout .gallery {
  margin-top: 45px;
  padding-bottom: 50px;
}

.influencer-layout .swiper-container {
  padding: 20px;
  overflow-x: hidden !important;
}

.influencer-layout .swiper-slide {
  width: auto;
  height: auto;
}

.influencer-layout .swiper-container-3d .swiper-slide-shadow-left,
.influencer-layout .swiper-container-3d .swiper-slide-shadow-right {
  background-image: none !important;
  opacity: 0 !important;
}

.influencer-layout .glass {
  background-color: #fff8f540;
}

.influencer-layout .past-events-container {
  text-align: center;
}

.influencer-layout .past-events-item {
  display: inline-flex;
  margin: 20px;
}

.influencer-layout .select-panel {
  user-select: none;
}

/* TODO: Cette classe reproduit le style du composant app-event-carousel-box; --> unifier */
.influencer-layout .see-more {
  width: 520px !important;
  height: 280px;
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.15) !important;
  border: 1px solid rgba(0, 0, 0, 0.05) !important;
}

.influencer-layout .see-more {
  width: 520px !important;
  height: 280px;
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.15) !important;
  border: 1px solid rgba(0, 0, 0, 0.05) !important;
}

.influencer-layout .top-user-table {
  padding-left: 60px;
  padding-bottom: 20px;
}

.influencer-layout .description-stat {
  width: 50%;
  margin-top: 0px;
  color: #000;
  display: inline-flex;
}

.influencer-layout .description-stat-main {
  width: 50%;
  margin-top: 0px;
  color: #000;
  display: inline-flex;
}

.influencer-layout .no-current-events {
  text-align: center;
  padding-bottom: 40px;
}

.influencer-layout .current-events {
  padding-left: 60px;
  padding-right: 60px;
  padding-bottom: 20px;
  width: 100%;
  text-align: center;
  justify-content: center;
}

.influencer-layout .blur-bg {
  height: 100%;
  z-index: -1;
}

.influencer-layout .bg {
  position: absolute;
  height: 630px;
  width: 100%;
  filter: blur(15px);
  z-index: -1;
  background-image: url(../img/default-banner.jpg);
}

.influencer-layout .header-image { /*1000x350*/
  position: relative;
  text-align: center;
  background-size: cover;
  left: 50%;
  transform: translateX(-50%);
  height: 100%;
  z-index: -1;
  background-image: url(../img/default-banner.jpg);
  width: 70%;
}

.influencer-layout .header-influencer {
  width: 100%;
  height: 630px;
}

.influencer-layout .more {
  padding: 15px !important;
  color: white;
  background-color: #2A9D8F !important;
}

.influencer-layout .show-more-button {
  padding: 10px;
}

.influencer-layout .show-more-button:hover {
  background-color: #f6f6f6;
  cursor: pointer;
}

.influencer-layout .layout-column {
  width: 100vw;
  min-height: 100vh;
  padding: 0 !important;
}

@media screen and (max-width: 1480px) {

}

@media screen and (max-width: 1200px) {
  .influencer-layout .current-events {
    padding-left: 45px;
    padding-right: 45px;
  }

  .influencer-layout .influencer-card .title {
    padding-left: 45px;
  }

}

@media screen and (max-width: 992px) {

  .influencer-layout .current-events {
    padding-left: 30px;
    padding-right: 30px;
  }

  .influencer-layout .influencer-card .title {
    padding-left: 30px;
  }

}

@media screen and (max-width: 870px) {
  .influencer-layout .current-events {
    display: block;
  }
}

@media screen and (max-width: 725px) {
  .influencer-layout .influencer-card {
    width: 100%;
  }

  .influencer-layout .current-events {
    padding-left: 20px;
    padding-right: 20px;
  }

  .influencer-layout .influencer-card .title {
    padding-left: 20px;
  }

}

@media screen and (max-width: 576px) {
  .influencer-layout .current-events {
    padding-left: 5px;
    padding-right: 5px;
  }

  .influencer-layout .influencer-card .title {
    padding-left: 5px;
  }

}

/************** Association List Page ******************/

.association-list {
  height: 2000px;
}

.association-list .page-header-small {
  background-image: url(../img/association-list.jpg);
  background-position: center;
  background-origin: initial;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
}

.association-list .card:not(.association-box) {
  width: 90%;
  transform: translate(-50%, -15%);
  left: 50%;
  height: auto;
  position: relative;
  margin-bottom: 0;
}

.association-list .card:not(.association-box) .card-header {
  height: 25%;
  padding: 3em 1.5em 1.5em;
  text-align: center;
  color: white;
  background-color: #EB6836;
}

.association-list .card:not(.association-box) .card-header h3 {
  text-transform: uppercase;
}

.association-list .card:not(.association-box) .card-body {
  height: 60%;
  padding: 1.5em;
}

.association-list .card:not(.association-box) .card-footer {
  height: 15%;
  padding: 1.5em;
  margin: 0;
}

@media (min-width: 768px) {
  .association-list .card:not(.association-box) {
    width: 80%;
  }
}

@media (min-width: 992px) {
  .association-list .card:not(.association-box) {
    width: 80%;
  }
}

@media (min-width: 1200px) {
  .association-list .card:not(.association-box) {
    width: 65%;
  }
}

.association-list .card .card-body .association-box {
  height: 140px;
  cursor: pointer;
  padding: 0.75em;
}

.association-list .card .card-body .association-box div:last-child {
  width: calc(30% - 1.5rem);
}

.association-list .card .card-body .association-box div:first-child {
  width: 15%;
}

.association-list .card .card-body .association-box div {
  width: 55%;
}

.association-box .association-box-name {
  color: #2A9D8F;
  font-weight: 600 !important;
  margin-bottom: 0.25em;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.association-box .association-box-description {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  margin: 0;
}


/************** Association Entity Page ******************/

.association-entity {
  min-height: calc(100vh - 65px);
  background: white;
}

.association-entity > .row:first-child {
  height: 600px !important;
}

.association-entity .page-header-small .row {
  bottom: -7em;
}

.association-entity .page-header-small .row img {
  width: 15em;
  border-radius: 50%;
  border: 4px solid #EB6836;
  cursor: pointer;
}

.association-entity .card {
  width: 60%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  display: inline-block;
}

.top-50 {
  position: relative;
  transform: translateY(-50%);
  top: 50%;
}

.left-50 {
  left: 50%;
  position: relative;
  transform: translateX(-50%);
}

.association-entity .association-information {
  background-color: #EB6836;
  color: white;
}

.association-entity.association-edited .association-wall .association-entity-edit {
  top: 50%;
  transform: translateY(-50%);
  border: 2px solid black;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  display: inline-block;
  cursor: pointer;
  z-index: 1000;
}


.association-entity.association-edited .association-wall > img {
  opacity: 0.5;
}

.association-entity.association-edited .association-logo > div div img {
  opacity: 0.5;
}

.association-entity.association-edited .association-logo > div div .association-entity-edit {
  top: 50%;
  position: relative;
  transform: translate(-50%, -50%);
  left: 50%;
  color: black;
  border: 2px solid black;
  cursor: pointer;
  width: 45px;
  height: 45px;
  z-index: 100;
}

.association-entity .association-wall .association-entity-edit i,
.association-entity .association-entity-images .association-entity-edit i,
.association-entity .association-logo > div div .association-entity-edit i {
  color: black;
  font-size: 1.2em;
}

.association-entity .association-entity-images .association-entity-edit {
  border: 2px solid black;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  cursor: pointer;
  display: inline-block;
}

.association-entity .association-information h3 {
  font-weight: 700;
  color: white;
}

.association-entity .association-information p {
  font-weight: 500;
  color: white;
}

.association-entity .association-information i.big {
  padding-right: 1rem;
  border-right: 1px solid white;
  font-size: 1.8em;
  width: 50px;
}

.association-entity .association-logo {
  margin-top: -125px !important;
}

.association-entity.association-edited .association-logo {
  margin-top: 40px !important;
}

.association-entity.association-edited .association-logo div div {
  cursor: pointer;
}

.association-entity .association-logo div div {
  border-radius: 50%;
  border: 1px solid lightgray;
  width: 250px;
  height: 250px
}

.association-entity .association-logo div div img {
  border-radius: 50%;
}

.association-entity .association-entity-box {
  border: 1px solid #EB6836;
  border-radius: 0.25rem;
  box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.2);
}

.association-entity .association-entity-box > div:first-child {
  background: #EB6836;
}

.association-entity .association-entity-box > div:first-child p {
  color: white;
  font-weight: 500;
}

.association-entity .association-entity-box textarea {
  height: 400px !important;
  max-height: 400px !important;
  border: 1px solid #E3E3E3 !important;
  border-radius: 0.25rem !important;
}

.association-entity .association-entity-box textarea:focus {
  border: 1px solid #EB6836 !important;
}

.association-entity .association-entity-images {
  width: 99%;
}

.association-entity .association-entity-images .swiper-slide {
  max-height: 250px !important;
  max-width: 30% !important;
  margin-right: 3.333% !important;
  width: 100% !important;
}

.association-entity .association-entity-images .swiper-slide img {
  width: 100%;
  height: 250px;
}

.swiper-slide-close {
  right: 0px;
  top: 0px;
  background-color: red;
  cursor: pointer;
}

.swiper-slide-close i {
  margin: 5px;
  font-size: 1.5em;
  color: white;
}

.association-input-check {
  height: 40px;
  background: white;
  width: 40px;
  border: 1px solid #E3E3E3;
  cursor: pointer;
  border-radius: 50%;
}

.association-input-check:hover {
  border-color: #EB6836;
}

.association-input-check:hover i {
  color: #EB6836;
}

.association-input-check i {
  padding-top: 12px;
  color: black;
}

/************** User Profile Page ******************/

.user-profile .user-profile-container {
  text-align: center;
}

.user-profile .user-profile-card-public {
  width: 500px;
  margin: 50px;
  transition: 0.5s;
  cursor: unset;
}

.user-profile .user-profile-banner-public {
  background-image: url("../img/default-banner.jpg");
  width: 100%;
  height: 250px;
  background-size: cover;
  transition: 0.5s;
}

.user-profile .user-profile-photo-container-public {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto;
  box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.3);
  position: relative;
  left: -50%;
  margin-top: 75px;
  transition: 0.5s;
}

.user-profile .user-profile-content-public {
  margin-top: 45px;
}

.user-profile .user-profile-tags {
  bottom: 0;
  margin-bottom: 10px;
  margin-top: 10px;
}

.user-profile .user-profile-tags span {
  color: #EB6836;
  border: 1px solid #EB6836;
  padding: 0.25rem 0.5rem;
  border-radius: 1em;
  background-color: transparent;
  margin-right: 0.75em;
  font-size: 0.8em;
  letter-spacing: 1.25px;
}

.user-profile .user-profile-tags-inner-container {
  display: inline;
}

.user-profile .profile-picture-user-public {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.user-profile .user-name-public {
  transition: 0.5s;
}

.user-profile .user-date-public {
  transition: 0.5s;
}

.user-profile .user-country-public {
  transition: 0.5s;
}

.user-profile ngb-tabset .nav {
  width: 100%;
}

.user-profile, h2, .h2 {
  margin-bottom: 5px !important;
}

.user-profile .page-header {
  min-height: 350px;
}

.user-profile, .page-header:after, .page-header:before {
  content: none !important;
}

.user-profile .profile-picture {
  text-align: center;
}

.user-profile .profile-container {
  color: #FFFFFF;
}


.user-profile .profile-page-content {
  background: url('../../assets/img/background.png');
}

.user-profile .photo-container {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto;
  box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.3);
  margin-top: -200px;
  position: relative;
  left: -50%;
}

.user-profile .page-header-small {
  min-height: 50vh !important;
  max-height: 440px;
}

.user-profile .card {
  cursor: unset;
}

.user-profile .page-content {
  text-align: center;
  margin-top: 20px;
}

.user-profile .influencer-card {
  width: 85%;
  text-align: left;
  justify-content: flex-start;
}

.user-profile .influencer-card .title {
  padding: 20px;
  padding-left: 60px;
  display: block;
  transition-duration: 0.5s;
}

.user-profile .influencer-card .about-me-text {
  padding-left: 60px !important;
}

.user-profile .influencer-card .recent-event-title {
  padding-left: 20px !important;
}

.user-profile .nav-tabs > .nav-item > .nav-link.active, .user-profile .follow-button {
  background-color: #EB6836 !important;
}

.user-profile .description-left, .user-profile .description-right {
  width: 50%;
  margin-top: 0px;
  color: #000;
  display: inline-flex;
}

.user-profile .description-content {
  display: block;
}

.user-profile .description-text {
  padding: 20px;
  display: inline-flex;
  text-align: left;
}

.user-profile .description-event {
  display: inline-flex;
  padding: 20px;
  padding-top: 0px;
  text-align: left;
}

.user-profile .social-media-item:hover {
  -webkit-transform: translate(-10%, -10%);
  transform: translate(-10%, -10%);
  transition-duration: 0.5s;
  cursor: pointer;
}

.user-profile .profile-description-container {
  text-align: center;
  padding-top: 60px;
}

.user-profile .social-media {
  text-align: center;
  display: inline-flex;
}

.user-profile .username {
  text-align: center;
  position: relative;
  display: inline-flex;
  padding-top: 5px !important;
}

.user-profile .profile-username {
  position: sticky;
}

.user-profile .category {
  text-align: center;
}

.user-profile h5.description {
  max-width: 700px;
  margin: 20px auto 75px;
}

.user-profile .nav-align-center {
  margin-top: 30px;
}

.user-profile .info-horizontal {
  padding: 15px 0 0;
}

.user-profile .content .social-description {
  display: inline-block;
  max-width: 150px;
  width: 145px;
  text-align: center;
  margin: 15px 0 0px;
}

.user-profile .content .social-description h2 {
  margin-bottom: 5px;
}

.user-profile .collections img {
  margin-bottom: 30px;
}

.user-profile .gallery {
  margin-top: 45px;
  padding-bottom: 50px;
}

.user-profile .swiper-container {
  padding: 20px;
  overflow-x: hidden !important;
}

.user-profile .swiper-slide {
  width: auto;
  height: auto;
}

.user-profile .swiper-container-3d .swiper-slide-shadow-left,
.user-profile .swiper-container-3d .swiper-slide-shadow-right {
  background-image: none !important;
  opacity: 0 !important;
}

.user-profile .glass {
  background-color: #fff8f540;
}

.user-profile .past-events-container {
  text-align: center;
}

.user-profile .past-events-item {
  display: inline-flex;
  margin: 20px;
}

.user-profile .select-panel {
  user-select: none;
}

/* TODO: Cette classe reproduit le style du composant app-event-carousel-box; --> unifier */
.user-profile .see-more {
  width: 520px !important;
  height: 280px;
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.15) !important;
  border: 1px solid rgba(0, 0, 0, 0.05) !important;
}

.user-profile .see-more {
  width: 520px !important;
  height: 280px;
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.15) !important;
  border: 1px solid rgba(0, 0, 0, 0.05) !important;
}

.user-profile .top-user-table {
  padding-left: 60px;
  padding-bottom: 20px;
}

.user-profile .description-stat {
  width: 50%;
  margin-top: 0px;
  color: #000;
  display: inline-flex;
}

.user-profile .description-stat-main {
  width: 50%;
  margin-top: 0px;
  color: #000;
  display: inline-flex;
}

.user-profile .no-current-events {
  text-align: center;
  padding-bottom: 40px;
}

.user-profile .current-events {
  padding-left: 60px;
  padding-right: 60px;
  padding-bottom: 20px;
  display: inline-flex;
  width: 100%;
  text-align: center;
  justify-content: center;
}

.user-profile .blur-bg {
  height: 100%;
  z-index: -1;
}

.user-profile .bg {
  position: absolute;
  height: 350px;
  width: 100%;
  filter: blur(15px);
  z-index: -1;
}

.user-profile .header-image { /*1000x350*/
  position: relative;
  text-align: center;
  width: 1000px;
  background-size: cover;
  left: 50%;
  transform: translateX(-50%);
  height: 100%;
  z-index: -1;
}

.user-profile .header-user-me {
  width: 100%;
  height: 350px;
}


@media screen and (max-width: 1480px) {

}

@media screen and (max-width: 1200px) {
  .user-profile .current-events {
    padding-left: 45px;
    padding-right: 45px;
  }

  .user-profile .influencer-card .title {
    padding-left: 45px;
  }

}

@media screen and (max-width: 992px) {

  .user-profile .current-events {
    padding-left: 30px;
    padding-right: 30px;
  }

  .user-profile .influencer-card .title {
    padding-left: 30px;
  }

}

@media screen and (max-width: 870px) {
  .user-profile .current-events {
    display: block;
  }
}

@media screen and (max-width: 725px) {
  .user-profile .influencer-card {
    width: 100%;
  }

  .user-profile .current-events {
    padding-left: 20px;
    padding-right: 20px;
  }

  .user-profile .influencer-card .title {
    padding-left: 20px;
  }

}

@media screen and (max-width: 576px) {
  .user-profile .current-events {
    padding-left: 5px;
    padding-right: 5px;
  }

  .user-profile .influencer-card .title {
    padding-left: 5px;
  }

}

@media screen and (max-width: 545px) {
  .user-profile .user-profile-photo-container-public {
    width: 100px;
    height: 100px;
  }

  .user-profile .user-profile-card-public {
    width: 300px;
    margin: 0px;
    margin-top: 50px;
    transition: 0.5s;
    cursor: unset;
  }

  .user-profile .user-profile-banner-public {
    height: 150px;
    background-image: url("../img/default-banner.jpg");
  }

  .user-profile .user-name-public {
    font-size: 2em;
  }

  .user-profile .user-date-public {
    font-size: 1em;
  }

  .user-profile .user-country-public {
    font-size: 1em;
  }

  .user-profile .user-profile-tags {
    font-size: 0.7em;
  }
}

