.nav-tabs-wrapper  mat-horizontal-stepper > .mat-horizontal-content-container {
  overflow: hidden;
  padding: 0 24px 24px 24px;
  min-height: 360px;
  height: auto;
  padding-bottom: 0;
}

.mat-step-header.cdk-keyboard-focused, .mat-step-header.cdk-program-focused {
  background: transparent !important;
}

.nav-tabs-wrapper mat-horizontal-stepper > .mat-horizontal-stepper-header-container > mat-step-header.mat-horizontal-stepper-header {
  display: flex;
  height: 40px;
  overflow: hidden;
  align-items: center;
  padding: 0 24px;
  margin: calc(1.5em + 25px) 0em;
}

.nav-tabs-wrapper mat-horizontal-stepper > .mat-horizontal-stepper-header-container > mat-step-header.mat-horizontal-stepper-header .mat-step-label {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  min-width: 0;
  vertical-align: middle;
}

.mat-step-header .mat-step-icon-selected, .mat-step-header .mat-step-icon-state-done, .mat-step-header .mat-step-icon-state-edit {
  background: #ff5b1f;
  color: #fff;
}

.nav-tabs-wrapper mat-horizontal-stepper > .mat-horizontal-content-container > .mat-horizontal-stepper-content {
  outline: 0;
  padding-top: 0;
}

.nav-tabs-wrapper .mat-horizontal-stepper-header .mat-step-icon {
  margin-right: 0;
  flex: none;
}

.nav-tabs-wrapper .mat-horizontal-stepper-header .mat-step-icon {
  margin-right: 0;
  flex: none;
}


.mat-tab-body.mat-tab-body-active,
.mat-tab-body,
.mat-tab-body-content {
  overflow: hidden !important;
}
