/* Plugins CSS */
@import "ui-kit/plugins/plugin-bootstrap-select.css";
@import "ui-kit/plugins/plugin-bootstrap-switch.css";
@import "ui-kit/plugins/plugin-datetimepicker.css";
@import "ui-kit/plugins/plugin-fileupload.css";
@import "ui-kit/plugins/plugin-slider.css";
@import "ui-kit/plugins/plugin-isometric-grids.css";
@import "ui-kit/plugins/plugin-ngx-intl-tel-input.css";
@import "ui-kit/plugins/plugin-tags-input.css";
/* Core and Components CSS */
@import "ui-kit/alerts.css";
@import "ui-kit/badges.css";
@import "ui-kit/buttons.css";
@import "ui-kit/cards.css";
@import "ui-kit/carousel.css";
@import "ui-kit/checkboxes-radio.css";
@import "ui-kit/dropdown.css";
@import "ui-kit/footers.css";
@import "ui-kit/images.css";
@import "ui-kit/info-areas.css";
@import "ui-kit/inputs.css";
@import "ui-kit/media.css";
@import "ui-kit/misc.css";
@import "ui-kit/modals.css";
@import "ui-kit/navbar.css";
@import "ui-kit/nucleo-outline.css";
@import "ui-kit/pagination.css";
@import "ui-kit/pills.css";
@import "ui-kit/popups.css";
@import "ui-kit/progress.css";
@import "ui-kit/tables.css";
@import "ui-kit/tabs.css";
@import "ui-kit/typography.css";
@import "ui-kit/sections.css";
@import "ui-kit/example-pages.css";
@import "ui-kit/responsive.css";

.color-dark-light {
  color: #444 !important;
}

.color-white {
  color: white !important;
}


.color-blue {
  color: #264653 !important;
}

.color-orange {
  color: #EB6836 !important;
}

.color-green {
  color: #2A9D8F !important;
}

.color-gray-light {
  color: #F2F2F2 !important;
}

.color-yellow {
  color: #E9C46A !important;
}

.bk-color-dark-light {
  background-color: #444 !important;
}

.bk-color-blue {
  background-color: #264653 !important;
}

.bk-color-orange {
  background-color: #EB6836 !important;
}

.bk-color-green {
  background-color: #2A9D8F !important;
}

.bk-color-gray-light {
  background-color: #F2F2F2 !important;
}

.bk-color-yellow {
  background-color: #E9C46A !important;
}
