<ng-select [bindValue]="'countryCode'"
           [bindLabel]="'name'"
           [items]="items"
           [multiple]="multiple"
           [notFoundText]="translate('SELECT_COUNTRY/NOT_FOUND_TEXT')"
           [placeholder]="translate('SELECT_COUNTRY/PLACEHOLDER')"
           [loading]="loading"
           [closeOnSelect]="true"
           [hideSelected]="true"
           [loadingText]="translate('SELECT_COUNTRY/LOADING_TEXT')"
           [class.has-danger]="hasDanger"
           [(ngModel)]="selected"
           (change)="onChange($event)">

    <ng-template ng-option-tmp let-index="index" let-item="item">
        <div class="d-inline-block">
          <span class="d-inline-block align-middle mr-2">{{item?.dial_code}}</span>
          <span class="d-inline-block align-middle">{{item?.name}}</span>
        </div>
    </ng-template>

  <ng-template ng-label-tmp let-index="index" let-item="item">
    <div class="d-inline-block">
      <span class="d-inline-block align-middle mr-2">{{item?.dial_code}}</span>
      <span class="d-inline-block align-middle">{{item?.name}}</span>
    </div>
  </ng-template>

</ng-select>
