<div class="wrapper">
  <div class="user-profile-container">

    <div *ngIf="!isMe" class="card user-profile-card-public">

      <div class="user-profile-banner-public">
        <div style="position: absolute; left: 50%;">
          <div class="user-profile-photo-container-public bg-white"
               [ngStyle]="{backgroundImage: 'url(' + profile + ')'}">
          </div>
        </div>
      </div>

      <div class="user-profile-content-public">
        <h2 class="user-name-public">{{user?.username}}</h2>
        <p
          class="user-date-public">{{translate('USER_LAYOUT/INSCRIPTION')}} {{user?.creationDate | datePipe : 'ISO' : 'DD/MM/YYYY'}}</p>
        <p class="user-country-public">Pays: {{user?.country}}</p>
        <div class="user-profile-tags"
             *ngIf="user?.favorites != null && user?.favorites?.tags != null && user?.favorites?.tags?.length != 0">
          <div class="user-profile-tags-inner-container" *ngFor="let tag of user?.favorites?.tags let i = index"
               [attr.data-index]="i">
            <span *ngIf="i <= 3">{{tag | titlecase}}</span>
            <span *ngIf="i == 4">+ {{user?.favorites?.tags.length - 3}} tag(s)</span>
          </div>
        </div>
      </div>
    </div>

    <div class="user-profile-container">
      <div *ngIf="isMe" class="card user-profile-card-public">

        <div id="influencer-layout-bg" class="user-profile-banner-public"
             [ngStyle]="{backgroundImage: 'url(' + background + ')'}">
          <div style="position: absolute; left: 50%;">
            <div class="user-profile-photo-container-public">
              <img id="influencer-layout-profile" class="profile-picture-user-public" [src]="profile"
                   alt="Profile Picture"/>
            </div>
          </div>
        </div>

        <div class="user-profile-content-public">
          <h2 class="user-name-public">{{user?.username}}</h2>
          <p>{{user?.firstName}} {{user?.lastName}}</p>
          <p
            class="user-date-public">{{translate('USER_LAYOUT/INSCRIPTION')}} {{user?.creationDate | datePipe : 'ISO' : 'DD/MM/YYYY'}}</p>

          <div class="user-profile-tags"
               *ngIf="user?.favorites != null && user?.favorites?.tags != null && user?.favorites?.tags?.length != 0">
            <div class="user-profile-tags-inner-container" *ngFor="let tag of user?.favorites?.tags let i = index"
                 [attr.data-index]="i">
              <span *ngIf="i <= 3">{{tag | titlecase}}</span>
              <span *ngIf="i == 4">+ {{user?.favorites?.tags.length - 3}} tag(s)</span>
            </div>
          </div>
          <div class="follow-container">
            <button type="button" class="btn follow-button btn-round" *ngIf="isMe" (click)="settings()">
              <i class="now-ui-icons loader_gear"></i> {{translate('USER_LAYOUT/SETTINGS')}}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
