<nav class="navbar navbar-expand-lg fixed-top bg-white" color-on-scroll="500">
  <div class="container-ui">
    <div class="navbar-translate">
      <a class="navbar-brand" (click)="navigateTo('/')" *ngIf="mobile()">
        <img src="/assets/img/syd_object.png" alt="SYD Logo">
      </a>
      <a class="navbar-brand" (click)="navigateTo('/')" placement="bottom"
         ngbTooltip="{{translate('NAVBAR/WELCOME')}}" *ngIf="!mobile()">
        <img src="/assets/img/syd_object.png" alt="SYD Logo">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler"
              aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation"
              [id]="'sidebar-toggle'" (click)="toggle()">
        <span [id]="'sidebar-toggle-bar-1'" class="navbar-toggler-bar bar1"></span>
        <span [id]="'sidebar-toggle-bar-2'" class="navbar-toggler-bar bar2"></span>
        <span [id]="'sidebar-toggle-bar-3'" class="navbar-toggler-bar bar3"></span>
      </button>
    </div>
    <div [id]="'sidebar'" class="collapse navbar-collapse">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" (click)="navigateTo('/association')">
            <p>{{translate('NAVBAR/ASSOCIATIONS')}}</p>
          </a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <form class="form-group form-inline">
            <input placeholder="{{translate('NAVBAR/SEARCH')}}" class="form-control">
            <button class="btn btn-icon btn-round marg-l-3" type="submit">
              <i class="fa fa-search"></i>
            </button>
          </form>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto" *ngIf="!mobile()">
        <li class="nav-item" *ngIf="connected">
          <a ngbDropdown class="nav-link dropdown" placement="bottom-right">
            <div class="dropdown-toggle" ngbDropdownToggle>
              <i class="fas fa-euro-sign"></i>
              <p>{{user.wallet}}</p>
            </div>
            <div ngbDropdownMenu class="dropdown-menu dropdown-menu-right">
              <a ngbDropdownItem class="dropdown-item" (click)="navigateTo('/user/purchase')">
                <i class="fa fa-cart-plus"></i>
                <span> {{translate('NAVBAR/BUY')}}</span>
              </a>
            </div>
          </a>
        </li>
        <li class="nav-item" *ngIf="connected">
          <a ngbDropdown class="nav-link dropdown">
            <div class="dropdown-toggle" ngbDropdownToggle>
              <i class="fa fa-user-circle"></i>
              <p>{{user.username}}</p>
            </div>
            <div ngbDropdownMenu class="dropdown-menu dropdown-menu-right">
              <a ngbDropdownItem class="dropdown-item" (click)="navigateTo('/user/profile/' + user?.id)">
                <i class="fa fa-user"></i>
                <span> {{translate('NAVBAR/PROFILE')}}</span>
              </a>
              <a ngbDropdownItem class="dropdown-item" (click)="navigateTo('/event/create')" *ngIf="isInfluencer">
                <i class="fa fa-calendar-plus"></i>
                <span> {{translate('NAVBAR/CREATE_EVENT')}}</span>
              </a>
              <a ngbDropdownItem class="dropdown-item" (click)="signout()">
                <i class="fas fa-sign-out-alt"></i>
                <span> {{translate('NAVBAR/SIGNOUT')}}</span>
              </a>
            </div>
          </a>
        </li>
        <li class="nav-item" *ngIf="!connected">
          <a class="nav-link" (click)="navigateTo('/user/sign/in')">
            <i class="now-ui-icons users_circle-08"></i>
            <p>{{translate('NAVBAR/CONNECTION')}}</p>
          </a>
        </li>
        <li class="nav-item">
          <a ngbDropdown class="nav-link dropdown" placement="bottom-right">
            <div class="dropdown-toggle" ngbDropdownToggle>
              <i class="fa fa-flag"></i>
            </div>
            <div ngbDropdownMenu class="dropdown-menu dropdown-menu-right">
              <a ngbDropdownItem class="dropdown-item" (click)="switch('en')">
                <img src="/assets/img/flag_english.png" alt="United Kingdom Flag"/>
                <span> {{translate('NAVBAR/ENGLISH')}}</span>
              </a>
              <a ngbDropdownItem class="dropdown-item" (click)="switch('fr')">
                <img src="/assets/img/flag_french.png" alt="French Flag"/>
                <span> {{translate('NAVBAR/FRENCH')}}</span>
              </a>
            </div>
          </a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto nav-mobile" *ngIf="mobile()">
        <li class="nav-item" *ngIf="connected">
          <a href="#usermenu" class="nav-link collapsed" data-toggle="collapse">
            <i class="fa fa-user-circle"></i>
            <p>{{user.username}}</p>
            <i class="fas fa-sort-down"></i>
          </a>
          <div class="nav-link-collapse collapse" id="usermenu">
            <a class="nav-link" (click)="navigateTo('/user/profile/' + user?.id)">
              <i class="fas fa-chevron-right"></i>
              {{translate('NAVBAR/PROFILE')}}
            </a>
          </div>
        </li>
        <li class="nav-item" *ngIf="connected">
          <a href="#tokenmenu" class="nav-link collapsed" data-toggle="collapse">
            <i class="fas fa-euro-sign"></i>
            <p>{{user.wallet}}</p>
            <i class="fas fa-sort-down"></i>
          </a>
          <div class="nav-link-collapse collapse" id="tokenmenu">
            <a class="nav-link" (click)="navigateTo('/user/purchase')"><i class="fas fa-chevron-right"></i>{{translate('NAVBAR/BUY')}}</a>
          </div>
        </li>
        <li class="nav-item">
          <a href="#languemenu" class="nav-link collapsed" data-toggle="collapse">
            <i class="fa fa-flag"></i>
            <p>{{translate('NAVBAR/LANGUAGES')}}</p>
            <i class="fas fa-sort-down"></i>
          </a>
          <div class="nav-link-collapse collapse" id="languemenu">
            <a class="nav-link" (click)="switch('fr')"><i class="fas fa-chevron-right" ></i>{{translate('NAVBAR/ENGLISH')}}</a>
            <a class="nav-link" (click)="switch('en')"><i class="fas fa-chevron-right" ></i> {{translate('NAVBAR/FRENCH')}}</a>
          </div>
        </li>
      </ul>
      <div class="nav-footer" *ngIf="mobile()">
        <hr>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item" *ngIf="connected">
            <a class="nav-link" (click)="signout()">
              <i class="fas fa-sign-out-alt"></i>
              {{translate('NAVBAR/SIGNOUT')}}
            </a>
          </li>
          <li class="nav-item" *ngIf="!connected">
            <a class="nav-link" (click)="navigateTo('/user/sign/in')">
              <i class="now-ui-icons users_circle-08"></i>
              <p>{{translate('NAVBAR/CONNECTION')}}</p>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
