<div class="wrapper">
  <div class="home">
    <div class="row m-0" *ngIf="!isMobile()">
      <div class="col-lg-12">
        <div class="swiper-container">
          <div class="swiper-wrapper">
            <div class="swiper-slide w-auto" *ngFor="let item of events">
              <app-event-carousel-box [event]="item"></app-event-carousel-box>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="mb-5" *ngFor="let item of tags | keyvalue">
      <div class="row m-0 mb-4">
        <div class="col-lg-12">
          <h4 class="m-0" [class.mt-0]="isMobile()" *ngIf="tags.get(item.key).length > 0">{{this.translate(item.key) | titlecase}}</h4>
        </div>
      </div>
      <div class="row m-0" *ngFor="let event of tags.get(item.key)">
        <div class="col-lg-3" *ngFor="let box of event">
          <app-event-box [event]="box"></app-event-box>
        </div>
      </div>
    </div>
  </div>
</div>
