<div mat-dialog-title>
  <h4 class="color-green">{{message}}</h4>
</div>
<div mat-dialog-actions>
  <button class="btn btn-round btn-lg" (click)="yes()">
    {{translate('EVENTS_LAYOUT/YES')}}
  </button>
  <button class="btn btn-round btn-lg" (click)="no()">
    {{translate('EVENTS_LAYOUT/NO')}}
  </button>
</div>
