<div class="card event-box">
  <div class="card-body p-0" (click)="navigateTo('/event/' + event?.id)">
    <div class="row m-0 w-100">
      <div class="col-lg-12 p-0 mb-2 event-box-face-top">
        <img *ngIf="background" [src]="background" [ngStyle]="{opacity: past ? '0.4' : '1'}">
        <span class="event-box-lottery" *ngIf="event?.information?.drawDate">
            {{event?.information?.drawDate | datePipe : 'ISO' : 'DD/MM/YYYY'}}
        </span>
        <span class="event-box-lottery event-past-tag" *ngIf="past">
            {{translate('EVENT_BOX/PAST_EVENT')}}
        </span>
        <div class="event-box-association">
          <img *ngIf="event?.association?.images" [src]="event?.association?.images">
        </div>
      </div>
      <div class="row m-0 event-box-user w-100">
        <div class="col-lg-4">
          <img style="border: 1px solid lightgray;"
               [src]="event?.user?.images ? event?.user?.images : '/assets/img/account.png'">
        </div>
        <div class="col-lg-8">
          <h4>{{event?.information?.name}}</h4>
          <h5>{{event?.user?.username}}</h5>
          <p class="event-box-user-association">{{translate('EVENT_BOX/FOR')}} <span>{{event?.association?.name}}</span>
          </p>
          <p *ngIf="event?.lotteries[0]?.participations.length > 1 ">
            {{event?.lotteries[0]?.participations.length + ' participants'}}
          </p>
          <p *ngIf="event?.lotteries[0]?.participations.length === 1 ">
            {{event?.lotteries[0]?.participations.length + ' participant'}}
          </p>
          <p *ngIf="event?.lotteries[0]?.participations.length === 0 ">0 participant</p>
        </div>
      </div>
      <div class="row m-0 mt-4 mb-4">
        <div class="col-lg-12" *ngIf="event?.information?.tags.length <= 2">
          <span class="event-box-tags" *ngFor="let tag of event?.information?.tags">{{tag | titlecase}}</span>
        </div>
        <div class="col-lg-12" *ngIf="event?.information?.tags.length > 2">
          <span class="event-box-tags">{{event?.information?.tags.length - 1 + '+ tags'}}</span>
        </div>
      </div>
    </div>
  </div>
  <div class="card-footer d-flex m-0 w-100" >
    <app-share-bar class="w-100" [event]="event"></app-share-bar>
  </div>
</div>
