<div [@simpleFadeAnimation]="visibility"
     (@simpleFadeAnimation.done)="animationDone($event)"
     class="notification-alert {{ alertClass }}"
     data-notify="notification-container">
  <mat-icon class="notification-icon">notifications</mat-icon>
  <button class="notification-button-icon" (click)="click()">
    <mat-icon>close</mat-icon>
  </button>
  <div class="notification-text">
    <p class="notification-title" *ngIf="title != ''">
      {{ title }}
    </p>
    <p class="notification-message">
      {{ message }}
    </p>
  </div>
</div>
