<mat-accordion class="privacy-policies-menu">

  <mat-expansion-panel *ngFor="let item of menuItem; let idx = index"
                       (opened)="change(idx)"
                       [expanded]="expanded(idx)">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <h5>{{item.title}}</h5>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p *ngFor="let subtitle of item.subtitles; let i = index;" (click)="scroll(subtitle.id)">
      <span>{{i + 1}}.</span>{{subtitle.title}}
    </p>
  </mat-expansion-panel>

</mat-accordion>
