<div class="modal-preferences-content">
  <div class="modal-header">
    <h4 class="modal-title">{{translate('MODAL_PREFERENCES/TITLE')}}</h4>
    <button type="button" class="close" (click)="close()">
      <mat-icon>close</mat-icon>
    </button>
    <p class="modal-description">{{translate('MODAL_PREFERENCES/DESCRIPTION')}}</p>
  </div>
  <div class="modal-body">

    <div class="modal-subtitlte" *ngIf="preferences.tag.length > 0">
      <div class="row m-0 w-100 h-100">
        <div class="col-lg-4 h-100 text-center" (click)="changeSection(0)">
          <p [class.modal-subtitlte-selected]="sections[0]">{{translate('MODAL_PREFERENCES/AREAS_SECTION')}}</p>
        </div>
        <div class="col-lg-4 h-100 text-center" (click)="changeSection(1)">
          <p [class.modal-subtitlte-selected]="sections[1]">{{translate('MODAL_PREFERENCES/INFLUENCERS_SECTION')}}</p>
        </div>
        <div class="col-lg-4 h-100 text-center" (click)="changeSection(2)">
          <p [class.modal-subtitlte-selected]="sections[2]">{{translate('MODAL_PREFERENCES/ASSOCIATIONS_SECTION')}}</p>
        </div>
      </div>
    </div>

    <div class="modal-preferences-item" *ngIf="preferences.tag.length > 0 && sections[0]">
      <div class="row" *ngFor="let item of preferences.tag">
        <div class="col-md-3" *ngFor="let tag of item">
          <label class="form-check-label modal-preferences-item-checkbox"
                 [class.modal-preferences-item-checkbox-checked]="selected('tag', tag?.name)"
                 [ngStyle]="{backgroundImage: 'url(' + tag?.image + ')'}">
            <input class="form-check-input" type="checkbox" autocomplete="off"
                   [checked]="selected('tag', tag?.name)"
                   (change)="change('tag', tag?.name)">
            <span class="form-check-sign"></span>
            <p>{{tag?.name | titlecase}}</p>
          </label>
        </div>
      </div>
    </div>

    <div class="modal-preferences-item" *ngIf="preferences.user.length > 0 && sections[1]">
      <div class="row" *ngFor="let item of preferences.user">
        <div class="col-md-3" *ngFor="let user of item">
          <label class="form-check-label modal-preferences-item-checkbox"
                 [class.modal-preferences-item-checkbox-checked]="selected('user', user)"
                 [ngStyle]="{backgroundImage: 'url(' + user.images + ')'}">
            <input class="form-check-input" type="checkbox" autocomplete="off"
                   [checked]="selected('user', user)"
                   (change)="change('user', user)">
            <span class="form-check-sign"></span>
            <p>{{user?.username | titlecase}}</p>
          </label>
        </div>
      </div>
    </div>

    <div class="modal-preferences-item" *ngIf="preferences.association.length > 0 && sections[2]">
      <div class="row " *ngFor="let item of preferences.association">
        <div class="col-md-3" *ngFor="let association of item">
          <label class="form-check-label modal-preferences-item-checkbox"
                 [class.modal-preferences-item-checkbox-checked]="selected('association', association)"
                 [ngStyle]="{backgroundImage: 'url(' + association.images + ')'}">
            <input class="form-check-input" type="checkbox" autocomplete="off"
                   [checked]="selected('association', association)"
                   (change)="change('association', association)">
            <span class="form-check-sign"></span>
            <p>{{association?.name}}</p>
          </label>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn" [disabled]="disabled()"
            (click)="savePreferences()">{{translate('MODAL_PREFERENCES/SAVE')}}</button>
  </div>
</div>
