<form class="form" [formGroup]="formGroup">
  <div class="input-group" [class.input-group-focus]="isFocused(firstName)"
       [class.has-danger]="errorGroup[0].error !== ''">
    <div class="input-group-prepend" (click)="firstName.focus()">
      <span class="input-group-text"><i class="fas fa-user-edit"></i></span>
    </div>
    <input type="text" class="form-control ng-touched" name="firstName" autocomplete="off"
           placeholder="{{translate('SIGNUP_LAYOUT/FIRSTNAME')}}"
           formControlName="firstName" #firstName=""
           (focus)="isFocused(firstName)" (blur)="isFocused(firstName)"
           [(ngModel)]="model.firstName"
           (keyup)="errorOccurred(firstName)"/>
    <div class="input-error" *ngIf="errorGroup[0].error !== ''">
      <p>{{translate(errorGroup[0].error)}}</p>
    </div>
  </div>
  <div class="input-group" [class.input-group-focus]="isFocused(lastName)"
       [class.has-danger]="errorGroup[1].error !== ''">
    <div class="input-group-prepend" (click)="lastName.focus()">
      <span class="input-group-text"><i class="fas fa-user-edit"></i></span>
    </div>
    <input type="text" placeholder="{{translate('SIGNUP_LAYOUT/LASTNAME')}}" name="lastName" autocomplete="off"
           class="form-control ng-touched"
           formControlName="lastName" #lastName=""
           (focus)="isFocused(lastName)" (blur)="isFocused(lastName)"
           [(ngModel)]="model.lastName"
           (keyup)="errorOccurred(lastName)"/>
    <div class="input-error" *ngIf="errorGroup[1].error !== ''">
      <p>{{translate(errorGroup[1].error)}}</p>
    </div>
  </div>
  <div class="input-group" [class.input-group-focus]="isFocused(birthday)"
       [class.has-danger]="errorGroup[2].error !== ''">
    <div class="input-group-prepend" (click)="birthday.focus()">
      <span class="input-group-text"><i class="fas fa-birthday-cake"></i></span>
    </div>
    <input type="text" class="form-control ng-touched" name="birthday"
           placeholder="{{translate('SIGNUP_LAYOUT/BIRTHDAY')}}"
           formControlName="birthday"
           #birthday="" [size]="10" [maxlength]="10" autocomplete="off"
           (focus)="isFocused(birthday)" (blur)="isFocused(birthday)"
           [(ngModel)]="model.birthday"
           (keyup)="replaceDateValue($event); errorOccurred(birthday)"/>
    <div class="input-error" *ngIf="errorGroup[2].error !== ''">
      <p>{{translate(errorGroup[2].error)}}</p>
    </div>
  </div>
  <div class="text-center form-footer">
    <div class="row">
      <div class="col-lg-6">
        <button type="button" class="btn btn-round btn-lg bk-color-green"
                (click)="prev()">{{translate('SIGNUP_LAYOUT/PREVIOUS')}}</button>
      </div>
      <div class="col-lg-6">
        <button type="submit" [disabled]="!formGroup.valid" class="btn btn-round btn-lg bk-color-green"
                (click)="next();">{{translate('SIGNUP_LAYOUT/NEXT')}}</button>
      </div>
    </div>
  </div>
</form>
