<footer class="footer footer-big" data-background-color="black">
  <div class="container">
    <div class="content">
      <div class="row">
        <div class="col-md-4 text-center">
          <div>
            <h5>{{translate('FOOTER/ABOUT_US')}}</h5>
          </div>
          <ul class="links-vertical">
            <li>
              <a>{{translate('FOOTER/TEAM')}}</a>
            </li>
          </ul>
        </div>
        <div class="col-md-4 text-center">
          <h5>Contact</h5>
          <ul class="links-vertical">
            <li>
              <a href="mailto:contact@shareyourdreams.fr">contact@shareyourdreams.fr</a>
            </li>
          </ul>
          <ul class="social-buttons">
            <li>
              <a class="btn btn-icon btn-neutral btn-twitter btn-round">
                <i class="fab fa-twitter"></i>
              </a>
            </li>
            <li>
              <a class="btn btn-icon btn-neutral btn-facebook btn-round">
                <i class="fab fa-facebook-square"></i>
              </a>
            </li>
            <li>
              <a class="btn btn-icon btn-neutral btn-instagram btn-round">
                <i class="fab fa-instagram"></i>
              </a>
            </li>
          </ul>
        </div>
        <div class="col-md-4 text-center">
          <h5>{{translate('FOOTER/ADDRESS')}}</h5>
          <p>{{translate('FOOTER/ADDRESS_STATUS')}}</p>
          <p>{{translate('FOOTER/ADDRESS_SYD')}}</p>
        </div>
      </div>
    </div>
    <hr/>

    <div class="copyright pull-center">
      <p>Copyright &copy; {{date | date: 'yyyy'}} - Share Your Dreams - All Rights Reserved</p>
      <a (click)="navigateTo('privacy-policies', 0)">{{translate('FOOTER/GCU')}}</a>
      <a class="pipe">|</a>
      <a (click)="navigateTo('privacy-policies', 1)">{{translate('FOOTER/GCS')}}</a>
      <a class="pipe">|</a>
      <a (click)="navigateTo('privacy-policies', 2)">{{translate('FOOTER/LEGAL_MENTIONS')}}</a>
    </div>
  </div>
</footer>
