<div class="wrapper event-layout-page-content editing">
  <div class="editing-label">
    {{ translate(createMode ? 'EVENTS_LAYOUT/CREATE_MODE' : 'EVENTS_LAYOUT/EDITING_MODE') }}
  </div>
  <div class="col-lg-12 banner" #blurredBanner [style.backgroundImage]="'url(' + bannerImage + ')'">
  </div>
  <div class="col-lg-8 col-md-12 col-sm-12 container infos-container">
    <div class="header row">
      <div class="col-lg-7 col-md-12 col-sm-12 banner"
           (click)="changeBanner()"
           #banner
           [style.backgroundImage]="'url(' + bannerImage + ')'">
        <span class="banner-tooltip">
          {{ translate('EVENTS_LAYOUT/CHANGE_BANNER') }}
        </span>
      </div>
      <div class="col-lg-5 col-md-12 col-sm-12 event-owner">
        <div class="col-lg-12 flexcollumn">
          <div class="flexitem">
            <div *ngIf="!createMode" class="col-lg-1"></div>
            <div [class.col-lg-4]="!createMode" [class.col-lg-6]="createMode"
                 (click)="navigateTo('/user/profile/' + influencer.id)" class="label profile-picture">
              <div class="div-img" [style.backgroundImage]="'url(' + influencerImage + ')'"></div>
              <h6>{{ influencer?.username }}</h6>
            </div>
            <div [class.col-lg-2]="!createMode" [class.col-lg-6]="createMode" class="label">
              <h6>
                Pour
              </h6>
            </div>
            <div *ngIf="!createMode" (click)="navigateTo('/association/' + association.name, {id: association.id})"
                 class="col-lg-4 label profile-picture">
              <div class="div-img" [style.backgroundImage]="'url(' + associationImage + ')'"></div>
            </div>
            <div *ngIf="!createMode" class="col-lg-1"></div>
          </div>
          <div *ngIf="createMode" class="flexitem">
            <div class="col-lg-12 association-selection">
              <ng-select [formControl]="associationControl" [multiple]="false" [items]="associationList"
                         [bindLabel]="'name'"
                         [bindValue]="'id'" [placeholder]="'Select an association'"></ng-select>
            </div>
          </div>

          <!--                <div *ngIf="!createMode" class="col-lg-6 button-box">-->
          <!--                  <a ngbDropdown class="btn dropdown">-->
          <!--                    <div class="dropdown-toggle" ngbDropdownToggle>-->
          <!--                      <i class="fa fa-cog"></i>-->
          <!--                      <p>{{translate('EVENTS_LAYOUT/EDITING_MENU')}}</p>-->
          <!--                    </div>-->
          <!--                    <div ngbDropdownMenu class="dropdown-menu dropdown-menu-right">-->
          <!--                      <a ngbDropdownItem class="dropdown-item" (click)="saveChanges()">-->
          <!--                        <i class="fa fa-save"></i>-->
          <!--                        <span> {{translate('EVENTS_LAYOUT/SAVE_CHANGES')}}</span>-->
          <!--                      </a>-->
          <!--                      <a ngbDropdownItem class="dropdown-item" (click)="discardChanges()">-->
          <!--                        <i class="fa fa-window-close"></i>-->
          <!--                        <span> {{translate('EVENTS_LAYOUT/DISCARD_CHANGES')}}</span>-->
          <!--                      </a>-->
          <!--                    </div>-->
          <!--                  </a>-->
          <!--                </div>-->
          <!--              </div>-->
          <!--            </div>-->
          <div class="flexitem n-winers">
            <h3 *ngIf="!createMode" class="color-green">
              {{ event?.lotteriesSize }} {{ translate('EVENTS_LAYOUT/N_WINNER' + (event?.lotteriesSize > 1 ? 'S' : '')) }}
            </h3>
            <div *ngIf="createMode" class="col-lg-12 row">
              <input class="form-control col-lg-6 no-arrows" type="number" min="1" step="1" [value]="nwinners"
                     [placeholder]="translate('EVENTS_LAYOUT/N_WINNERS_INPUT')"/>
              <h3 class="col-lg-6 color-green">
                {{ translate('EVENTS_LAYOUT/N_WINNERS') }}
              </h3>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="event row flex-lg-row flex-sm-column">
      <div class="col-lg-7">
        <div style="margin-bottom: 1em">
          <h4 class="color-green" style="margin: 0">
            {{ translate('EVENTS_LAYOUT/ASSOCIATED_TAGS') }}
          </h4>
          <div class="tags">
            <tag-input [(ngModel)]="tags" (onAdd)="onAddTag($event)" (onRemove)="onRemoveTag($event)"
                       [modelAsStrings]="true"></tag-input>
          </div>
        </div>
        <div>
          <h4 class="color-green" style="margin: 0">{{ translate('EVENTS_LAYOUT/EVENT_TITLE') }}</h4>
          <h4 class="color-green" #title class="color-green first-title" contentEditable="true">
            {{ event?.information?.name }}
          </h4>
          <h4 class="color-green" style="margin: 0">{{ translate('EVENTS_LAYOUT/EVENT_DESCRIPTION') }}</h4>
          <p #description contentEditable="true">
            {{ event?.information?.description }}
          </p>
        </div>
        <div *ngIf="association?.name">
          <h4 class="color-green">
            {{ association?.name }}
          </h4>
          <p>
            {{ association?.description }}
          </p>
        </div>
      </div>
      <div class="col-lg-5 draw-container">
        <h4 class="color-green" style="margin: 0">
          {{ translate('EVENTS_LAYOUT/DRAW_DATE') }} :
        </h4>
        <h5 *ngIf="!createMode">
          {{ event?.information?.drawDate | datePipe: 'ISO' : 'LLLL' }}
        </h5>
        <div *ngIf="createMode">
          <input class="form-control" autocomplete="false" (click)="selectDate($event, 'draw')"
                 name="dp" type="datetime-local" value="{{drawDate.toJSON().slice(0, -8)}}">
        </div>
        <h4 class="color-green">
          {{ translate('EVENTS_LAYOUT/EVENT_DATE') }} :
        </h4>
        <h5 *ngIf="!createMode">
          {{ event?.information?.eventDate | datePipe: 'ISO' : 'LLLL' }}
        </h5>
        <div *ngIf="createMode">
          <input class="form-control" autocomplete="false" (click)="selectDate($event, 'event')"
                 name="dp" type="datetime-local" value="{{eventDate.toJSON().slice(0, -8)}}">
        </div>
        <h4 class="color-green">
          {{ translate('EVENTS_LAYOUT/DRAW_N_PARTICIPANTS') }}
        </h4>
        <h5>
          {{ lotteryParticipants }}
        </h5>
        <div class="col-lg-12 row" style="margin: 0">
          <div class="col-lg-6 center">
            <button *ngIf="!createMode" type="submit" class="btn btn-round" (click)="saveChanges()">
              {{ translate('EVENTS_LAYOUT/SAVE_CHANGES') }}
            </button>
            <button *ngIf="createMode" type="submit" class="btn btn-round" (click)="createEvent()">
              {{ translate('EVENTS_LAYOUT/CREATE_EVENT') }}
            </button>
          </div>
          <div class="col-lg-6 center">
            <button type="submit" class="btn btn-round" (click)="discardChanges()">
              {{ translate('EVENTS_LAYOUT/DISCARD_CHANGES') }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
