<div class="wrapper">
  <div class="privacy-policies">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Privacy Policies</h2>
      </div>
    </div>
    <div class="row mt-5 mb-5 ml-0 mr-0">
      <div class="col-lg-2">
        <app-privacy-policies-menu [activeID]="urlID" (activeIDEmitter)="changeUrlID($event)">
        </app-privacy-policies-menu>
      </div>
      <div class="col-lg-10">
        <div class="row ml-3 mr-3">
          <div class="col-lg-12">
            <h3 class="privacy-policies-topic-title">{{titles[urlID]}}</h3>
          </div>
        </div>
        <app-privacy-policies-part-one *ngIf="urlID === 0"></app-privacy-policies-part-one>
        <app-privacy-policies-part-two *ngIf="urlID === 1"></app-privacy-policies-part-two>
        <app-privacy-policies-part-three *ngIf="urlID === 2"></app-privacy-policies-part-three>
      </div>
    </div>
  </div>
</div>
