<div class="wrapper">
  <div class="header-influencer">
    <div id="influencer-layout-bg" class="bg" [ngStyle]="{backgroundImage: 'url(' + background + ')'}"></div>
    <div id="influencer-layout-header" class="header-image"
         [ngStyle]="{backgroundImage: 'url(' + background + ')'}"></div>

    <div *ngIf="background" class="bg"></div>
    <div *ngIf="background" class=" header-image"></div>

  </div>
  <div class="profile-page-content">
    <div class="profile">
      <div class="profile-picture">
        <div style="position: absolute; left: 50%;">
          <div class="photo-container bg-white" [ngStyle]="{backgroundImage: 'url(' + profile + ')'}">
          </div>
        </div>
        <div class="profile-description-container">
          <div class="username">
            <h2 class="profile-username">{{ user.username }}</h2>
            <div class="certified-container">
              <img style="user-select: none; width: 250px; border-radius: 50%"
                   src="../../../../../assets/img/certified.png" alt="">
            </div>
          </div>
        </div>
        <div class="follow-container">
          <button type="button" class="btn follow-button btn-round" *ngIf="isMe"
                  (click)="router.navigate(['/event/create'])">
            <i class="now-ui-icons ui-1_simple-add"></i> {{translate('INFLUENCER_LAYOUT/CREATE_EVENT')}}
          </button>
          <button type="button" class="btn follow-button btn-round" *ngIf="isMe" (click)="settings()">
            <i class="now-ui-icons loader_gear"></i> {{translate('INFLUENCER_LAYOUT/SETTINGS')}}
          </button>

          <button type="button" class="btn follow-button btn-round" *ngIf="!isMe">
            <i class="now-ui-icons ui-1_simple-add"></i> {{translate('INFLUENCER_LAYOUT/FAVORITE')}}
          </button>

        </div>
      </div>
    </div>
    <div class="page-content">

      <div class="card influencer-card">
        <div>
          <h4 class="title">{{translate('INFLUENCER_LAYOUT/CURRENT_EVENTS')}}</h4>
        </div>
        <div class="current-events" *ngIf="this.events != null && this.events?.length != 0">
          <div class="row m-0" *ngFor="let eventArray of caEvents">
            <div class="col-lg-4" *ngFor="let event of eventArray">
              <app-event-box [event]="event"></app-event-box>
            </div>
          </div>

          <div class="show-more-button" (click)="loadMoreEvents()" *ngIf="pageActual != pagesNb && pagesNb != 1 && pagesNb != 0">
            <div>
              Load More
            </div>
            <div class="mt-2">
              <i class="now-ui-icons arrows-1_minimal-down circle more"></i>
            </div>
          </div>

        </div>
        <div class="no-current-events"
             *ngIf="this.events === null || this.events?.length === 0 || this.events === undefined">
          <p>{{translate('INFLUENCER_LAYOUT/NO_CURRENT')}}</p>
        </div>
      </div>


    </div>
  </div>
</div>
