<div class="login">
  <div class="card card-login">
    <form class="form" [formGroup]="formGroup">
      <div class="card-header text-center">
        <div class="logo-container">
          <img src="/assets/img/syd_object.png" alt="">
        </div>
        <div>
          <h3>{{translate('RESET_PASSWORD_LAYOUT/TITLE')}}</h3>
        </div>
      </div>
      <div class="card-body">
        <div>
          <p class="login-reset-password-text text-center">
            {{translate('RESET_PASSWORD_LAYOUT/TEXT_INFORMATION')}}
          </p>
        </div>

        <div class="input-group" [class.input-group-focus]="isFocused(password)"
             [class.has-danger]="errorGroup[0].error !== ''"
             [class.has-success]="successGroup === true">
          <div class="input-group-prepend" (click)="password.focus()">
            <span class="input-group-text"><i class="fas fa-lock"></i></span>
          </div>
          <input type="password" class="form-control" name="password" autocomplete="off"
                 placeholder="{{translate('RESET_PASSWORD_LAYOUT/PASSWORD')}}" #password=""
                 (focus)="isFocused(password)" formControlName="password"
                 (blur)="isFocused(password)" [(ngModel)]="model.password"
                 (keyup)="errorOccurredPassword()">
          <div class="input-error" *ngIf="errorGroup[0].error !== ''">
            <p>{{translate(errorGroup[0].error)}}</p>
          </div>
        </div>

        <div class="input-group" [class.input-group-focus]="isFocused(confirmPassword)"
             [class.has-danger]="errorGroup[1].error !== ''"
             [class.has-success]="successGroup === true"
             [ngStyle]="{marginBottom: '10px'}">
          <div class="input-group-prepend" (click)="confirmPassword.focus()">
            <span class="input-group-text"><i class="fas fa-lock"></i></span>
          </div>
          <input type="password" class="form-control" name="confirm-password" autocomplete="off"
                 placeholder="{{translate('RESET_PASSWORD_LAYOUT/CONFIRM_PASSWORD')}}" #confirmPassword=""
                 (focus)="isFocused(confirmPassword)" formControlName="confirmPassword"
                 (blur)="isFocused(confirmPassword)" [(ngModel)]="model.confirmPassword"
                 (keyup)="errorOccurredConfirmPassword()">
          <div class="input-error" *ngIf="errorGroup[1].error !== ''">
            <p>{{translate(errorGroup[1].error)}}</p>
          </div>
        </div>
      </div>
      <div class="card-footer text-center">
        <button [disabled]="!formGroup.valid" class="btn btn-round btn-lg btn-block" type="submit"
                (click)="valid()">
          {{translate('RESET_PASSWORD_LAYOUT/RESET_BUTTON')}}
        </button>
      </div>
    </form>
  </div>
</div>
