<div class="card event-box-carousel">
  <div class="card-body">
    <div class="row m-0 h-100">
      <div class="col-lg-8 m-0 p-0 h-100">
        <img [src]="background" [ngStyle]="{opacity: past ? '0.4' : '1'}">
        <div class="event-box-carousel-lottery">
          <span *ngIf="event?.information?.drawDate">
            {{event?.information?.drawDate | datePipe : 'ISO' : 'DD/MM/YYYY'}}
          </span>
          <span *ngIf="past" style="background-color: #EB6836; font-weight: 600;">{{translate('EVENT_BOX/PAST_EVENT')}}</span>
        </div>
        <div class="event-box-carousel-tags" *ngIf="event?.information?.tags.length <= 3">
          <span *ngFor="let tag of event?.information?.tags">{{tag | titlecase}}</span>
        </div>
        <div class="event-box-carousel-tags" *ngIf="event?.information?.tags.length > 3">
          <span>{{event?.information?.tags.length - 1 + '+ tags'}}</span>
        </div>
        <div class="event-box-association">
          <img *ngIf="event?.association?.images?.content" [src]="event?.association?.images?.content">
        </div>
      </div>
      <div class="col-lg-4 event-box-carousel-user pt-2 pb-2 text-center">
        <h4>{{event?.information?.name}}</h4>
        <h5>{{event?.user?.username}}</h5>
        <img style="border: 1px solid lightgray;"
             [src]="event?.user?.images">
        <p *ngIf="event?.lotteries[0]?.participations.length > 1 ">
          {{event?.lotteries[0]?.participations.length + ' participants'}}
        </p>
        <p *ngIf="event?.lotteries[0]?.participations.length === 1 ">
          {{event?.lotteries[0]?.participations.length + ' participant'}}
        </p>
        <p *ngIf="event?.lotteries[0]?.participations.length === 0 ">0 participant</p>
      </div>
    </div>
  </div>
  <div class="event-box-carousel-shadow" data-id="{{event?.id}}" (click)="navigate(event?.id)">
    <!--<div>
      <h4>{{event?.information?.name}}</h4>
      <p *ngIf="event?.information?.description">{{event?.information?.description}}</p>
      <button class="btn btn-round" style="z-index: 3000"
              data-id="{{event?.id}}">{{translate('EVENT_BOX/READ_MORE')}}</button>
    </div>-->
  </div>
</div>
