/* You can add global styles to this file, and also import other style files
** Add import of scss/css file in this file
*/

@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "assets/css/components.css";
@import "assets/css/layouts.css";
@import "assets/css/demo.css";
@import "assets/css/ui-kit.css";
@import "assets/css/material.css";

.marg-l-3 {
  margin-left: 3px;
}

body {
  background-image: url("/assets/img/background.png");
}

p {
  font-weight: 400 !important;
}

html {
  scroll-behavior: smooth;
}
