.ng2-tag-input.regular-theme {
  display: block;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
  cursor: text;
  border-bottom: none !important;
}

.ng2-tag-input.regular-theme form input {
  background: transparent;
}

.ng2-tag-input.regular-theme tag {
  border: 1px solid;
  background: #FF3636 !important;
  color: #FFF;
  cursor: pointer;
  margin: 10px 3px 5px 0;
  height: auto;
  max-height: 22px;
  position: relative;
  padding: 0px 0.8em 0px 0.8em;
  border-radius: 12px;
  font-size: 0.75em;
  font-weight: 500;
  display: inline-block;
  line-height: 2.1em;
  text-transform: uppercase;
  -webkit-transition: all 170ms linear;
  -moz-transition: all 170ms linear;
  -o-transition: all 170ms linear;
  -ms-transition: all 170ms linear;
  transition: all 170ms linear;
}

.ng2-tag-input.regular-theme tag:not(:focus):not(.tag--editing):not(:active):not(.readonly):hover {
  background: #FF3636;
  color: #FFF;
}

.ng2-tag-input.regular-theme tag:hover {
  padding-right: 25px;
}

.ng2-tag-input.regular-theme tag:hover svg {
  opacity: 1;
}

.ng2-tag-input.regular-theme tag .tag-wrapper {
  display: block;
}

.ng2-tag-input.regular-theme tag delete-icon {
  display: inline;
  text-align: right;
}

.ng2-tag-input.regular-theme tag delete-icon path {
  fill: #fff;
}

.ng2-tag-input.regular-theme tag delete-icon svg {
  vertical-align: middle;
  height: 13px;
  opacity: 0;
  position: absolute;
  right: 5px;
  top: 4px;
}

.ng2-tag-input.regular-theme tag delete-icon:not(.readonly):not(.tag--editing):focus {
  color: #fff;
}

.ng2-tag-input.regular-theme tag delete-icon:not(.readonly):not(.tag--editing):active {
  color: #fff;
}

.ng2-tag-input.regular-theme tag delete-icon:not(:focus):not(.tag--editing):not(:active):not(.readonly):hover {
  color: #fff;
}
