.section-isometricGrids .button-menu {
  width: 50px;
  height: 30px;
  position: fixed;
  top: 3em;
  right: 3em;
  border: none;
  background: transparent;
  fill: #fff;
  cursor: pointer;
  pointer-events: auto;
}

.section-isometricGrids .button-menu:focus {
  outline: none;
}

.section-isometricGrids .codrops-header {
  padding: 3vmax 0 0 3vmax;
  position: absolute;
  width: 100%;
  z-index: 2000;
  pointer-events: none;
}

.section-isometricGrids .demo-1 .codrops-header {
  position: fixed;
}

.section-isometricGrids .codrops-header h1 {
  margin: 0;
  letter-spacing: -0.035em;
  font-size: 4.65em;
  line-height: 1;
  font-weight: 900;
  color: #323F5C;
}

.section-isometricGrids .codrops-header p {
  padding: 0;
  margin: 0;
  font-size: 1.25em;
  font-weight: bold;
  color: #fff;
}

.section-isometricGrids .codrops-links {
  position: relative;
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  pointer-events: auto;
  margin: 0 0 0 -0.5em;
}

.section-isometricGrids .codrops-links::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1px;
  height: 110%;
  background: #323F5C;
  opacity: 0.1;
  -webkit-transform: translateY(-50%) rotate3d(0, 0, 1, 22.5deg);
  transform: translateY(-50%) rotate3d(0, 0, 1, 22.5deg);
}

.section-isometricGrids .codrops-icon {
  display: inline-block;
  margin: 0.5em;
  width: 1.5em;
  text-decoration: none;
}

.section-isometricGrids .codrops-icon span {
  display: none;
}

.section-isometricGrids .codrops-icon::before {
  margin: 0 5px;
  text-transform: none;
  font-weight: normal;
  font-style: normal;
  font-variant: normal;
  font-family: "codropsicons";
  line-height: 1;
  speak: none;
  -webkit-font-smoothing: antialiased;
}

.section-isometricGrids .codrops-icon--drop::before {
  content: "";
  color: #0099cc;
}

.section-isometricGrids .codrops-icon--prev::before {
  content: "";
}

.section-isometricGrids .codrops-demos {
  margin: 1.5em 0;
}

.section-isometricGrids .codrops-demos a {
  display: inline-block;
  margin: 0 1em 0 0;
  font-weight: bold;
  pointer-events: auto;
}

.section-isometricGrids .codrops-demos a.current-demo {
  color: #ce4555;
}

.section-isometricGrids .section--intro {
  position: relative;
  height: 75vh;
  max-height: 1200px;
}

.section-isometricGrids .section--right {
  text-align: right;
}

.section-isometricGrids .section__heading {
  pointer-events: none;
  padding: 0;
  font-size: 4.5em;
  line-height: 1;
  margin: 0;
  color: #fff;
  position: relative;
  z-index: 1000;
  font-family: "Playfair Display", serif;
}

.section-isometricGrids .section__heading em {
  font-family: sans-serif;
  font-style: normal;
  text-transform: uppercase;
  font-size: 0.3em;
  border-top: 3px solid #fff;
  border-bottom: 3px solid #fff;
  padding: 0.15em 0;
  vertical-align: middle;
  display: inline-block;
  letter-spacing: 0.05em;
}

.section-isometricGrids .section__subtitle {
  pointer-events: none;
  font-size: 1.25em;
  max-width: 500px;
  position: relative;
  z-index: 1000;
}

.section-isometricGrids .section--portraits .section__subtitle {
  color: #688CB1;
}

.section-isometricGrids .section--right .section__subtitle {
  margin: 1em 0 0 auto;
}

.section-isometricGrids .interval {
  position: relative;
  padding: 30vh 20vw;
  background: #1C222F;
  overflow: hidden;
}

.section-isometricGrids .interval__text {
  font-size: 1.75em;
  line-height: 1.5;
  color: #777792;
}

.section-isometricGrids .content--related {
  text-align: center;
  font-weight: bold;
  padding: 10vh 2vw;
  background: #1C222F;
  color: #fff;
}

.section-isometricGrids .media-item {
  display: inline-block;
  padding: 1em;
  vertical-align: top;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

.section-isometricGrids .media-item__img {
  max-width: 100%;
  opacity: 0.3;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.section-isometricGrids .media-item:hover .media-item__img,
.section-isometricGrids .media-item:focus .media-item__img {
  opacity: 1;
}

.section-isometricGrids .media-item__title {
  margin: 0;
  padding: 0.5em;
  font-size: 1em;
}

.section-isometricGrids .pater {
  position: fixed;
  right: 0;
  bottom: 0;
  color: #fff;
  width: 320px;
  padding: 2em 2em 2em 0;
  text-align: right;
  z-index: 100000;
}

.section-isometricGrids .demo-2 .pater {
  position: absolute;
}

.section-isometricGrids .pater::before {
  content: "";
  position: absolute;
  width: 491px;
  height: 332px;
  top: -80px;
  left: -60px;
  z-index: 0;
  opacity: 0.9;
  -webkit-transform: translate3d(10px, 10px, 0);
  transform: translate3d(10px, 10px, 0);
  -webkit-transition: opacity 0.3s, -webit-transform 0.3s;
  transition: opacity 0.3s, transform 0.3s;
  pointer-events: none;
}

.section-isometricGrids .pater:hover::before {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.section-isometricGrids .pater__title::before {
  content: "Sponsored by";
  position: absolute;
  bottom: 93%;
  left: 27%;
  font-weight: bold;
  letter-spacing: 2px;
  font-size: 0.45em;
  color: #212738;
}

.section-isometricGrids .pater__title,
.section-isometricGrids .pater__desc {
  margin: 0;
  color: #fff;
  position: relative;
}

.section-isometricGrids .pater__title {
  -webkit-transform: translate3d(5px, 10px, 0);
  transform: translate3d(5px, 10px, 0);
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
}

.section-isometricGrids .pater:hover .pater__title {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.section-isometricGrids .pater__title img {
  width: 90%;
}

.section-isometricGrids .pater__desc {
  font-weight: 600;
  padding: 0.3em 0 0 0.3em;
}

@media screen and (max-width: 50em) {
  .section-isometricGrids .codrops-header {
    width: 80%;
  }

  .section-isometricGrids .codrops-header h1 {
    font-size: 2em;
  }

  .section-isometricGrids .codrops-header p {
    font-size: 0.85em;
  }

  .section-isometricGrids .interval {
    padding: 1.5em;
  }

  .section-isometricGrids .interval__text {
    font-size: 1.25em;
    padding: 0 0 3em 0;
  }

  .section-isometricGrids .section__heading {
    font-size: 2.5em;
  }

  .section-isometricGrids .section__subtitle {
    display: none;
  }

  .section-isometricGrids .codrops-demos {
    margin: 0.5em 0;
    font-size: 0.75em;
  }

  .section-isometricGrids .button-menu {
    top: 0.75em;
    right: 0.75em;
    width: 30px;
    height: 20px;
  }

  .section-isometricGrids .demo-1 .pater {
    width: 100%;
    padding: 1em;
    text-align: left;
    background: rgba(49, 63, 105, 0.8);
    -webkit-transform: translateZ(200px);
    transform: translateZ(200px);
  }

  .section-isometricGrids .demo-1 .pater__title::before {
    left: 0;
  }

  .section-isometricGrids .demo-1 .pater__title img {
    width: 150px;
    margin-top: 0.25em;
  }

  .section-isometricGrids .demo-1 .pater::before {
    display: none;
  }

  .section-isometricGrids .demo-1 .pater__desc {
    font-size: 0.65em;
  }

  .section-isometricGrids .isolayer.isolayer--scroll1 {
    top: -38vh;
  }

  .section-isometricGrids .demo-2 .pater {
    position: relative;
    display: block;
    background: none;
    margin: 0 0 0 auto;
    padding: 0;
    width: 100%;
  }
}

.section-isometricGrids .isolayer {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
}

.section-isometricGrids .section--intro .grid,
.section-isometricGrids .section--intro .grid__item,
.section-isometricGrids .section--intro .grid__link {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.section-isometricGrids .grid {
  position: relative;
  margin: 0 auto;
  padding: 0;
  list-style: none;
}

.section-isometricGrids .grid__item {
  width: 300px;
}

.section-isometricGrids .section--intro .grid__item {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.section-isometricGrids .grid__link {
  position: relative;
  z-index: 1;
  display: block;
}

.section-isometricGrids .grid__img {
  display: block;
  max-width: 100%;
}

.section-isometricGrids .grid__title {
  font-size: 0.65em;
  font-weight: 600;
  position: absolute;
  z-index: -1;
  bottom: 0;
  width: 100%;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  opacity: 0;
  color: #fff;
  -webkit-transform: translate3d(0, -20px, 0);
  transform: translate3d(0, -20px, 0);
  -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s;
}

.section-isometricGrids .grid__item:hover .grid__title {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.section-isometricGrids .layer {
  position: relative;
  display: block;
}

.section-isometricGrids .layer:not(:first-child) {
  position: absolute;
  top: 0;
  left: 0;
}

.section-isometricGrids .isolayer--shadow .grid__link::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 5px;
  right: 5px;
  bottom: 5px;
  left: 5px;
  opacity: 0.6;
  background: rgba(0, 0, 0, 0.8);
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.8);
  -webkit-transform: translateZ(-1px) scale(0.95);
  transform: translateZ(-1px) scale(0.95);
  -webkit-transition: transform 0.3s, opacity 0.3s, box-shadow 0.3s;
  transition: transform 0.3s, opacity 0.3s, box-shadow 0.3s;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.section-isometricGrids .isolayer--shadow .grid__item:hover .grid__link::before {
  opacity: 0.2;
  box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.8);
  -webkit-transform: translateZ(-1px) scale(1);
  transform: translateZ(-1px) scale(1);
}

.section-isometricGrids .isolayer--scroll1 {
  width: 70vw;
  max-width: 1200px;
  height: calc(100vh - 280px);
}

.section-isometricGrids .isolayer--scroll1 .grid__item {
  width: 300px;
  padding: 15px;
}

.section-isometricGrids .pseudo-scroller {
  pointer-events: none;
}

.section-isometricGrids .isolayer {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
}

.section-isometricGrids .grid {
  position: relative;
  margin: 0 auto;
  padding: 0;
  list-style: none;
}

.section-isometricGrids .grid__item {
  width: 300px;
}

.section-isometricGrids .js .grid__item {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.section-isometricGrids .grid__link {
  position: relative;
  z-index: 1;
  display: block;
}

.section-isometricGrids .grid__img {
  display: block;
  max-width: 100%;
}

.section-isometricGrids .grid__title {
  font-size: 0.65em;
  font-weight: 600;
  position: absolute;
  z-index: -1;
  bottom: 0;
  width: 100%;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  opacity: 0;
  color: #fff;
  -webkit-transform: translate3d(0, -20px, 0);
  transform: translate3d(0, -20px, 0);
  -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s;
}

.section-isometricGrids .grid__item:hover .grid__title {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.section-isometricGrids .layer {
  position: relative;
  display: block;
}

.section-isometricGrids .layer:not(:first-child) {
  position: absolute;
  top: 0;
  left: 0;
}

.section-isometricGrids .isolayer--shadow .grid__link::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 5px;
  right: 5px;
  bottom: 5px;
  left: 5px;
  opacity: 0.6;
  background: rgba(0, 0, 0, 0.8);
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.8);
  -webkit-transform: translateZ(-1px) scale(0.95);
  transform: translateZ(-1px) scale(0.95);
  -webkit-transition: transform 0.3s, opacity 0.3s, box-shadow 0.3s;
  transition: transform 0.3s, opacity 0.3s, box-shadow 0.3s;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.section-isometricGrids .isolayer--shadow .grid__item:hover .grid__link::before {
  opacity: 0.2;
  box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.8);
  -webkit-transform: translateZ(-1px) scale(1);
  transform: translateZ(-1px) scale(1);
}

.section-isometricGrids .isolayer--scroll1 {
  width: 70vw;
  max-width: 1200px;
  height: calc(100vh - 280px);
}

.section-isometricGrids .isolayer--scroll1 .grid__item {
  width: 300px;
  padding: 15px;
}

.section-isometricGrids .isolayer--deco1 {
  width: 1200px;
  height: 900px;
}

.section-isometricGrids .isolayer--deco1 .grid__link .layer:first-child:not(img) {
  background: #EB5E28;
}

.section-isometricGrids .isolayer--deco1 .grid__link .layer:nth-child(2):not(img) {
  background: #F3BB45;
}

.section-isometricGrids .isolayer--deco1 .grid__link .layer:nth-child(3):not(img) {
  background: #7AC29A;
}

.section-isometricGrids .isolayer--deco1 .grid__link div.layer {
  width: 370px;
  height: 270px;
}

.section-isometricGrids .isolayer--deco1 .grid__item {
  width: 400px;
  height: 300px;
  padding: 15px;
}

.section-isometricGrids .isolayer--deco1 .grid__item:nth-child(2) {
  margin-top: 135px;
}

.section-isometricGrids .isolayer--deco1 .grid__item:nth-child(6) {
  margin-top: 10px;
}

.section-isometricGrids .isolayer--deco2 {
  width: 1200px;
  height: 100vh;
}

.section-isometricGrids .isolayer--deco2 .grid__item {
  padding: 20px;
}

.section-isometricGrids .isolayer--deco2 .grid__link .layer {
  border: 20px solid #fff;
  border-width: 40px 20px;
  box-shadow: -1px 1px 5px rgba(0, 0, 0, 0.08);
}

.section-isometricGrids .first-card {
  top: -20px !important;
}

.section-isometricGrids .first-card .layer:not(img) {
  height: 260px !important;
  width: 365px !important;
  margin: 5px 0 0 5px;
  border-radius: 6px;
}

.section-isometricGrids .first-card img {
  border-radius: 6px;
}

.section-isometricGrids .second-card {
  top: 80px !important;
}

.section-isometricGrids .second-card .layer:not(img) {
  height: 170px !important;
  border-radius: 6px;
}

.section-isometricGrids .second-card img {
  border-radius: 6px;
}

.section-isometricGrids .third-card .layer:not(img) {
  height: 460px !important;
  width: 275px !important;
  margin: 5px 0 0 5px;
  border-radius: 6px;
}

.section-isometricGrids .third-card {
  top: 290px !important;
}

.section-isometricGrids .third-card img {
  border-radius: 6px;
  width: 280px !important;
}

.section-isometricGrids .third-card .grid__link::before {
  top: 60px;
  height: 410px;
  width: 275px;
}

.section-isometricGrids .fourth-card {
  top: 270px !important;
}

.section-isometricGrids .fourth-card .layer:not(img) {
  height: 450px !important;
  width: 360px !important;
  margin: 5px 0 0 5px;
  border-radius: 6px;
}

.section-isometricGrids .fourth-card img {
  border-radius: 6px;
}

.section-isometricGrids .fifth-card {
  top: 660px !important;
  left: 400px !important;
}

.section-isometricGrids .fifth-card .layer:not(img) {
  height: 400px !important;
  width: 364px !important;
  margin: 5px 0 0 5px;
  border-radius: 6px;
}

.section-isometricGrids .fifth-card img {
  border-radius: 6px;
}

.section-isometricGrids .sixth-card {
  top: 485px !important;
}

.section-isometricGrids .sixth-card .layer:not(img) {
  height: 145px !important;
  width: 364px !important;
  margin: 5px 0 0 5px;
  border-radius: 6px;
}

.section-isometricGrids .sixth-card img {
  border-radius: 6px;
}

.section-isometricGrids .seventh-card {
  top: 755px !important;
}

.section-isometricGrids .seventh-card .layer:not(img) {
  height: 435px !important;
  width: 365px !important;
  margin: 5px 0 0 5px;
  border-radius: 6px;
}

.section-isometricGrids .seventh-card img {
  border-radius: 6px;
}

.section-isometricGrids .eight-card {
  top: -215px !important;
  left: 400px !important;
}

.section-isometricGrids .eight-card img {
  border-radius: 6px;
}

.section-isometricGrids .eight-card .layer:not(img) {
  height: 480px !important;
  border-radius: 6px;
}

.section-isometricGrids .ninth-card {
  top: 790px !important;
  left: 800px !important;
}

.section-isometricGrids .ninth-card .grid__link::before {
  width: 280px !important;
  height: 370px !important;
}

.section-isometricGrids .ninth-card .layer:not(img) {
  width: 280px !important;
  height: 360px !important;
  border-radius: 6px;
}

.section-isometricGrids .ninth-card img {
  border-radius: 6px;
}

.section-isometricGrids .isolayer {
  transform: translateX(29vw) translateY(-377px) rotateX(50deg) rotateZ(26deg) !important;
  z-index: 1;
}
