.selected-list .c-btn {
  box-shadow: none !important;
  border-radius: 30px !important;
  padding: 7px 18px 8px 18px !important;
  border: 1px solid #e3e3e3 !important;
}

.selected-list .c-list .c-token {
  background: none !important;
  color: #2c2c2c !important;
}

.cuppa-dropdown .dropdown-list {
  z-index: 1000 !important;
}

.cuppa-dropdown .dropdown-list .list-area {
  border: none !important;
  border-radius: 0.125rem !important;
  box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.2) !important;
}

.cuppa-dropdown .dropdown-list .list-area .list-filter input {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.cuppa-dropdown .dropdown-list .list-area .pure-checkbox label {
  width: 100%;
}

.cuppa-dropdown .dropdown-list .list-area .pure-checkbox input[type="checkbox"]:checked + label:before {
  background: transparent !important;
  animation: none !important;
  right: 0 !important;
}

.cuppa-dropdown .dropdown-list .list-area .pure-checkbox input[type="checkbox"] + label:before {
  border: none !important;
}

.cuppa-dropdown .dropdown-list .list-area .pure-checkbox input[type="checkbox"] + label:after {
  left: auto !important;
  width: 14px !important;
  height: 7px !important;
  border-width: 0 0 1px 1px !important;
  right: 0 !important;
  opacity: 0.5 !important;
  border-color: #2c2c2c !important;
}

.cuppa-dropdown .dropdown-list .list-area ul li:last-child {
  border-bottom-right-radius: 0.125rem;
  border-bottom-left-radius: 0.125rem;
}

.cuppa-dropdown .dropdown-list .list-area ul li:first-child {
  border-top-left-radius: 0.125rem;
  border-top-right-radius: 0.125rem;
}

.cuppa-dropdown .dropdown-list .arrow-up {
  margin-left: 30px !important;
  border-bottom: 15px solid #fff;
}
