.intl-tel-input.allow-dropdown .flag-container:hover .selected-flag {
  background-color: transparent !important;
}

.intl-tel-input .selected-flag {
  padding: 10px 15px 10px 18px !important;
  width: auto;
}

.signup-page .intl-tel-input .country-list {
  transform: translate(18px, 45px) !important;
  border-top: none !important;
}

.intl-tel-input.allow-dropdown input,
.intl-tel-input.allow-dropdown input[type=text],
.intl-tel-input.allow-dropdown input[type=tel],
.intl-tel-input.separate-dial-code input,
.intl-tel-input.separate-dial-code input[type=text],
.intl-tel-input.separate-dial-code input[type=tel] {
  padding-left: 70px !important;
}

.intl-tel-input {
  width: 100%;
}
