<div class="signup">
  <div class="container">
    <div class="row m-0 h-100">
      <div class="col-md-4 ml-auto mr-auto mt-auto mb-auto align-self-center" *ngIf="!isMobile()">
        <div class="info info-horizontal">
          <div class="icon icon-primary">
            <i class="now-ui-icons media-2_sound-wave color-orange"></i>
          </div>
          <div class="description">
            <h5 class="info-title color-orange">{{translate('SIGNUP_LAYOUT/ASSOCIATION')}}</h5>
            <p class="description color-dark-light">{{translate('SIGNUP_LAYOUT/ASSOCIATION_TEXT')}}</p>
          </div>
        </div>
        <div class="info info-horizontal">
          <div class="icon icon-primary">
            <i class="now-ui-icons media-1_button-pause color-green"></i>
          </div>
          <div class="description">
            <h5 class="info-title color-green">{{translate('SIGNUP_LAYOUT/INFLUENCER')}}</h5>
            <p class="description color-dark-light">{{translate('SIGNUP_LAYOUT/INFLUENCER_TEXT')}}</p>
          </div>
        </div>
        <div class="info info-horizontal">
          <div class="icon icon-info">
            <i class="now-ui-icons users_single-02 color-blue"></i>
          </div>
          <div class="description">
            <h5 class="info-title color-blue">{{translate('SIGNUP_LAYOUT/COMMUNITY')}}</h5>
            <p class="description color-dark-light">{{translate('SIGNUP_LAYOUT/COMMUNITY_TEXT')}}</p>
          </div>
        </div>
      </div>
      <div class="col-md-6 mr-auto ml-auto mt-auto mb-auto align-self-center">
        <div class="card card-signup">
          <div class="card-body">
            <h4 class="card-title text-center color-orange">{{translate('SIGNUP_LAYOUT/REGISTER')}}</h4>
            <div class="social text-center" *ngIf="activeId === 'tab-form-1'">
              <button class="btn btn-icon btn-round btn-twitter">
                <i class="fab fa-twitter"></i>
              </button>
              <button class="btn btn-icon btn-round btn-instagram">
                <i class="fab fa-instagram"></i>
              </button>
              <button class="btn btn-icon btn-round btn-facebook">
                <i class="fab fa-facebook-f"></i>
              </button>
              <button class="btn btn-icon btn-round btn-google">
                <i class="fab fa-google"></i>
              </button>
              <h5 class="card-description color-green">{{translate('SIGNUP_LAYOUT/SOCIAL_AUTH')}}</h5>
            </div>
            <div class="nav-tabs-wrapper">
              <ngb-tabset [justify]="'center'" class="text-center form-register " #tabform="ngbTabset"
                          id="tabset-register">
                <ngb-tab id="tab-form-1">
                  <ng-template ngbTabContent>
                    <app-form-step-one [model]="model"
                                       (nextEvent)="tabEvent($event)"></app-form-step-one>
                  </ng-template>
                </ngb-tab>
                <ngb-tab id="tab-form-2">
                  <ng-template ngbTabContent>
                    <mat-horizontal-stepper [linear]="true" #formStepper="matHorizontalStepper">
                      <mat-step [completed]="completeStep[0]">
                        <app-form-step-two [errorObservable]="errorEventSubject.asObservable()"
                                           [model]="model"
                                           (prevEvent)="tabEvent($event)"
                                           (nextStep)="stepEvent($event)"
                                           (validStep)="validStep($event)"></app-form-step-two>
                      </mat-step>
                      <mat-step [completed]="completeStep[1]">
                        <app-form-step-three [errorObservable]="errorEventSubject.asObservable()"
                                             [model]="model"
                                             (prevStep)="stepEvent($event)"
                                             (nextStep)="stepEvent($event)"
                                             (validStep)="validStep($event)"></app-form-step-three>
                      </mat-step>
                      <mat-step [completed]="completeStep[2]">
                        <app-form-step-four [errorObservable]="errorEventSubject.asObservable()"
                                            [model]="model"
                                            (prevStep)="stepEvent($event)"
                                            (nextStep)="stepEvent($event)"
                                            (validStep)="validStep($event)"></app-form-step-four>
                      </mat-step>
                    </mat-horizontal-stepper>
                  </ng-template>
                </ngb-tab>
              </ngb-tabset>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
