.badge {
  border-radius: 8px;
  padding: 4px 8px;
  text-transform: uppercase;
  font-size: 0.7142em;
  line-height: 12px;
  background-color: transparent;
  border: 1px solid;
  margin-bottom: 5px;
  color: #FFFFFF;
  border-radius: 0.875rem;
}

.badge-icon {
  padding: 0.4em 0.55em;
}
.badge-icon i {
  font-size: 0.8em;
}

.badge-default {
  color: #888888;
}

.badge-primary {
  color: #EB6836;
}

.badge-info {
  color: #2CA8FF;
}

.badge-success {
  color: #18ce0f;
}

.badge-warning {
  color: #FFB236;
}

.badge-danger {
  color: #FF3636;
}

.badge-neutral {
  color: #FFFFFF;
}
