.btn,
.navbar .navbar-nav > a.btn {
  border-width: 2px;
  font-weight: 400;
  font-size: 0.8571em;
  line-height: 1.35em;
  border: none;
  margin: 10px 1px;
  border-radius: 0.1875rem;
  padding: 11px 22px;
  cursor: pointer;
  background-color: #EB6836;
  color: #FFFFFF;
}

.btn:hover, .btn:focus, .btn:active, .btn.active, .btn:active:focus, .btn:active:hover, .btn.active:focus, .btn.active:hover, .show > .btn.dropdown-toggle, .show > .btn.dropdown-toggle:focus, .show > .btn.dropdown-toggle:hover,
.navbar .navbar-nav > a.btn:hover,
.navbar .navbar-nav > a.btn:focus,
.navbar .navbar-nav > a.btn:active,
.navbar .navbar-nav > a.btn.active,
.navbar .navbar-nav > a.btn:active:focus,
.navbar .navbar-nav > a.btn:active:hover,
.navbar .navbar-nav > a.btn.active:focus,
.navbar .navbar-nav > a.btn.active:hover,
.show > .navbar .navbar-nav > a.btn.dropdown-toggle,
.show > .navbar .navbar-nav > a.btn.dropdown-toggle:focus,
.show > .navbar .navbar-nav > a.btn.dropdown-toggle:hover {
  color: #ffffff;
  background-color: #ff4500;
  border: none;
  box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.37);
}

.btn:not([data-action]):hover,
.navbar .navbar-nav > a.btn:not([data-action]):hover,
.navbar .navbar-nav > a.btn:not([data-action]):focus {
  box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.37);
  background: #ff4500;
  color: #fff;
}

.btn.disabled, .btn.disabled:hover, .btn.disabled:focus, .btn.disabled.focus, .btn.disabled:active, .btn.disabled.active, .btn:disabled, .btn:disabled:hover, .btn:disabled:focus, .btn:disabled.focus, .btn:disabled:active, .btn:disabled.active, .btn[disabled], .btn[disabled]:hover, .btn[disabled]:focus, .btn[disabled].focus, .btn[disabled]:active, .btn[disabled].active, fieldset[disabled] .btn, fieldset[disabled] .btn:hover, fieldset[disabled] .btn:focus, fieldset[disabled] .btn.focus, fieldset[disabled] .btn:active, fieldset[disabled] .btn.active,
.navbar .navbar-nav > a.btn.disabled,
.navbar .navbar-nav > a.btn.disabled:hover,
.navbar .navbar-nav > a.btn.disabled:focus,
.navbar .navbar-nav > a.btn.disabled.focus,
.navbar .navbar-nav > a.btn.disabled:active,
.navbar .navbar-nav > a.btn.disabled.active,
.navbar .navbar-nav > a.btn:disabled,
.navbar .navbar-nav > a.btn:disabled:hover,
.navbar .navbar-nav > a.btn:disabled:focus,
.navbar .navbar-nav > a.btn:disabled.focus,
.navbar .navbar-nav > a.btn:disabled:active,
.navbar .navbar-nav > a.btn:disabled.active,
.navbar .navbar-nav > a.btn[disabled],
.navbar .navbar-nav > a.btn[disabled]:hover,
.navbar .navbar-nav > a.btn[disabled]:focus,
.navbar .navbar-nav > a.btn[disabled].focus,
.navbar .navbar-nav > a.btn[disabled]:active,
.navbar .navbar-nav > a.btn[disabled].active,
fieldset[disabled] .navbar .navbar-nav > a.btn,
fieldset[disabled] .navbar .navbar-nav > a.btn:hover,
fieldset[disabled] .navbar .navbar-nav > a.btn:focus,
fieldset[disabled] .navbar .navbar-nav > a.btn.focus,
fieldset[disabled] .navbar .navbar-nav > a.btn:active,
fieldset[disabled] .navbar .navbar-nav > a.btn.active {
  background-color: #888888;
  border-color: #888888;
}

.btn.btn-simple,
.navbar .navbar-nav > a.btn.btn-simple {
  color: #888888;
  border-color: #888888;
}

.btn.btn-simple:hover, .btn.btn-simple:focus, .btn.btn-simple:active,
.navbar .navbar-nav > a.btn.btn-simple:hover,
.navbar .navbar-nav > a.btn.btn-simple:focus,
.navbar .navbar-nav > a.btn.btn-simple:active {
  background-color: transparent;
  color: #979797;
  border-color: #979797;
  box-shadow: none;
}

.btn.btn-link,
.navbar .navbar-nav > a.btn.btn-link {
  color: #888888;
}

.btn.btn-link:hover, .btn.btn-link:focus, .btn.btn-link:active,
.navbar .navbar-nav > a.btn.btn-link:hover,
.navbar .navbar-nav > a.btn.btn-link:focus,
.navbar .navbar-nav > a.btn.btn-link:active {
  background-color: transparent;
  color: #979797;
  text-decoration: none;
  box-shadow: none;
}

.btn:hover, .btn:focus,
.navbar .navbar-nav > a.btn:hover,
.navbar .navbar-nav > a.btn:focus {
  opacity: 1;
  filter: alpha(opacity=100);
  outline: 0 !important;
}

.btn:active, .btn.active, .open > .btn.dropdown-toggle,
.navbar .navbar-nav > a.btn:active,
.navbar .navbar-nav > a.btn.active,
.open > .navbar .navbar-nav > a.btn.dropdown-toggle {
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: 0 !important;
}

.btn.btn-icon,
.navbar .navbar-nav > a.btn.btn-icon {
  height: 2.375rem;
  min-width: 2.375rem;
  width: 2.375rem;
  padding: 0;
  font-size: 0.9375rem;
  overflow: hidden;
  position: relative;
  line-height: normal;
}

.btn.btn-icon.btn-simple,
.navbar .navbar-nav > a.btn.btn-icon.btn-simple {
  padding: 0;
}

.btn.btn-icon.btn-sm,
.navbar .navbar-nav > a.btn.btn-icon.btn-sm {
  height: 1.875rem;
  min-width: 1.875rem;
  width: 1.875rem;
}

.btn.btn-icon.btn-sm i.fa,
.btn.btn-icon.btn-sm i.fab,
.btn.btn-icon.btn-sm i.fas,
.btn.btn-icon.btn-sm i.far,
.btn.btn-icon.btn-sm i.now-ui-icons,
.navbar .navbar-nav > a.btn.btn-icon.btn-sm i.fa,
.navbar .navbar-nav > a.btn.btn-icon.btn-sm i.fab,
.navbar .navbar-nav > a.btn.btn-icon.btn-sm i.fas,
.navbar .navbar-nav > a.btn.btn-icon.btn-sm i.far,
.navbar .navbar-nav > a.btn.btn-icon.btn-sm i.now-ui-icons {
  font-size: 0.6875rem;
}

.btn.btn-icon.btn-lg,
.navbar .navbar-nav > a.btn.btn-icon.btn-lg {
  height: 3.6rem;
  min-width: 3.6rem;
  width: 3.6rem;
}

.btn.btn-icon.btn-lg i.now-ui-icons,
.btn.btn-icon.btn-lg i.fa,
.btn.btn-icon.btn-lg i.fab,
.btn.btn-icon.btn-lg i.fas,
.btn.btn-icon.btn-lg i.far,
.navbar .navbar-nav > a.btn.btn-icon.btn-lg i.now-ui-icons,
.navbar .navbar-nav > a.btn.btn-icon.btn-lg i.fa,
.navbar .navbar-nav > a.btn.btn-icon.btn-lg i.fab,
.navbar .navbar-nav > a.btn.btn-icon.btn-lg i.fas,
.navbar .navbar-nav > a.btn.btn-icon.btn-lg i.far {
  font-size: 1.325rem;
}

.btn.btn-icon:not(.btn-footer) i.now-ui-icons, .btn.btn-icon:not(.btn-footer) i.fa,
.btn.btn-icon:not(.btn-footer) i.fas, .btn.btn-icon:not(.btn-footer) i.fab,
.btn.btn-icon:not(.btn-footer) i.far,
.navbar .navbar-nav > a.btn.btn-icon:not(.btn-footer) i.now-ui-icons,
.navbar .navbar-nav > a.btn.btn-icon:not(.btn-footer) i.fa,
.navbar .navbar-nav > a.btn.btn-icon:not(.btn-footer) i.fab,
.navbar .navbar-nav > a.btn.btn-icon:not(.btn-footer) i.far,
.navbar .navbar-nav > a.btn.btn-icon:not(.btn-footer) i.fas {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-12px, -12px);
  line-height: 1.5626rem;
  width: 25px;
}

.btn:not(.btn-icon) .now-ui-icons,
.navbar .navbar-nav > a.btn:not(.btn-icon) .now-ui-icons {
  position: relative;
  top: 1px;
}

.btn.btn-facebook,
.navbar .navbar-nav > a.btn.btn-facebook {
  background-color: #3b5998;
  color: #fff;
}

.btn.btn-facebook:focus, .btn.btn-facebook:active, .btn.btn-facebook:hover,
.navbar .navbar-nav > a.btn.btn-facebook:focus,
.navbar .navbar-nav > a.btn.btn-facebook:active,
.navbar .navbar-nav > a.btn.btn-facebook:hover {
  background-color: #4466ae;
  color: #fff;
}

.btn.btn-facebook.btn-simple,
.navbar .navbar-nav > a.btn.btn-facebook.btn-simple {
  color: #3b5998;
  background-color: transparent;
  box-shadow: none;
  border-color: #3b5998;
}

.btn.btn-facebook.btn-simple:hover, .btn.btn-facebook.btn-simple:focus, .btn.btn-facebook.btn-simple:active,
.navbar .navbar-nav > a.btn.btn-facebook.btn-simple:hover,
.navbar .navbar-nav > a.btn.btn-facebook.btn-simple:focus,
.navbar .navbar-nav > a.btn.btn-facebook.btn-simple:active {
  color: #4466ae;
  border-color: #4466ae;
}

.btn.btn-facebook.btn-neutral,
.navbar .navbar-nav > a.btn.btn-facebook.btn-neutral {
  color: #3b5998;
  background-color: #FFFFFF;
}

.btn.btn-facebook.btn-neutral:hover, .btn.btn-facebook.btn-neutral:focus, .btn.btn-facebook.btn-neutral:active,
.navbar .navbar-nav > a.btn.btn-facebook.btn-neutral:hover,
.navbar .navbar-nav > a.btn.btn-facebook.btn-neutral:focus,
.navbar .navbar-nav > a.btn.btn-facebook.btn-neutral:active {
  color: #4466ae;
}

.btn.btn-twitter,
.navbar .navbar-nav > a.btn.btn-twitter {
  background-color: #55acee;
  color: #fff;
}

.btn.btn-twitter:focus, .btn.btn-twitter:active, .btn.btn-twitter:hover,
.navbar .navbar-nav > a.btn.btn-twitter:focus,
.navbar .navbar-nav > a.btn.btn-twitter:active,
.navbar .navbar-nav > a.btn.btn-twitter:hover {
  background-color: #71baf1;
  color: #fff;
}

.btn.btn-twitter.btn-simple,
.navbar .navbar-nav > a.btn.btn-twitter.btn-simple {
  color: #55acee;
  background-color: transparent;
  box-shadow: none;
  border-color: #55acee;
}

.btn.btn-twitter.btn-simple:hover, .btn.btn-twitter.btn-simple:focus, .btn.btn-twitter.btn-simple:active,
.navbar .navbar-nav > a.btn.btn-twitter.btn-simple:hover,
.navbar .navbar-nav > a.btn.btn-twitter.btn-simple:focus,
.navbar .navbar-nav > a.btn.btn-twitter.btn-simple:active {
  color: #71baf1;
  border-color: #71baf1;
}

.btn.btn-twitter.btn-neutral,
.navbar .navbar-nav > a.btn.btn-twitter.btn-neutral {
  color: #55acee;
  background-color: #FFFFFF;
}

.btn.btn-twitter.btn-neutral:hover, .btn.btn-twitter.btn-neutral:focus, .btn.btn-twitter.btn-neutral:active,
.navbar .navbar-nav > a.btn.btn-twitter.btn-neutral:hover,
.navbar .navbar-nav > a.btn.btn-twitter.btn-neutral:focus,
.navbar .navbar-nav > a.btn.btn-twitter.btn-neutral:active {
  color: #71baf1;
}

.btn.btn-pinterest,
.navbar .navbar-nav > a.btn.btn-pinterest {
  background-color: #cc2127;
  color: #fff;
}

.btn.btn-pinterest:focus, .btn.btn-pinterest:active, .btn.btn-pinterest:hover,
.navbar .navbar-nav > a.btn.btn-pinterest:focus,
.navbar .navbar-nav > a.btn.btn-pinterest:active,
.navbar .navbar-nav > a.btn.btn-pinterest:hover {
  background-color: #dd2e34;
  color: #fff;
}

.btn.btn-pinterest.btn-simple,
.navbar .navbar-nav > a.btn.btn-pinterest.btn-simple {
  color: #cc2127;
  background-color: transparent;
  box-shadow: none;
  border-color: #cc2127;
}

.btn.btn-pinterest.btn-simple:hover, .btn.btn-pinterest.btn-simple:focus, .btn.btn-pinterest.btn-simple:active,
.navbar .navbar-nav > a.btn.btn-pinterest.btn-simple:hover,
.navbar .navbar-nav > a.btn.btn-pinterest.btn-simple:focus,
.navbar .navbar-nav > a.btn.btn-pinterest.btn-simple:active {
  color: #dd2e34;
  border-color: #dd2e34;
}

.btn.btn-pinterest.btn-neutral,
.navbar .navbar-nav > a.btn.btn-pinterest.btn-neutral {
  color: #cc2127;
  background-color: #FFFFFF;
}

.btn.btn-pinterest.btn-neutral:hover, .btn.btn-pinterest.btn-neutral:focus, .btn.btn-pinterest.btn-neutral:active,
.navbar .navbar-nav > a.btn.btn-pinterest.btn-neutral:hover,
.navbar .navbar-nav > a.btn.btn-pinterest.btn-neutral:focus,
.navbar .navbar-nav > a.btn.btn-pinterest.btn-neutral:active {
  color: #dd2e34;
}

.btn.btn-google,
.navbar .navbar-nav > a.btn.btn-google {
  background-color: #dd4b39;
  color: #fff;
}

.btn.btn-google:focus, .btn.btn-google:active, .btn.btn-google:hover,
.navbar .navbar-nav > a.btn.btn-google:focus,
.navbar .navbar-nav > a.btn.btn-google:active,
.navbar .navbar-nav > a.btn.btn-google:hover {
  background-color: #e16353;
  color: #fff;
}

.btn.btn-google.btn-simple,
.navbar .navbar-nav > a.btn.btn-google.btn-simple {
  color: #dd4b39;
  background-color: transparent;
  box-shadow: none;
  border-color: #dd4b39;
}

.btn.btn-google.btn-simple:hover, .btn.btn-google.btn-simple:focus, .btn.btn-google.btn-simple:active,
.navbar .navbar-nav > a.btn.btn-google.btn-simple:hover,
.navbar .navbar-nav > a.btn.btn-google.btn-simple:focus,
.navbar .navbar-nav > a.btn.btn-google.btn-simple:active {
  color: #e16353;
  border-color: #e16353;
}

.btn.btn-google.btn-neutral,
.navbar .navbar-nav > a.btn.btn-google.btn-neutral {
  color: #dd4b39;
  background-color: #FFFFFF;
}

.btn.btn-google.btn-neutral:hover, .btn.btn-google.btn-neutral:focus, .btn.btn-google.btn-neutral:active,
.navbar .navbar-nav > a.btn.btn-google.btn-neutral:hover,
.navbar .navbar-nav > a.btn.btn-google.btn-neutral:focus,
.navbar .navbar-nav > a.btn.btn-google.btn-neutral:active {
  color: #e16353;
}

.btn.btn-linkedin,
.navbar .navbar-nav > a.btn.btn-linkedin {
  background-color: #0077B5;
  color: #fff;
}

.btn.btn-linkedin:focus, .btn.btn-linkedin:active, .btn.btn-linkedin:hover,
.navbar .navbar-nav > a.btn.btn-linkedin:focus,
.navbar .navbar-nav > a.btn.btn-linkedin:active,
.navbar .navbar-nav > a.btn.btn-linkedin:hover {
  background-color: #008bd4;
  color: #fff;
}

.btn.btn-linkedin.btn-simple,
.navbar .navbar-nav > a.btn.btn-linkedin.btn-simple {
  color: #0077B5;
  background-color: transparent;
  box-shadow: none;
  border-color: #0077B5;
}

.btn.btn-linkedin.btn-simple:hover, .btn.btn-linkedin.btn-simple:focus, .btn.btn-linkedin.btn-simple:active,
.navbar .navbar-nav > a.btn.btn-linkedin.btn-simple:hover,
.navbar .navbar-nav > a.btn.btn-linkedin.btn-simple:focus,
.navbar .navbar-nav > a.btn.btn-linkedin.btn-simple:active {
  color: #008bd4;
  border-color: #008bd4;
}

.btn.btn-linkedin.btn-neutral,
.navbar .navbar-nav > a.btn.btn-linkedin.btn-neutral {
  color: #0077B5;
  background-color: #FFFFFF;
}

.btn.btn-linkedin.btn-neutral:hover, .btn.btn-linkedin.btn-neutral:focus, .btn.btn-linkedin.btn-neutral:active,
.navbar .navbar-nav > a.btn.btn-linkedin.btn-neutral:hover,
.navbar .navbar-nav > a.btn.btn-linkedin.btn-neutral:focus,
.navbar .navbar-nav > a.btn.btn-linkedin.btn-neutral:active {
  color: #008bd4;
}

.btn.btn-dribbble,
.navbar .navbar-nav > a.btn.btn-dribbble {
  background-color: #ea4c89;
  color: #fff;
}

.btn.btn-dribbble:focus, .btn.btn-dribbble:active, .btn.btn-dribbble:hover,
.navbar .navbar-nav > a.btn.btn-dribbble:focus,
.navbar .navbar-nav > a.btn.btn-dribbble:active,
.navbar .navbar-nav > a.btn.btn-dribbble:hover {
  background-color: #ed679b;
  color: #fff;
}

.btn.btn-dribbble.btn-simple,
.navbar .navbar-nav > a.btn.btn-dribbble.btn-simple {
  color: #ea4c89;
  background-color: transparent;
  box-shadow: none;
  border-color: #ea4c89;
}

.btn.btn-dribbble.btn-simple:hover, .btn.btn-dribbble.btn-simple:focus, .btn.btn-dribbble.btn-simple:active,
.navbar .navbar-nav > a.btn.btn-dribbble.btn-simple:hover,
.navbar .navbar-nav > a.btn.btn-dribbble.btn-simple:focus,
.navbar .navbar-nav > a.btn.btn-dribbble.btn-simple:active {
  color: #ed679b;
  border-color: #ed679b;
}

.btn.btn-dribbble.btn-neutral,
.navbar .navbar-nav > a.btn.btn-dribbble.btn-neutral {
  color: #ea4c89;
  background-color: #FFFFFF;
}

.btn.btn-dribbble.btn-neutral:hover, .btn.btn-dribbble.btn-neutral:focus, .btn.btn-dribbble.btn-neutral:active,
.navbar .navbar-nav > a.btn.btn-dribbble.btn-neutral:hover,
.navbar .navbar-nav > a.btn.btn-dribbble.btn-neutral:focus,
.navbar .navbar-nav > a.btn.btn-dribbble.btn-neutral:active {
  color: #ed679b;
}

.btn.btn-github,
.navbar .navbar-nav > a.btn.btn-github {
  background-color: #333333;
  color: #fff;
}

.btn.btn-github:focus, .btn.btn-github:active, .btn.btn-github:hover,
.navbar .navbar-nav > a.btn.btn-github:focus,
.navbar .navbar-nav > a.btn.btn-github:active,
.navbar .navbar-nav > a.btn.btn-github:hover {
  background-color: #424242;
  color: #fff;
}

.btn.btn-github.btn-simple,
.navbar .navbar-nav > a.btn.btn-github.btn-simple {
  color: #333333;
  background-color: transparent;
  box-shadow: none;
  border-color: #333333;
}

.btn.btn-github.btn-simple:hover, .btn.btn-github.btn-simple:focus, .btn.btn-github.btn-simple:active,
.navbar .navbar-nav > a.btn.btn-github.btn-simple:hover,
.navbar .navbar-nav > a.btn.btn-github.btn-simple:focus,
.navbar .navbar-nav > a.btn.btn-github.btn-simple:active {
  color: #424242;
  border-color: #424242;
}

.btn.btn-github.btn-neutral,
.navbar .navbar-nav > a.btn.btn-github.btn-neutral {
  color: #333333;
  background-color: #FFFFFF;
}

.btn.btn-github.btn-neutral:hover, .btn.btn-github.btn-neutral:focus, .btn.btn-github.btn-neutral:active,
.navbar .navbar-nav > a.btn.btn-github.btn-neutral:hover,
.navbar .navbar-nav > a.btn.btn-github.btn-neutral:focus,
.navbar .navbar-nav > a.btn.btn-github.btn-neutral:active {
  color: #424242;
}

.btn.btn-youtube,
.navbar .navbar-nav > a.btn.btn-youtube {
  background-color: #e52d27;
  color: #fff;
}

.btn.btn-youtube:focus, .btn.btn-youtube:active, .btn.btn-youtube:hover,
.navbar .navbar-nav > a.btn.btn-youtube:focus,
.navbar .navbar-nav > a.btn.btn-youtube:active,
.navbar .navbar-nav > a.btn.btn-youtube:hover {
  background-color: #e84842;
  color: #fff;
}

.btn.btn-youtube.btn-simple,
.navbar .navbar-nav > a.btn.btn-youtube.btn-simple {
  color: #e52d27;
  background-color: transparent;
  box-shadow: none;
  border-color: #e52d27;
}

.btn.btn-youtube.btn-simple:hover, .btn.btn-youtube.btn-simple:focus, .btn.btn-youtube.btn-simple:active,
.navbar .navbar-nav > a.btn.btn-youtube.btn-simple:hover,
.navbar .navbar-nav > a.btn.btn-youtube.btn-simple:focus,
.navbar .navbar-nav > a.btn.btn-youtube.btn-simple:active {
  color: #e84842;
  border-color: #e84842;
}

.btn.btn-youtube.btn-neutral,
.navbar .navbar-nav > a.btn.btn-youtube.btn-neutral {
  color: #e52d27;
  background-color: #FFFFFF;
}

.btn.btn-youtube.btn-neutral:hover, .btn.btn-youtube.btn-neutral:focus, .btn.btn-youtube.btn-neutral:active,
.navbar .navbar-nav > a.btn.btn-youtube.btn-neutral:hover,
.navbar .navbar-nav > a.btn.btn-youtube.btn-neutral:focus,
.navbar .navbar-nav > a.btn.btn-youtube.btn-neutral:active {
  color: #e84842;
}

.btn.btn-instagram,
.navbar .navbar-nav > a.btn.btn-instagram {
  background-color: #fb3958;
  color: #fff;
}

.btn.btn-instagram:focus, .btn.btn-instagram:active, .btn.btn-instagram:hover,
.navbar .navbar-nav > a.btn.btn-instagram:focus,
.navbar .navbar-nav > a.btn.btn-instagram:active,
.navbar .navbar-nav > a.btn.btn-instagram:hover {
  background-color: #fb3958;
  color: #fff;
}

.btn.btn-instagram.btn-simple,
.navbar .navbar-nav > a.btn.btn-instagram.btn-simple {
  color: #E1306C;
  background-color: transparent;
  box-shadow: none;
  border-color: #E1306C;
}

.btn.btn-instagram.btn-simple:hover, .btn.btn-instagram.btn-simple:focus, .btn.btn-instagram.btn-simple:active,
.navbar .navbar-nav > a.btn.btn-instagram.btn-simple:hover,
.navbar .navbar-nav > a.btn.btn-instagram.btn-simple:focus,
.navbar .navbar-nav > a.btn.btn-instagram.btn-simple:active {
  color: #E1306C;
  border-color: #C13584;
}

.btn.btn-instagram.btn-neutral,
.navbar .navbar-nav > a.btn.btn-instagram.btn-neutral {
  color: #E1306C;
  background-color: #FFFFFF;
}

.btn.btn-instagram.btn-neutral:hover, .btn.btn-instagram.btn-neutral:focus, .btn.btn-instagram.btn-neutral:active,
.navbar .navbar-nav > a.btn.btn-instagram.btn-neutral:hover,
.navbar .navbar-nav > a.btn.btn-instagram.btn-neutral:focus,
.navbar .navbar-nav > a.btn.btn-instagram.btn-neutral:active {
  color: #C13584;
}

.btn.btn-reddit,
.navbar .navbar-nav > a.btn.btn-reddit {
  background-color: #ff4500;
  color: #fff;
}

.btn.btn-reddit:focus, .btn.btn-reddit:active, .btn.btn-reddit:hover,
.navbar .navbar-nav > a.btn.btn-reddit:focus,
.navbar .navbar-nav > a.btn.btn-reddit:active,
.navbar .navbar-nav > a.btn.btn-reddit:hover {
  background-color: #EB6836;
  color: #fff;
}

.btn.btn-reddit.btn-simple,
.navbar .navbar-nav > a.btn.btn-reddit.btn-simple {
  color: #ff4500;
  background-color: transparent;
  box-shadow: none;
  border-color: #ff4500;
}

.btn.btn-reddit.btn-simple:hover, .btn.btn-reddit.btn-simple:focus, .btn.btn-reddit.btn-simple:active,
.navbar .navbar-nav > a.btn.btn-reddit.btn-simple:hover,
.navbar .navbar-nav > a.btn.btn-reddit.btn-simple:focus,
.navbar .navbar-nav > a.btn.btn-reddit.btn-simple:active {
  color: #EB6836;
  border-color: #EB6836;
}

.btn.btn-reddit.btn-neutral,
.navbar .navbar-nav > a.btn.btn-reddit.btn-neutral {
  color: #ff4500;
  background-color: #FFFFFF;
}

.btn.btn-reddit.btn-neutral:hover, .btn.btn-reddit.btn-neutral:focus, .btn.btn-reddit.btn-neutral:active,
.navbar .navbar-nav > a.btn.btn-reddit.btn-neutral:hover,
.navbar .navbar-nav > a.btn.btn-reddit.btn-neutral:focus,
.navbar .navbar-nav > a.btn.btn-reddit.btn-neutral:active {
  color: #EB6836;
}

.btn.btn-tumblr,
.navbar .navbar-nav > a.btn.btn-tumblr {
  background-color: #35465c;
  color: #fff;
}

.btn.btn-tumblr:focus, .btn.btn-tumblr:active, .btn.btn-tumblr:hover,
.navbar .navbar-nav > a.btn.btn-tumblr:focus,
.navbar .navbar-nav > a.btn.btn-tumblr:active,
.navbar .navbar-nav > a.btn.btn-tumblr:hover {
  background-color: #40556f;
  color: #fff;
}

.btn.btn-tumblr.btn-simple,
.navbar .navbar-nav > a.btn.btn-tumblr.btn-simple {
  color: #35465c;
  background-color: transparent;
  box-shadow: none;
  border-color: #35465c;
}

.btn.btn-tumblr.btn-simple:hover, .btn.btn-tumblr.btn-simple:focus, .btn.btn-tumblr.btn-simple:active,
.navbar .navbar-nav > a.btn.btn-tumblr.btn-simple:hover,
.navbar .navbar-nav > a.btn.btn-tumblr.btn-simple:focus,
.navbar .navbar-nav > a.btn.btn-tumblr.btn-simple:active {
  color: #40556f;
  border-color: #40556f;
}

.btn.btn-tumblr.btn-neutral,
.navbar .navbar-nav > a.btn.btn-tumblr.btn-neutral {
  color: #35465c;
  background-color: #FFFFFF;
}

.btn.btn-tumblr.btn-neutral:hover, .btn.btn-tumblr.btn-neutral:focus, .btn.btn-tumblr.btn-neutral:active,
.navbar .navbar-nav > a.btn.btn-tumblr.btn-neutral:hover,
.navbar .navbar-nav > a.btn.btn-tumblr.btn-neutral:focus,
.navbar .navbar-nav > a.btn.btn-tumblr.btn-neutral:active {
  color: #40556f;
}

.btn.btn-behance,
.navbar .navbar-nav > a.btn.btn-behance {
  background-color: #1769ff;
  color: #fff;
}

.btn.btn-behance:focus, .btn.btn-behance:active, .btn.btn-behance:hover,
.navbar .navbar-nav > a.btn.btn-behance:focus,
.navbar .navbar-nav > a.btn.btn-behance:active,
.navbar .navbar-nav > a.btn.btn-behance:hover {
  background-color: #367dff;
  color: #fff;
}

.btn.btn-behance.btn-simple,
.navbar .navbar-nav > a.btn.btn-behance.btn-simple {
  color: #1769ff;
  background-color: transparent;
  box-shadow: none;
  border-color: #1769ff;
}

.btn.btn-behance.btn-simple:hover, .btn.btn-behance.btn-simple:focus, .btn.btn-behance.btn-simple:active,
.navbar .navbar-nav > a.btn.btn-behance.btn-simple:hover,
.navbar .navbar-nav > a.btn.btn-behance.btn-simple:focus,
.navbar .navbar-nav > a.btn.btn-behance.btn-simple:active {
  color: #367dff;
  border-color: #367dff;
}

.btn.btn-behance.btn-neutral,
.navbar .navbar-nav > a.btn.btn-behance.btn-neutral {
  color: #1769ff;
  background-color: #FFFFFF;
}

.btn.btn-behance.btn-neutral:hover, .btn.btn-behance.btn-neutral:focus, .btn.btn-behance.btn-neutral:active,
.navbar .navbar-nav > a.btn.btn-behance.btn-neutral:hover,
.navbar .navbar-nav > a.btn.btn-behance.btn-neutral:focus,
.navbar .navbar-nav > a.btn.btn-behance.btn-neutral:active {
  color: #367dff;
}

.btn-primary {
  background-color: #FFFFFF;
  color: #888888;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.37);
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .btn-primary:active:focus, .btn-primary:active:hover, .btn-primary.active:focus, .btn-primary.active:hover, .show > .btn-primary.dropdown-toggle, .show > .btn-primary.dropdown-toggle:focus, .show > .btn-primary.dropdown-toggle:hover {
  background-color: #EB6836;
  color: #FFFFFF;
  box-shadow: none;
}

.btn-primary:not([data-action]):hover {
  box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.37);
}

.btn-primary.disabled, .btn-primary.disabled:hover, .btn-primary.disabled:focus, .btn-primary.disabled.focus, .btn-primary.disabled:active, .btn-primary.disabled.active, .btn-primary:disabled, .btn-primary:disabled:hover, .btn-primary:disabled:focus, .btn-primary:disabled.focus, .btn-primary:disabled:active, .btn-primary:disabled.active, .btn-primary[disabled], .btn-primary[disabled]:hover, .btn-primary[disabled]:focus, .btn-primary[disabled].focus, .btn-primary[disabled]:active, .btn-primary[disabled].active, fieldset[disabled] .btn-primary, fieldset[disabled] .btn-primary:hover, fieldset[disabled] .btn-primary:focus, fieldset[disabled] .btn-primary.focus, fieldset[disabled] .btn-primary:active, fieldset[disabled] .btn-primary.active {
  background-color: #EB6836;
  border-color: #EB6836;
}

.btn-primary.btn-simple {
  color: #EB6836;
  border-color: #EB6836;
}

.btn-primary.btn-simple:hover, .btn-primary.btn-simple:focus, .btn-primary.btn-simple:active {
  background-color: transparent;
  color: #EB6836;
  border-color: #EB6836;
  box-shadow: none;
}

.btn-primary.btn-link {
  color: #EB6836;
}

.btn-primary.btn-link:hover, .btn-primary.btn-link:focus, .btn-primary.btn-link:active {
  background-color: transparent;
  color: #EB6836;
  text-decoration: none;
  box-shadow: none;
}

.btn-success {
  background-color: #18ce0f;
  color: #FFFFFF;
}

.btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success.active, .btn-success:active:focus, .btn-success:active:hover, .btn-success.active:focus, .btn-success.active:hover, .show > .btn-success.dropdown-toggle, .show > .btn-success.dropdown-toggle:focus, .show > .btn-success.dropdown-toggle:hover {
  background-color: #1beb11;
  color: #FFFFFF;
  box-shadow: none;
}

.btn-success:not([data-action]):hover {
  box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.37);
}

.btn-success.disabled, .btn-success.disabled:hover, .btn-success.disabled:focus, .btn-success.disabled.focus, .btn-success.disabled:active, .btn-success.disabled.active, .btn-success:disabled, .btn-success:disabled:hover, .btn-success:disabled:focus, .btn-success:disabled.focus, .btn-success:disabled:active, .btn-success:disabled.active, .btn-success[disabled], .btn-success[disabled]:hover, .btn-success[disabled]:focus, .btn-success[disabled].focus, .btn-success[disabled]:active, .btn-success[disabled].active, fieldset[disabled] .btn-success, fieldset[disabled] .btn-success:hover, fieldset[disabled] .btn-success:focus, fieldset[disabled] .btn-success.focus, fieldset[disabled] .btn-success:active, fieldset[disabled] .btn-success.active {
  background-color: #18ce0f;
  border-color: #18ce0f;
}

.btn-success.btn-simple {
  color: #18ce0f;
  border-color: #18ce0f;
}

.btn-success.btn-simple:hover, .btn-success.btn-simple:focus, .btn-success.btn-simple:active {
  background-color: transparent;
  color: #1beb11;
  border-color: #1beb11;
  box-shadow: none;
}

.btn-success.btn-link {
  color: #18ce0f;
}

.btn-success.btn-link:hover, .btn-success.btn-link:focus, .btn-success.btn-link:active {
  background-color: transparent;
  color: #1beb11;
  text-decoration: none;
  box-shadow: none;
}

.btn-info {
  background-color: #2CA8FF;
  color: #FFFFFF;
}

.btn-info:hover, .btn-info:focus, .btn-info:active, .btn-info.active, .btn-info:active:focus, .btn-info:active:hover, .btn-info.active:focus, .btn-info.active:hover, .show > .btn-info.dropdown-toggle, .show > .btn-info.dropdown-toggle:focus, .show > .btn-info.dropdown-toggle:hover {
  background-color: #4bb5ff;
  color: #FFFFFF;
  box-shadow: none;
}

.btn-info:not([data-action]):hover {
  box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.37);
}

.btn-info.disabled, .btn-info.disabled:hover, .btn-info.disabled:focus, .btn-info.disabled.focus, .btn-info.disabled:active, .btn-info.disabled.active, .btn-info:disabled, .btn-info:disabled:hover, .btn-info:disabled:focus, .btn-info:disabled.focus, .btn-info:disabled:active, .btn-info:disabled.active, .btn-info[disabled], .btn-info[disabled]:hover, .btn-info[disabled]:focus, .btn-info[disabled].focus, .btn-info[disabled]:active, .btn-info[disabled].active, fieldset[disabled] .btn-info, fieldset[disabled] .btn-info:hover, fieldset[disabled] .btn-info:focus, fieldset[disabled] .btn-info.focus, fieldset[disabled] .btn-info:active, fieldset[disabled] .btn-info.active {
  background-color: #2CA8FF;
  border-color: #2CA8FF;
}

.btn-info.btn-simple {
  color: #2CA8FF;
  border-color: #2CA8FF;
}

.btn-info.btn-simple:hover, .btn-info.btn-simple:focus, .btn-info.btn-simple:active {
  background-color: transparent;
  color: #4bb5ff;
  border-color: #4bb5ff;
  box-shadow: none;
}

.btn-info.btn-link {
  color: #2CA8FF;
}

.btn-info.btn-link:hover, .btn-info.btn-link:focus, .btn-info.btn-link:active {
  background-color: transparent;
  color: #4bb5ff;
  text-decoration: none;
  box-shadow: none;
}

.btn-warning {
  background-color: #FFB236;
  color: #FFFFFF;
}

.btn-warning:hover, .btn-warning:focus, .btn-warning:active, .btn-warning.active, .btn-warning:active:focus, .btn-warning:active:hover, .btn-warning.active:focus, .btn-warning.active:hover, .show > .btn-warning.dropdown-toggle, .show > .btn-warning.dropdown-toggle:focus, .show > .btn-warning.dropdown-toggle:hover {
  background-color: #ffbe55;
  color: #FFFFFF;
  box-shadow: none;
}

.btn-warning:not([data-action]):hover {
  box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.37);
}

.btn-warning.disabled, .btn-warning.disabled:hover, .btn-warning.disabled:focus, .btn-warning.disabled.focus, .btn-warning.disabled:active, .btn-warning.disabled.active, .btn-warning:disabled, .btn-warning:disabled:hover, .btn-warning:disabled:focus, .btn-warning:disabled.focus, .btn-warning:disabled:active, .btn-warning:disabled.active, .btn-warning[disabled], .btn-warning[disabled]:hover, .btn-warning[disabled]:focus, .btn-warning[disabled].focus, .btn-warning[disabled]:active, .btn-warning[disabled].active, fieldset[disabled] .btn-warning, fieldset[disabled] .btn-warning:hover, fieldset[disabled] .btn-warning:focus, fieldset[disabled] .btn-warning.focus, fieldset[disabled] .btn-warning:active, fieldset[disabled] .btn-warning.active {
  background-color: #FFB236;
  border-color: #FFB236;
}

.btn-warning.btn-simple {
  color: #FFB236;
  border-color: #FFB236;
}

.btn-warning.btn-simple:hover, .btn-warning.btn-simple:focus, .btn-warning.btn-simple:active {
  background-color: transparent;
  color: #ffbe55;
  border-color: #ffbe55;
  box-shadow: none;
}

.btn-warning.btn-link {
  color: #FFB236;
}

.btn-warning.btn-link:hover, .btn-warning.btn-link:focus, .btn-warning.btn-link:active {
  background-color: transparent;
  color: #ffbe55;
  text-decoration: none;
  box-shadow: none;
}

.btn-danger {
  background-color: #FF3636;
  color: #FFFFFF;
}

.btn-danger:hover, .btn-danger:focus, .btn-danger:active, .btn-danger.active, .btn-danger:active:focus, .btn-danger:active:hover, .btn-danger.active:focus, .btn-danger.active:hover, .show > .btn-danger.dropdown-toggle, .show > .btn-danger.dropdown-toggle:focus, .show > .btn-danger.dropdown-toggle:hover {
  background-color: #ff5555;
  color: #FFFFFF;
  box-shadow: none;
}

.btn-danger:not([data-action]):hover {
  box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.37);
}

.btn-danger.disabled, .btn-danger.disabled:hover, .btn-danger.disabled:focus, .btn-danger.disabled.focus, .btn-danger.disabled:active, .btn-danger.disabled.active, .btn-danger:disabled, .btn-danger:disabled:hover, .btn-danger:disabled:focus, .btn-danger:disabled.focus, .btn-danger:disabled:active, .btn-danger:disabled.active, .btn-danger[disabled], .btn-danger[disabled]:hover, .btn-danger[disabled]:focus, .btn-danger[disabled].focus, .btn-danger[disabled]:active, .btn-danger[disabled].active, fieldset[disabled] .btn-danger, fieldset[disabled] .btn-danger:hover, fieldset[disabled] .btn-danger:focus, fieldset[disabled] .btn-danger.focus, fieldset[disabled] .btn-danger:active, fieldset[disabled] .btn-danger.active {
  background-color: #FF3636;
  border-color: #FF3636;
}

.btn-danger.btn-simple {
  color: #FF3636;
  border-color: #FF3636;
}

.btn-danger.btn-simple:hover, .btn-danger.btn-simple:focus, .btn-danger.btn-simple:active {
  background-color: transparent;
  color: #ff5555;
  border-color: #ff5555;
  box-shadow: none;
}

.btn-danger.btn-link {
  color: #FF3636;
}

.btn-danger.btn-link:hover, .btn-danger.btn-link:focus, .btn-danger.btn-link:active {
  background-color: transparent;
  color: #ff5555;
  text-decoration: none;
  box-shadow: none;
}

.btn-neutral {
  background-color: #FFFFFF;
  color: #EB6836;
}

.btn-neutral:hover, .btn-neutral:focus, .btn-neutral:active, .btn-neutral.active, .btn-neutral:active:focus, .btn-neutral:active:hover, .btn-neutral.active:focus, .btn-neutral.active:hover, .show > .btn-neutral.dropdown-toggle, .show > .btn-neutral.dropdown-toggle:focus, .show > .btn-neutral.dropdown-toggle:hover {
  background-color: #FFFFFF;
  color: #FFFFFF;
  box-shadow: none;
}

.btn-neutral:not([data-action]):hover {
  box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.37);
}

.btn-neutral.disabled, .btn-neutral.disabled:hover, .btn-neutral.disabled:focus, .btn-neutral.disabled.focus, .btn-neutral.disabled:active, .btn-neutral.disabled.active, .btn-neutral:disabled, .btn-neutral:disabled:hover, .btn-neutral:disabled:focus, .btn-neutral:disabled.focus, .btn-neutral:disabled:active, .btn-neutral:disabled.active, .btn-neutral[disabled], .btn-neutral[disabled]:hover, .btn-neutral[disabled]:focus, .btn-neutral[disabled].focus, .btn-neutral[disabled]:active, .btn-neutral[disabled].active, fieldset[disabled] .btn-neutral, fieldset[disabled] .btn-neutral:hover, fieldset[disabled] .btn-neutral:focus, fieldset[disabled] .btn-neutral.focus, fieldset[disabled] .btn-neutral:active, fieldset[disabled] .btn-neutral.active {
  background-color: #FFFFFF;
  border-color: #FFFFFF;
}

.btn-neutral.btn-danger {
  color: #FF3636;
}

.btn-neutral.btn-danger:hover, .btn-neutral.btn-danger:focus, .btn-neutral.btn-danger:active {
  color: #ff5555;
}

.btn-neutral.btn-info {
  color: #2CA8FF;
}

.btn-neutral.btn-info:hover, .btn-neutral.btn-info:focus, .btn-neutral.btn-info:active {
  color: #4bb5ff;
}

.btn-neutral.btn-warning {
  color: #FFB236;
}

.btn-neutral.btn-warning:hover, .btn-neutral.btn-warning:focus, .btn-neutral.btn-warning:active {
  color: #ffbe55;
}

.btn-neutral.btn-success {
  color: #18ce0f;
}

.btn-neutral.btn-success:hover, .btn-neutral.btn-success:focus, .btn-neutral.btn-success:active {
  color: #1beb11;
}

.btn-neutral.btn-default {
  color: #888888;
}

.btn-neutral.btn-default:hover, .btn-neutral.btn-default:focus, .btn-neutral.btn-default:active {
  color: #979797;
}

.btn-neutral.active, .btn-neutral:active, .btn-neutral:active:focus, .btn-neutral:active:hover, .btn-neutral.active:focus, .btn-neutral.active:hover, .show > .btn-neutral.dropdown-toggle, .show > .btn-neutral.dropdown-toggle:focus, .show > .btn-neutral.dropdown-toggle:hover {
  background-color: #FFFFFF;
  color: #EB6836;
  box-shadow: none;
}

.btn-neutral:hover, .btn-neutral:focus {
  color: #EB6836;
}

.btn-neutral:hover:not(.nav-link), .btn-neutral:focus:not(.nav-link) {
  box-shadow: none;
}

.btn-neutral.btn-simple {
  color: #FFFFFF;
  border-color: #FFFFFF;
}

.btn-neutral.btn-simple:hover, .btn-neutral.btn-simple:focus, .btn-neutral.btn-simple:active {
  background-color: transparent;
  color: #FFFFFF;
  border-color: #FFFFFF;
  box-shadow: none;
}

.btn-neutral.btn-link {
  color: #FFFFFF;
}

.btn-neutral.btn-link:hover, .btn-neutral.btn-link:focus, .btn-neutral.btn-link:active {
  background-color: transparent;
  color: #FFFFFF;
  text-decoration: none;
  box-shadow: none;
}

.btn:disabled, .btn[disabled], .btn.disabled {
  opacity: 0.5;
  filter: alpha(opacity=50);
}

.btn-round {
  border-width: 1px;
  border-radius: 30px !important;
  padding: 11px 23px;
}

.btn-round.btn-simple {
  padding: 10px 22px;
}

.btn-simple {
  border: 1px solid #888888;
  padding: 10px 22px;
  background-color: transparent;
}

.btn-simple.disabled, .btn-simple.disabled:hover, .btn-simple.disabled:focus, .btn-simple.disabled.focus, .btn-simple.disabled:active, .btn-simple.disabled.active, .btn-simple:disabled, .btn-simple:disabled:hover, .btn-simple:disabled:focus, .btn-simple:disabled.focus, .btn-simple:disabled:active, .btn-simple:disabled.active, .btn-simple[disabled], .btn-simple[disabled]:hover, .btn-simple[disabled]:focus, .btn-simple[disabled].focus, .btn-simple[disabled]:active, .btn-simple[disabled].active, fieldset[disabled] .btn-simple, fieldset[disabled] .btn-simple:hover, fieldset[disabled] .btn-simple:focus, fieldset[disabled] .btn-simple.focus, fieldset[disabled] .btn-simple:active, fieldset[disabled] .btn-simple.active,
.btn-link.disabled,
.btn-link.disabled:hover,
.btn-link.disabled:focus,
.btn-link.disabled.focus,
.btn-link.disabled:active,
.btn-link.disabled.active,
.btn-link:disabled,
.btn-link:disabled:hover,
.btn-link:disabled:focus,
.btn-link:disabled.focus,
.btn-link:disabled:active,
.btn-link:disabled.active,
.btn-link[disabled],
.btn-link[disabled]:hover,
.btn-link[disabled]:focus,
.btn-link[disabled].focus,
.btn-link[disabled]:active,
.btn-link[disabled].active,
fieldset[disabled] .btn-link,
fieldset[disabled] .btn-link:hover,
fieldset[disabled] .btn-link:focus,
fieldset[disabled] .btn-link.focus,
fieldset[disabled] .btn-link:active,
fieldset[disabled] .btn-link.active {
  background-color: transparent;
}

.form-register .tab-content .tab-pane form .card-footer .row .btn-lg {
  font-size: 1em;
  border-radius: 0.25rem;
  padding: 15px 10px;
  width: 100%;
}

.btn-lg {
  font-size: 1em;
  border-radius: 0.25rem;
  padding: 15px 48px;
}

.btn-lg.btn-simple {
  padding: 14px 47px;
}

.btn-sm {
  font-size: 14px;
  border-radius: 0.1875rem;
  padding: 5px 15px;
}

.btn-sm.btn-simple {
  padding: 4px 14px;
}

.btn-link {
  border: 0;
  padding: 0.5rem 0.7rem;
  background-color: transparent;
}

.btn-wd {
  min-width: 140px;
}

.btn-group.select {
  width: 100%;
}

.btn-group.select .btn {
  text-align: left;
}

.btn-group.select .caret {
  position: absolute;
  top: 50%;
  margin-top: -1px;
  right: 8px;
}
