.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
  display: block;
}

.carousel .carousel-inner {
  border-radius: 0.1875rem;
}

.carousel .card {
  max-width: 650px;
  margin: 60px auto;
  display: block;
}

ngb-carousel:focus {
  outline: none;
}

ngb-carousel .carousel-control-prev-icon,
ngb-carousel .carousel-control-next-icon {
  width: 12px;
  height: 12px;
}

.home-page ngb-carousel .carousel-control-prev-icon,
.home-page ngb-carousel .carousel-control-next-icon {
  background-image: none;
  cursor: pointer;
}

.home-page ngb-carousel .carousel-control-next-icon:before {
  content: "\f054";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
}

.home-page ngb-carousel .carousel-control-prev-icon:before {
  content: "\f053";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
}
