.index-page .page-header,
.presentation-page .page-header {
  height: 125vh;
}

.index-page .page-header .container > .content-center,
.presentation-page .page-header .container > .content-center {
  top: 37%;
}

.index-page .category-absolute,
.presentation-page .category-absolute {
  position: absolute;
  top: 100vh;
  margin-top: -60px;
  padding: 0 15px;
  width: 100%;
  text-align: center;
  color: rgba(255, 255, 255, 0.5);
}

.presentation-page .section-sections .section-description {
  text-align: center;
  margin-bottom: 60px;
}

.presentation-page .section-sections .col-md-3 {
  padding: 7.5px;
}

.presentation-page .section-sections img {
  width: 100%;
  border-radius: 0.1875rem;
  transition: all 0.2s ease 0s;
  box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.2);
}

.presentation-page .section-sections img:hover {
  -webkit-transform: scale(1.02);
  -moz-transform: scale(1.02);
  -o-transform: scale(1.02);
  -ms-transform: scale(1.02);
  transform: scale(1.02);
}

.presentation-page .section-pricing .card-pricing {
  margin-top: 45px;
}

.presentation-page .section-pricing .card-margin {
  margin-top: 90px;
}

.blog-posts .projects-4 {
  padding-top: 0;
}

.ecommerce-page .noUi-tooltip {
  border: none;
}

.ecommerce-page ngb-accordion .card .card-header:after {
  display: none;
}

.ecommerce-page .container {
  position: relative;
  z-index: 2;
}

.ecommerce-page .card-header {
  padding-left: 0;
  padding-right: 0;
}

.ecommerce-page .card-header:after {
  width: 100%;
  left: 0;
}

.ecommerce-page .slider-refine {
  margin: 15px 0;
}

.ecommerce-page .card-refine {
  max-height: 273px;
  overflow-y: scroll;
}

.ecommerce-page .card-refine > .card-title {
  margin-bottom: 30px;
}

.ecommerce-page .card-refine .card-body {
  padding-left: 25px;
  padding-right: 25px;
}

.ecommerce-page .card-refine .card-body.panel-refine {
  padding-left: 15px;
  padding-right: 15px;
}

.ecommerce-page .card-refine .price-right,
.ecommerce-page .card-refine .price-left {
  font-weight: 500;
}

.ecommerce-page .card-refine .btn {
  margin: -5px -12px;
}

.ecommerce-page .card-refine .checkbox input[type=checkbox]:checked + .checkbox-material .check {
  background: #EB6836;
}

.ecommerce-page .card-product .card-image {
  width: 200px;
  margin: 0 auto;
}

.product-page {
  background-color: #eee;
}

.product-page .carousel .carousel-control-next span {
  background-image: none !important;
}

.product-page .carousel .carousel-control-next span:after {
  content: "";
  color: #EB6836;
  display: inline-block;
  font: normal normal normal 14px/1 "Nucleo Outline";
  font-size: inherit;
  speak: none;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.product-page .carousel .carousel-control-prev span {
  background-image: none !important;
}

.product-page .carousel .carousel-control-prev span:after {
  content: "";
  color: #EB6836;
  display: inline-block;
  font: normal normal normal 14px/1 "Nucleo Outline";
  font-size: inherit;
  speak: none;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.product-page .carousel {
  margin: -90px 0px 0;
}

.product-page .carousel img {
  border-radius: 0.1875rem;
  height: auto;
}

.product-page .section {
  padding-top: 30px;
}

.product-page .main-price {
  margin: 10px 0 25px;
  font-weight: 300;
}

.product-page .blockquote {
  width: 90%;
  margin-top: -10px;
  margin-left: 5%;
}

.product-page .pick-size {
  margin-top: 15px;
  margin-bottom: 15px;
}

.product-page .pick-size .form-group {
  margin-top: 5px;
}

.product-page .related-products .title {
  margin-bottom: 80px;
}

.product-page .features {
  padding-top: 30px;
}

.product-page .accordeon .card {
  margin-bottom: 15px;
}

.landing-page .page-header {
  height: 100vh;
  position: relative;
}

.landing-page .page-header .container {
  text-align: left;
}

.landing-page .page-header .share {
  margin-top: 150px;
}

.landing-page .page-header h1 {
  font-weight: 600;
}

.landing-page .page-header .title {
  color: #FFFFFF;
}

.landing-page .section-team .team .team-player img {
  max-width: 100px;
}

.landing-page .section-team .team-player {
  margin-bottom: 15px;
}

.landing-page .section-contact-us .title {
  margin-bottom: 15px;
}

.landing-page .section-contact-us .description {
  margin-bottom: 30px;
}

.landing-page .section-contact-us .input-group,
.landing-page .section-contact-us .send-button,
.landing-page .section-contact-us .textarea-container {
  padding: 0 40px;
}

.landing-page .section-contact-us .textarea-container {
  margin: 40px 0;
}

.landing-page .section-contact-us a.btn {
  margin-top: 35px;
}

.profile-page .button-container,
.blog-post .button-container {
  text-align: center;
  margin-top: -112px;
}

.profile-page ngb-tabset .nav {
  width: 100%;
}

.profile-page .page-header {
  min-height: 550px;
}

.profile-page .profile-container {
  color: #FFFFFF;
}

.profile-page .photo-container {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto;
  box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.3);
}

.profile-page .title {
  text-align: center;
  margin-top: 30px;
}

.profile-page .category {
  text-align: center;
}

.profile-page h5.description {
  max-width: 700px;
  margin: 20px auto 75px;
}

.profile-page .nav-align-center {
  margin-top: 30px;
}

.profile-page .info-horizontal {
  padding: 15px 0 0;
}

/*.profile-page .content {
  max-width: 450px;
  margin: 0 auto;
}*/

.profile-page .content .social-description {
  display: inline-block;
  max-width: 150px;
  width: 145px;
  text-align: center;
  margin: 15px 0 0px;
}

.profile-page .content .social-description h2 {
  margin-bottom: 5px;
}

.profile-page .collections img {
  margin-bottom: 30px;
}

.profile-page .gallery {
  margin-top: 45px;
  padding-bottom: 50px;
}

.section-full-page:after, .section-full-page:before {
  display: block;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 2;
}

.section-full-page:before {
  background-color: rgba(0, 0, 0, 0.5);
}

.section-full-page[filter-color=purple]:after, .section-full-page[filter-color=primary]:after {
  background: rgba(227, 227, 227, 0.26);
  background: -webkit-linear-gradient(90deg, rgba(227, 227, 227, 0.26), rgba(249, 99, 50, 0.95));
  background: -o-linear-gradient(90deg, rgba(227, 227, 227, 0.26), rgba(249, 99, 50, 0.95));
  background: -moz-linear-gradient(90deg, rgba(227, 227, 227, 0.26), rgba(249, 99, 50, 0.95));
  background: linear-gradient(0deg, rgba(227, 227, 227, 0.26), rgba(249, 99, 50, 0.95));
}

.section-full-page[data-image]:after {
  opacity: 0.5;
}

.section-full-page > .content,
.section-full-page > .footer {
  position: relative;
  z-index: 4;
}

.section-full-page > .content {
  min-height: calc(100vh - 80px);
}

.section-full-page .full-page-background {
  position: absolute;
  z-index: 1;
  height: 100%;
  width: 100%;
  display: block;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: center center;
}

.section-full-page .footer nav > ul a:not(.btn),
.section-full-page .footer,
.section-full-page .footer .copyright a {
  color: #FFFFFF;
}

.signup .section {
  padding-top: 180px;
  padding-bottom: 0;
}

.signup .input-group, .signup .form-group {
  margin-bottom: 20px;
}

.signup .form-description p {
  text-decoration: none;
  color: #444;
  margin-bottom: 1.7em;
}

.signup .card-signup {
  max-width: 100%;
  padding: 15px 0px;
}

.signup .card-signup:not([data-background-color]) .card-title {
  color: initial;
}

.signup .card-signup .form-check {
  padding-left: 0;
}

.signup .card-signup .form-check .form-check-label {
  margin-left: 0px;
  padding-left: 0;
  color: initial;
  width: 100%;
}

.signup .card-signup .form-check .form-check-label .form-check-sign {
  margin-right: 40px;
}

.signup .card-signup .form-check .form-check-label a {
  width: 60%;
  margin-left: 0px;
  display: inline-block;
}

.signup .info-horizontal {
  padding: 0px 0px 20px;
}

.signup .social .btn {
  margin: 5px;
}

.signup .social h4 {
  margin-top: 20px;
}

.signup .page-header:before {
  background: none;
}

.signup .card-signup .has-danger .form-control::placeholder,
.signup .card-signup .has-danger .form-control::-moz-placeholder,
.signup .card-signup .has-danger .form-control:-moz-placeholder,
.signup .card-signup .has-danger .form-control::-webkit-input-placeholder,
.signup .card-signup .has-danger .form-control:-ms-input-placeholder {
  color: #ff3636 !important;
}

.signup .card-signup .has-danger .form-control,
.signup .card-signup .has-danger .form-control:focus {
  background-color: transparent;
  color: #ff3636;
  border: 1px solid #ff3636;
  border-left-style: none;
}

.signup .card-signup .has-success:after,
.signup .card-signup .has-danger:after {
  top: 15px;
}

.signup .card-signup .has-danger.input-group-focus .input-group-text,
.signup .card-signup .has-danger .input-group-text {
  background-color: transparent;
  color: #FF3636;
  border: 1px solid #FF3636 !important;
  border-right-style: none !important;
}

.signup .card-signup .has-danger:after {
  color: #FF3636;
}

.signup .card-signup .has-success .form-control::placeholder,
.signup .card-signup .has-success .form-control::-moz-placeholder,
.signup .card-signup .has-success .form-control:-moz-placeholder,
.signup .card-signup .has-success .form-control::-webkit-input-placeholder,
.signup .card-signup .has-success .form-control:-ms-input-placeholder {
  color: #18ce0f !important;
}

.signup .card-signup .has-success .form-control,
.signup .card-signup .has-success .form-control:focus {
  background-color: transparent;
  color: #18ce0f;
  border: 1px solid #18ce0f;
  border-left-style: none;
}

.signup .card-signup .has-success.input-group-focus .input-group-text,
.signup .card-signup .has-success .input-group-text {
  background-color: transparent;
  color: #18ce0f;
  border: 1px solid #18ce0f !important;
  border-right-style: none !important;
}

.signup .card-signup .has-success:after {
  color: #18ce0f;
}

.signup .card-signup .social {
  margin: 1.5em 0;
  height: 90px;
}

.signup .form-register mat-horizontal-stepper form {
  min-height: 345px;
  height: auto;
  position: relative;
  padding: 0;
}

.signup .card-signup form {
  min-height: 360px;
  height: auto;
  position: relative;
  padding-top: 1.5em;
}

.signup .card-signup form .form-footer {
  bottom: 15px;
}

.signup .card-signup mat-horizontal-stepper form .form-footer {
  bottom: 0;
}

.signup .card-signup form .form-footer {
  position: absolute;
  width: 100%;
}

.signup .card-signup form.form-with-cgu .form-footer {
  position: relative;
  width: 100%;
  bottom: initial;
}

.signup .card-signup form.form-with-cgu .form-check {
  margin-bottom: 2rem;
}


.contact-page .contact-content {
  padding-bottom: 40px;
  padding-top: 40px;
}

.contact-page .container {
  max-width: 970px;
}

.contact-page .big-map {
  height: 55vh;
  width: 100%;
  display: block;
  position: relative;
}

.contact-page .message {
  margin-top: 20px;
}

.contact-page .info {
  padding-bottom: 10px;
  padding-top: 0px;
}

.contact-page .info .title {
  margin: 25px 0 10px;
}

.blog-post .section-blog-info {
  padding-top: 30px;
  padding-bottom: 0px;
}

.blog-post .section-blog-info .btn {
  margin-top: 0;
  margin-bottom: 0;
}

.blog-post .section-blog-info .blog-tags {
  padding-top: 8px;
}

.blog-post .section-blog-info .card-profile {
  margin-top: 0;
  text-align: left;
}

.blog-post .section-blog-info .card-profile .description {
  font-size: 14px;
}

.blog-post .section-blog-info .card-profile .btn {
  margin-top: 25px;
}

.blog-post .section-comments .title {
  margin-bottom: 30px;
}

.blog-post .media p {
  color: #888888;
}

.about-us .page-header .container {
  color: #FFFFFF;
  text-align: center;
}

.about-us .page-header .title {
  color: #FFFFFF;
}

.about-us .about-description {
  padding: 70px 0px 0px 0px;
}

.about-us .about-services {
  padding-top: 10px;
}

.about-us .about-office .description {
  margin-bottom: 70px;
}

.about-us .about-office img {
  margin: 20px 0px;
}

.about-us .about-contact,
.about-us .about-office {
  padding: 80px 0px;
}

.about-us .about-contact .description,
.about-us .about-office .description {
  margin-bottom: 70px;
}

.home-page .team-2 [class*=col-md-]:nth-child(2) {
  margin-top: 0px;
}

.home-page h6.category {
  font-weight: normal;
}

@media screen and (min-width: 992px) {
  .home-page h5.description,
  .home-page h5.card-title {
    font-size: 1.2em;
  }

  .home-page p.card-description {
    font-size: 1em;
    font-weight: normal;
  }
}

@media screen and (max-width: 991px) {
  .home-page h5.description,
  .home-page h5.card-title {
    font-size: 1em;
  }

  .home-page p.card-description {
    font-size: 1em;
    font-weight: normal;
  }

  .home-page ngb-carousel .card .card-image img {
    max-width: 270px;
    height: auto;
  }

  .home-page .carousel .card {
    margin: 40px auto;
  }
}

.home-page .card .btn span {
  color: #fff;
}
