.footer {
  padding: 1.125rem 0;
  text-align: center;
}

.footer.footer-default {
  background-color: #f2f2f2;
}

.footer.footer-white {
  background-color: #FFFFFF;
}

.footer nav {
  display: inline-block;
  float: left;
}

.footer .content {
  text-align: left;
}

.footer .nav-link {
  display: inline;
}

.footer.footer-big {
  padding: 30px 0;
}

.footer.footer-big .social-feed i {
  font-size: 20px;
  float: left;
  padding-right: 10px;
  padding-bottom: 30px;
}

.footer.footer-big .gallery-feed img {
  width: 20%;
  margin-right: 5%;
  margin-bottom: 5%;
  float: left;
}

.footer .footer-brand {
  float: left;
  font-size: 0.875rem;
  line-height: 44px;
}

.footer ul {
  margin-bottom: 0;
  padding: 0;
  list-style: none;
}

.footer ul:not(.links-vertical) {
  line-height: 3.1;
}

.footer ul.links-vertical {
  line-height: 1.6;
}

.footer ul.links-vertical li {
  display: block;
  margin-left: -5px;
  margin-right: -5px;
  margin-bottom: 0px;
}

.footer ul.links-vertical li a {
  padding: 5px;
  display: inline-block;
  cursor: pointer;
}

.footer ul.links-vertical li a:hover {
  text-decoration: underline;
}

.footer ul li {
  display: inline-block;
  margin: 0 5px;
}

.footer ul li a {
  color: inherit;
  padding: 13px 0.5rem;
  font-size: 0.8571em;
  text-decoration: none;
  width: auto;
  display: inline-block;
}

.footer.footer-big p {
  font-size: 0.8571em;
  font-weight: normal;
  margin-bottom: 0;
  color: inherit;
  padding: 13px 0.5rem 0;
  text-decoration: none;
  width: auto;
}

.footer hr {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.footer ul li a:hover {
  text-decoration: none;
}

.footer .social-buttons a,
.footer .social-buttons .btn {
  margin: 0;
}

.footer .pull-center {
  display: inline-block;
  float: none;
}

.footer .pull-center a {
  margin-right: 8px;
  display: inline;
  cursor: pointer;
}

.footer .pull-center a:hover {
  text-decoration: underline;
}

.footer .pull-center a.pipe:hover {
  text-decoration: none;
}


.footer .pull-center p {
  font-size: 12px;
  color:#ffffff;
  font-weight: normal
}

.footer .copyright {
  font-size: 0.8571em;
  line-height: 3.5;
}

.footer:after {
  display: table;
  clear: both;
  content: " ";
}
