.media .avatar {
  margin: 0 auto;
  width: 64px;
  height: 64px;
  margin-right: 15px;
}

.media .avatar img {
  width: 100%;
  border-radius: 50%;
}

.media textarea {
  margin-bottom: 20px;
}

.media .media-heading small {
  font-family: "Montserrat", "Helvetica Neue", Arial, sans-serif;
}

.media .media-body {
  padding-right: 10px;
}

.media .media-body .media .media-body {
  padding-right: 0px;
}

.media.media-post .form-group,
.media.media-post .input-group {
  margin-top: 25px;
}

.media .media-footer .btn {
  margin-bottom: 20px;
}

.media .media-footer:after {
  display: table;
  content: " ";
  clear: both;
}

.media p {
  color: #888888;
  font-size: 1.104em;
  line-height: 1.61em;
}

.media-left,
.media > .pull-left {
  padding: 10px;
}
