body {
  color: #2c2c2c;
  font-size: 16px;
  font-family: "Montserrat", "Helvetica Neue", Arial, sans-serif;
  overflow-x: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

.main {
  position: relative;
  background: #FFFFFF;
}

.nav-pills .nav-link,
.nav-item .nav-link,
.navbar,
.nav-tabs .nav-link,
.tag,
.tag [data-role=remove] {
  -webkit-transition: all 300ms ease 0s;
  -moz-transition: all 300ms ease 0s;
  -o-transition: all 300ms ease 0s;
  -ms-transition: all 300ms ease 0s;
  transition: all 300ms ease 0s;
}

.card a,
.bootstrap-switch-label:before {
  -webkit-transition: all 150ms ease 0s;
  -moz-transition: all 150ms ease 0s;
  -o-transition: all 150ms ease 0s;
  -ms-transition: all 150ms ease 0s;
  transition: all 150ms ease 0s;
}

.dropdown-toggle[aria-expanded=true]:after {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.button-bar {
  display: block;
  position: relative;
  width: 22px;
  height: 1px;
  border-radius: 1px;
  background: #FFFFFF;
}

.button-bar + .button-bar {
  margin-top: 7px;
}

.button-bar:nth-child(2) {
  width: 17px;
}

.separator-line {
  height: 2px;
  width: 44px;
  background-color: #888888;
  margin: 20px auto;
}

.separator-line.separator-primary {
  background-color: #EB6836;
}

.section-space {
  height: 62px;
  display: block;
}

ngb-accordion .card {
  box-shadow: none;
  background: transparent;
}

ngb-accordion .card .card-header {
  padding: 0.75rem 0;
  position: relative;
}

ngb-accordion .card .card-header [aria-expanded=true] .arrows-1_minimal-down {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

ngb-accordion .card .card-header:after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: #E3E3E3;
}

ngb-accordion .card .card-header button {
  display: block;
  border-bottom: none !important;
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: left;
  font-size: 14px;
}

ngb-accordion .card .card-header button, ngb-accordion .card .card-header button:hover, ngb-accordion .card .card-header button:focus, ngb-accordion .card .card-header button:active {
  background: inherit !important;
  color: #444 !important;
}

ngb-accordion .card .card-header button:hover, ngb-accordion .card .card-header button:active {
  text-decoration: underline;
}

ngb-accordion .card .card-header button .arrows-1_minimal-down {
  float: right;
  position: relative;
  color: #EB6836;
  top: 1px;
  -webkit-transition: all 300ms ease 0s;
  -moz-transition: all 300ms ease 0s;
  -o-transition: all 300ms ease 0s;
  -ms-transition: all 300ms ease 0s;
  transition: all 300ms ease 0s;
}
