.modal-content {
  border-radius: 0.1875rem;
  border: none;
  box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.5);
}

.modal-content .modal-header {
  border-bottom: none;
  padding-top: 24px;
  padding-right: 24px;
  padding-bottom: 0;
  padding-left: 24px;
}

.modal-content .modal-header button {
  position: absolute;
  right: 27px;
  top: 30px;
  outline: 0;
}

.modal-content .modal-header .title {
  margin-top: 5px;
  margin-bottom: 0;
}

.modal-content .modal-body {
  padding-top: 24px;
  padding-right: 24px;
  padding-bottom: 16px;
  padding-left: 24px;
  line-height: 1.9;
}

.modal-content .modal-footer {
  border-top: none;
  padding-right: 24px;
  padding-bottom: 16px;
  padding-left: 24px;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}

.modal-content .modal-footer button {
  margin: 0;
  padding-left: 16px;
  padding-right: 16px;
  width: auto;
}

.modal-content .modal-footer button.pull-left {
  padding-left: 5px;
  padding-right: 5px;
  position: relative;
  left: -5px;
}

.modal-content .modal-body + .modal-footer {
  padding-top: 0;
}

.modal-backdrop {
  background: rgba(0, 0, 0, 0.3);
}

.modal.modal-login .modal-dialog {
  max-width: 320px;
}

.modal.modal-login .modal-dialog .card-login .logo-container {
  width: 65px;
  margin-bottom: 38px;
  margin-top: 27px;
}

.modal.modal-mini p {
  text-align: center;
}

.modal.modal-mini .modal-dialog {
  max-width: 255px;
  margin: 0 auto;
}

.modal.modal-mini .modal-profile {
  width: 70px;
  height: 70px;
  background-color: #FFFFFF;
  border-radius: 50%;
  text-align: center;
  line-height: 5.7;
  box-shadow: 0px 5px 50px 0px rgba(0, 0, 0, 0.3);
}

.modal.modal-mini .modal-profile i {
  color: #EB6836;
  font-size: 21px;
}

.modal.modal-mini .modal-profile[class*=modal-profile-] i {
  color: #FFFFFF;
}

.modal.modal-mini .modal-profile.modal-profile-primary {
  background-color: #EB6836;
}

.modal.modal-mini .modal-profile.modal-profile-danger {
  background-color: #FF3636;
}

.modal.modal-mini .modal-profile.modal-profile-warning {
  background-color: #FFB236;
}

.modal.modal-mini .modal-profile.modal-profile-success {
  background-color: #18ce0f;
}

.modal.modal-mini .modal-profile.modal-profile-info {
  background-color: #2CA8FF;
}

.modal.modal-mini .modal-footer button {
  text-transform: uppercase;
}

.modal.modal-mini .modal-footer button:first-child {
  opacity: 0.5;
}

.modal.modal-default .modal-content {
  background-color: #FFFFFF;
  color: #2c2c2c;
}

.modal.modal-default .modal-header .close {
  color: #2c2c2c;
}

.modal.modal-default .form-control::-moz-placeholder {
  color: #ebebeb;
  opacity: 1;
  filter: alpha(opacity=100);
}

.modal.modal-default .form-control:-moz-placeholder {
  color: #ebebeb;
  opacity: 1;
  filter: alpha(opacity=100);
}

.modal.modal-default .form-control::-webkit-input-placeholder {
  color: #ebebeb;
  opacity: 1;
  filter: alpha(opacity=100);
}

.modal.modal-default .form-control:-ms-input-placeholder {
  color: #ebebeb;
  opacity: 1;
  filter: alpha(opacity=100);
}

.modal.modal-default .form-control {
  border-color: rgba(255, 255, 255, 0.5);
  color: #FFFFFF;
}

.modal.modal-default .form-control:focus {
  border-color: #FFFFFF;
  background-color: transparent;
  color: #FFFFFF;
}

.modal.modal-default .has-success:after,
.modal.modal-default .has-danger:after {
  color: #FFFFFF;
}

.modal.modal-default .has-danger .form-control {
  background-color: transparent;
}

.modal.modal-default .input-group-text {
  background-color: transparent;
  border-color: rgba(255, 255, 255, 0.5);
  color: #FFFFFF;
}

.modal.modal-default .input-group-focus .input-group-text {
  background-color: transparent;
  border-color: #FFFFFF;
  color: #FFFFFF;
}

.modal.modal-default .form-group.form-group-no-border .form-control,
.modal.modal-default .input-group.form-group-no-border .form-control {
  background-color: rgba(255, 255, 255, 0.1);
  color: #FFFFFF;
}

.modal.modal-default .form-group.form-group-no-border .form-control:focus, .modal.modal-default .form-group.form-group-no-border .form-control:active, .modal.modal-default .form-group.form-group-no-border .form-control:active,
.modal.modal-default .input-group.form-group-no-border .form-control:focus,
.modal.modal-default .input-group.form-group-no-border .form-control:active,
.modal.modal-default .input-group.form-group-no-border .form-control:active {
  background-color: rgba(255, 255, 255, 0.2);
  color: #FFFFFF;
}

.modal.modal-default .form-group.form-group-no-border .form-control + .input-group-text,
.modal.modal-default .input-group.form-group-no-border .form-control + .input-group-text {
  background-color: rgba(255, 255, 255, 0.1);
}

.modal.modal-default .form-group.form-group-no-border .form-control + .input-group-text:focus, .modal.modal-default .form-group.form-group-no-border .form-control + .input-group-text:active, .modal.modal-default .form-group.form-group-no-border .form-control + .input-group-text:active,
.modal.modal-default .input-group.form-group-no-border .form-control + .input-group-text:focus,
.modal.modal-default .input-group.form-group-no-border .form-control + .input-group-text:active,
.modal.modal-default .input-group.form-group-no-border .form-control + .input-group-text:active {
  background-color: rgba(255, 255, 255, 0.2);
  color: #FFFFFF;
}

.modal.modal-default .form-group.form-group-no-border .form-control:focus + .input-group-text,
.modal.modal-default .input-group.form-group-no-border .form-control:focus + .input-group-text {
  background-color: rgba(255, 255, 255, 0.2);
  color: #FFFFFF;
}

.modal.modal-default .form-group.form-group-no-border .input-group-text,
.modal.modal-default .input-group.form-group-no-border .input-group-text {
  background-color: rgba(255, 255, 255, 0.1);
  border: none;
  color: #FFFFFF;
}

.modal.modal-default .form-group.form-group-no-border.input-group-focus .input-group-text,
.modal.modal-default .input-group.form-group-no-border.input-group-focus .input-group-text {
  background-color: rgba(255, 255, 255, 0.2);
  color: #FFFFFF;
}

.modal.modal-default .input-group-text,
.modal.modal-default .form-group.form-group-no-border .input-group-text,
.modal.modal-default .input-group.form-group-no-border .input-group-text {
  color: rgba(255, 255, 255, 0.8);
}

.modal.modal-primary .modal-content {
  background-color: #EB6836;
  color: #FFFFFF;
}

.modal.modal-primary .modal-header .close {
  color: #FFFFFF;
}

.modal.modal-primary .form-control::-moz-placeholder {
  color: #ebebeb;
  opacity: 1;
  filter: alpha(opacity=100);
}

.modal.modal-primary .form-control:-moz-placeholder {
  color: #ebebeb;
  opacity: 1;
  filter: alpha(opacity=100);
}

.modal.modal-primary .form-control::-webkit-input-placeholder {
  color: #ebebeb;
  opacity: 1;
  filter: alpha(opacity=100);
}

.modal.modal-primary .form-control:-ms-input-placeholder {
  color: #ebebeb;
  opacity: 1;
  filter: alpha(opacity=100);
}

.modal.modal-primary .form-control {
  border-color: rgba(255, 255, 255, 0.5);
  color: #FFFFFF;
}

.modal.modal-primary .form-control:focus {
  border-color: #FFFFFF;
  background-color: transparent;
  color: #FFFFFF;
}

.modal.modal-primary .has-success:after,
.modal.modal-primary .has-danger:after {
  color: #FFFFFF;
}

.modal.modal-primary .has-danger .form-control {
  background-color: transparent;
}

.modal.modal-primary .input-group-text {
  background-color: transparent;
  border-color: rgba(255, 255, 255, 0.5);
  color: #FFFFFF;
}

.modal.modal-primary .input-group-focus .input-group-text {
  background-color: transparent;
  border-color: #FFFFFF;
  color: #FFFFFF;
}

.modal.modal-primary .form-group.form-group-no-border .form-control,
.modal.modal-primary .input-group.form-group-no-border .form-control {
  background-color: rgba(255, 255, 255, 0.1);
  color: #FFFFFF;
}

.modal.modal-primary .form-group.form-group-no-border .form-control:focus, .modal.modal-primary .form-group.form-group-no-border .form-control:active, .modal.modal-primary .form-group.form-group-no-border .form-control:active,
.modal.modal-primary .input-group.form-group-no-border .form-control:focus,
.modal.modal-primary .input-group.form-group-no-border .form-control:active,
.modal.modal-primary .input-group.form-group-no-border .form-control:active {
  background-color: rgba(255, 255, 255, 0.2);
  color: #FFFFFF;
}

.modal.modal-primary .form-group.form-group-no-border .form-control + .input-group-text,
.modal.modal-primary .input-group.form-group-no-border .form-control + .input-group-text {
  background-color: rgba(255, 255, 255, 0.1);
}

.modal.modal-primary .form-group.form-group-no-border .form-control + .input-group-text:focus, .modal.modal-primary .form-group.form-group-no-border .form-control + .input-group-text:active, .modal.modal-primary .form-group.form-group-no-border .form-control + .input-group-text:active,
.modal.modal-primary .input-group.form-group-no-border .form-control + .input-group-text:focus,
.modal.modal-primary .input-group.form-group-no-border .form-control + .input-group-text:active,
.modal.modal-primary .input-group.form-group-no-border .form-control + .input-group-text:active {
  background-color: rgba(255, 255, 255, 0.2);
  color: #FFFFFF;
}

.modal.modal-primary .form-group.form-group-no-border .form-control:focus + .input-group-text,
.modal.modal-primary .input-group.form-group-no-border .form-control:focus + .input-group-text {
  background-color: rgba(255, 255, 255, 0.2);
  color: #FFFFFF;
}

.modal.modal-primary .form-group.form-group-no-border .input-group-text,
.modal.modal-primary .input-group.form-group-no-border .input-group-text {
  background-color: rgba(255, 255, 255, 0.1);
  border: none;
  color: #FFFFFF;
}

.modal.modal-primary .form-group.form-group-no-border.input-group-focus .input-group-text,
.modal.modal-primary .input-group.form-group-no-border.input-group-focus .input-group-text {
  background-color: rgba(255, 255, 255, 0.2);
  color: #FFFFFF;
}

.modal.modal-primary .input-group-text,
.modal.modal-primary .form-group.form-group-no-border .input-group-text,
.modal.modal-primary .input-group.form-group-no-border .input-group-text {
  color: rgba(255, 255, 255, 0.8);
}

.modal.modal-danger .modal-content {
  background-color: #FF3636;
  color: #FFFFFF;
}

.modal.modal-danger .modal-header .close {
  color: #FFFFFF;
}

.modal.modal-danger .form-control::-moz-placeholder {
  color: #ebebeb;
  opacity: 1;
  filter: alpha(opacity=100);
}

.modal.modal-danger .form-control:-moz-placeholder {
  color: #ebebeb;
  opacity: 1;
  filter: alpha(opacity=100);
}

.modal.modal-danger .form-control::-webkit-input-placeholder {
  color: #ebebeb;
  opacity: 1;
  filter: alpha(opacity=100);
}

.modal.modal-danger .form-control:-ms-input-placeholder {
  color: #ebebeb;
  opacity: 1;
  filter: alpha(opacity=100);
}

.modal.modal-danger .form-control {
  border-color: rgba(255, 255, 255, 0.5);
  color: #FFFFFF;
}

.modal.modal-danger .form-control:focus {
  border-color: #FFFFFF;
  background-color: transparent;
  color: #FFFFFF;
}

.modal.modal-danger .has-success:after,
.modal.modal-danger .has-danger:after {
  color: #FFFFFF;
}

.modal.modal-danger .has-danger .form-control {
  background-color: transparent;
}

.modal.modal-danger .input-group-text {
  background-color: transparent;
  border-color: rgba(255, 255, 255, 0.5);
  color: #FFFFFF;
}

.modal.modal-danger .input-group-focus .input-group-text {
  background-color: transparent;
  border-color: #FFFFFF;
  color: #FFFFFF;
}

.modal.modal-danger .form-group.form-group-no-border .form-control,
.modal.modal-danger .input-group.form-group-no-border .form-control {
  background-color: rgba(255, 255, 255, 0.1);
  color: #FFFFFF;
}

.modal.modal-danger .form-group.form-group-no-border .form-control:focus, .modal.modal-danger .form-group.form-group-no-border .form-control:active, .modal.modal-danger .form-group.form-group-no-border .form-control:active,
.modal.modal-danger .input-group.form-group-no-border .form-control:focus,
.modal.modal-danger .input-group.form-group-no-border .form-control:active,
.modal.modal-danger .input-group.form-group-no-border .form-control:active {
  background-color: rgba(255, 255, 255, 0.2);
  color: #FFFFFF;
}

.modal.modal-danger .form-group.form-group-no-border .form-control + .input-group-text,
.modal.modal-danger .input-group.form-group-no-border .form-control + .input-group-text {
  background-color: rgba(255, 255, 255, 0.1);
}

.modal.modal-danger .form-group.form-group-no-border .form-control + .input-group-text:focus, .modal.modal-danger .form-group.form-group-no-border .form-control + .input-group-text:active, .modal.modal-danger .form-group.form-group-no-border .form-control + .input-group-text:active,
.modal.modal-danger .input-group.form-group-no-border .form-control + .input-group-text:focus,
.modal.modal-danger .input-group.form-group-no-border .form-control + .input-group-text:active,
.modal.modal-danger .input-group.form-group-no-border .form-control + .input-group-text:active {
  background-color: rgba(255, 255, 255, 0.2);
  color: #FFFFFF;
}

.modal.modal-danger .form-group.form-group-no-border .form-control:focus + .input-group-text,
.modal.modal-danger .input-group.form-group-no-border .form-control:focus + .input-group-text {
  background-color: rgba(255, 255, 255, 0.2);
  color: #FFFFFF;
}

.modal.modal-danger .form-group.form-group-no-border .input-group-text,
.modal.modal-danger .input-group.form-group-no-border .input-group-text {
  background-color: rgba(255, 255, 255, 0.1);
  border: none;
  color: #FFFFFF;
}

.modal.modal-danger .form-group.form-group-no-border.input-group-focus .input-group-text,
.modal.modal-danger .input-group.form-group-no-border.input-group-focus .input-group-text {
  background-color: rgba(255, 255, 255, 0.2);
  color: #FFFFFF;
}

.modal.modal-danger .input-group-text,
.modal.modal-danger .form-group.form-group-no-border .input-group-text,
.modal.modal-danger .input-group.form-group-no-border .input-group-text {
  color: rgba(255, 255, 255, 0.8);
}

.modal.modal-warning .modal-content {
  background-color: #FFB236;
  color: #FFFFFF;
}

.modal.modal-warning .modal-header .close {
  color: #FFFFFF;
}

.modal.modal-warning .form-control::-moz-placeholder {
  color: #ebebeb;
  opacity: 1;
  filter: alpha(opacity=100);
}

.modal.modal-warning .form-control:-moz-placeholder {
  color: #ebebeb;
  opacity: 1;
  filter: alpha(opacity=100);
}

.modal.modal-warning .form-control::-webkit-input-placeholder {
  color: #ebebeb;
  opacity: 1;
  filter: alpha(opacity=100);
}

.modal.modal-warning .form-control:-ms-input-placeholder {
  color: #ebebeb;
  opacity: 1;
  filter: alpha(opacity=100);
}

.modal.modal-warning .form-control {
  border-color: rgba(255, 255, 255, 0.5);
  color: #FFFFFF;
}

.modal.modal-warning .form-control:focus {
  border-color: #FFFFFF;
  background-color: transparent;
  color: #FFFFFF;
}

.modal.modal-warning .has-success:after,
.modal.modal-warning .has-danger:after {
  color: #FFFFFF;
}

.modal.modal-warning .has-danger .form-control {
  background-color: transparent;
}

.modal.modal-warning .input-group-text {
  background-color: transparent;
  border-color: rgba(255, 255, 255, 0.5);
  color: #FFFFFF;
}

.modal.modal-warning .input-group-focus .input-group-text {
  background-color: transparent;
  border-color: #FFFFFF;
  color: #FFFFFF;
}

.modal.modal-warning .form-group.form-group-no-border .form-control,
.modal.modal-warning .input-group.form-group-no-border .form-control {
  background-color: rgba(255, 255, 255, 0.1);
  color: #FFFFFF;
}

.modal.modal-warning .form-group.form-group-no-border .form-control:focus, .modal.modal-warning .form-group.form-group-no-border .form-control:active, .modal.modal-warning .form-group.form-group-no-border .form-control:active,
.modal.modal-warning .input-group.form-group-no-border .form-control:focus,
.modal.modal-warning .input-group.form-group-no-border .form-control:active,
.modal.modal-warning .input-group.form-group-no-border .form-control:active {
  background-color: rgba(255, 255, 255, 0.2);
  color: #FFFFFF;
}

.modal.modal-warning .form-group.form-group-no-border .form-control + .input-group-text,
.modal.modal-warning .input-group.form-group-no-border .form-control + .input-group-text {
  background-color: rgba(255, 255, 255, 0.1);
}

.modal.modal-warning .form-group.form-group-no-border .form-control + .input-group-text:focus, .modal.modal-warning .form-group.form-group-no-border .form-control + .input-group-text:active, .modal.modal-warning .form-group.form-group-no-border .form-control + .input-group-text:active,
.modal.modal-warning .input-group.form-group-no-border .form-control + .input-group-text:focus,
.modal.modal-warning .input-group.form-group-no-border .form-control + .input-group-text:active,
.modal.modal-warning .input-group.form-group-no-border .form-control + .input-group-text:active {
  background-color: rgba(255, 255, 255, 0.2);
  color: #FFFFFF;
}

.modal.modal-warning .form-group.form-group-no-border .form-control:focus + .input-group-text,
.modal.modal-warning .input-group.form-group-no-border .form-control:focus + .input-group-text {
  background-color: rgba(255, 255, 255, 0.2);
  color: #FFFFFF;
}

.modal.modal-warning .form-group.form-group-no-border .input-group-text,
.modal.modal-warning .input-group.form-group-no-border .input-group-text {
  background-color: rgba(255, 255, 255, 0.1);
  border: none;
  color: #FFFFFF;
}

.modal.modal-warning .form-group.form-group-no-border.input-group-focus .input-group-text,
.modal.modal-warning .input-group.form-group-no-border.input-group-focus .input-group-text {
  background-color: rgba(255, 255, 255, 0.2);
  color: #FFFFFF;
}

.modal.modal-warning .input-group-text,
.modal.modal-warning .form-group.form-group-no-border .input-group-text,
.modal.modal-warning .input-group.form-group-no-border .input-group-text {
  color: rgba(255, 255, 255, 0.8);
}

.modal.modal-success .modal-content {
  background-color: #18ce0f;
  color: #FFFFFF;
}

.modal.modal-success .modal-header .close {
  color: #FFFFFF;
}

.modal.modal-success .form-control::-moz-placeholder {
  color: #ebebeb;
  opacity: 1;
  filter: alpha(opacity=100);
}

.modal.modal-success .form-control:-moz-placeholder {
  color: #ebebeb;
  opacity: 1;
  filter: alpha(opacity=100);
}

.modal.modal-success .form-control::-webkit-input-placeholder {
  color: #ebebeb;
  opacity: 1;
  filter: alpha(opacity=100);
}

.modal.modal-success .form-control:-ms-input-placeholder {
  color: #ebebeb;
  opacity: 1;
  filter: alpha(opacity=100);
}

.modal.modal-success .form-control {
  border-color: rgba(255, 255, 255, 0.5);
  color: #FFFFFF;
}

.modal.modal-success .form-control:focus {
  border-color: #FFFFFF;
  background-color: transparent;
  color: #FFFFFF;
}

.modal.modal-success .has-success:after,
.modal.modal-success .has-danger:after {
  color: #FFFFFF;
}

.modal.modal-success .has-danger .form-control {
  background-color: transparent;
}

.modal.modal-success .input-group-text {
  background-color: transparent;
  border-color: rgba(255, 255, 255, 0.5);
  color: #FFFFFF;
}

.modal.modal-success .input-group-focus .input-group-text {
  background-color: transparent;
  border-color: #FFFFFF;
  color: #FFFFFF;
}

.modal.modal-success .form-group.form-group-no-border .form-control,
.modal.modal-success .input-group.form-group-no-border .form-control {
  background-color: rgba(255, 255, 255, 0.1);
  color: #FFFFFF;
}

.modal.modal-success .form-group.form-group-no-border .form-control:focus, .modal.modal-success .form-group.form-group-no-border .form-control:active, .modal.modal-success .form-group.form-group-no-border .form-control:active,
.modal.modal-success .input-group.form-group-no-border .form-control:focus,
.modal.modal-success .input-group.form-group-no-border .form-control:active,
.modal.modal-success .input-group.form-group-no-border .form-control:active {
  background-color: rgba(255, 255, 255, 0.2);
  color: #FFFFFF;
}

.modal.modal-success .form-group.form-group-no-border .form-control + .input-group-text,
.modal.modal-success .input-group.form-group-no-border .form-control + .input-group-text {
  background-color: rgba(255, 255, 255, 0.1);
}

.modal.modal-success .form-group.form-group-no-border .form-control + .input-group-text:focus, .modal.modal-success .form-group.form-group-no-border .form-control + .input-group-text:active, .modal.modal-success .form-group.form-group-no-border .form-control + .input-group-text:active,
.modal.modal-success .input-group.form-group-no-border .form-control + .input-group-text:focus,
.modal.modal-success .input-group.form-group-no-border .form-control + .input-group-text:active,
.modal.modal-success .input-group.form-group-no-border .form-control + .input-group-text:active {
  background-color: rgba(255, 255, 255, 0.2);
  color: #FFFFFF;
}

.modal.modal-success .form-group.form-group-no-border .form-control:focus + .input-group-text,
.modal.modal-success .input-group.form-group-no-border .form-control:focus + .input-group-text {
  background-color: rgba(255, 255, 255, 0.2);
  color: #FFFFFF;
}

.modal.modal-success .form-group.form-group-no-border .input-group-text,
.modal.modal-success .input-group.form-group-no-border .input-group-text {
  background-color: rgba(255, 255, 255, 0.1);
  border: none;
  color: #FFFFFF;
}

.modal.modal-success .form-group.form-group-no-border.input-group-focus .input-group-text,
.modal.modal-success .input-group.form-group-no-border.input-group-focus .input-group-text {
  background-color: rgba(255, 255, 255, 0.2);
  color: #FFFFFF;
}

.modal.modal-success .input-group-text,
.modal.modal-success .form-group.form-group-no-border .input-group-text,
.modal.modal-success .input-group.form-group-no-border .input-group-text {
  color: rgba(255, 255, 255, 0.8);
}

.modal.modal-info .modal-content {
  background-color: #2CA8FF;
  color: #FFFFFF;
}

.modal.modal-info .modal-header .close {
  color: #FFFFFF;
}

.modal.modal-info .form-control::-moz-placeholder {
  color: #ebebeb;
  opacity: 1;
  filter: alpha(opacity=100);
}

.modal.modal-info .form-control:-moz-placeholder {
  color: #ebebeb;
  opacity: 1;
  filter: alpha(opacity=100);
}

.modal.modal-info .form-control::-webkit-input-placeholder {
  color: #ebebeb;
  opacity: 1;
  filter: alpha(opacity=100);
}

.modal.modal-info .form-control:-ms-input-placeholder {
  color: #ebebeb;
  opacity: 1;
  filter: alpha(opacity=100);
}

.modal.modal-info .form-control {
  border-color: rgba(255, 255, 255, 0.5);
  color: #FFFFFF;
}

.modal.modal-info .form-control:focus {
  border-color: #FFFFFF;
  background-color: transparent;
  color: #FFFFFF;
}

.modal.modal-info .has-success:after,
.modal.modal-info .has-danger:after {
  color: #FFFFFF;
}

.modal.modal-info .has-danger .form-control {
  background-color: transparent;
}

.modal.modal-info .input-group-text {
  background-color: transparent;
  border-color: rgba(255, 255, 255, 0.5);
  color: #FFFFFF;
}

.modal.modal-info .input-group-focus .input-group-text {
  background-color: transparent;
  border-color: #FFFFFF;
  color: #FFFFFF;
}

.modal.modal-info .form-group.form-group-no-border .form-control,
.modal.modal-info .input-group.form-group-no-border .form-control {
  background-color: rgba(255, 255, 255, 0.1);
  color: #FFFFFF;
}

.modal.modal-info .form-group.form-group-no-border .form-control:focus, .modal.modal-info .form-group.form-group-no-border .form-control:active, .modal.modal-info .form-group.form-group-no-border .form-control:active,
.modal.modal-info .input-group.form-group-no-border .form-control:focus,
.modal.modal-info .input-group.form-group-no-border .form-control:active,
.modal.modal-info .input-group.form-group-no-border .form-control:active {
  background-color: rgba(255, 255, 255, 0.2);
  color: #FFFFFF;
}

.modal.modal-info .form-group.form-group-no-border .form-control + .input-group-text,
.modal.modal-info .input-group.form-group-no-border .form-control + .input-group-text {
  background-color: rgba(255, 255, 255, 0.1);
}

.modal.modal-info .form-group.form-group-no-border .form-control + .input-group-text:focus, .modal.modal-info .form-group.form-group-no-border .form-control + .input-group-text:active, .modal.modal-info .form-group.form-group-no-border .form-control + .input-group-text:active,
.modal.modal-info .input-group.form-group-no-border .form-control + .input-group-text:focus,
.modal.modal-info .input-group.form-group-no-border .form-control + .input-group-text:active,
.modal.modal-info .input-group.form-group-no-border .form-control + .input-group-text:active {
  background-color: rgba(255, 255, 255, 0.2);
  color: #FFFFFF;
}

.modal.modal-info .form-group.form-group-no-border .form-control:focus + .input-group-text,
.modal.modal-info .input-group.form-group-no-border .form-control:focus + .input-group-text {
  background-color: rgba(255, 255, 255, 0.2);
  color: #FFFFFF;
}

.modal.modal-info .form-group.form-group-no-border .input-group-text,
.modal.modal-info .input-group.form-group-no-border .input-group-text {
  background-color: rgba(255, 255, 255, 0.1);
  border: none;
  color: #FFFFFF;
}

.modal.modal-info .form-group.form-group-no-border.input-group-focus .input-group-text,
.modal.modal-info .input-group.form-group-no-border.input-group-focus .input-group-text {
  background-color: rgba(255, 255, 255, 0.2);
  color: #FFFFFF;
}

.modal.modal-info .input-group-text,
.modal.modal-info .form-group.form-group-no-border .input-group-text,
.modal.modal-info .input-group.form-group-no-border .input-group-text {
  color: rgba(255, 255, 255, 0.8);
}

.modal.show.modal-mini .modal-dialog {
  -webkit-transform: translate(0, 30%);
  -o-transform: translate(0, 30%);
  transform: translate(0, 30%);
}

.modal .modal-header .close {
  color: #FF3636;
  text-shadow: none;
}

.modal .modal-header .close:hover, .modal .modal-header .close:focus {
  opacity: 1;
}
