.navbar {
  padding: 0.5rem 1rem;
  height: 65px;
  min-height: 65px;
  color: #fff;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
}

.navbar-transparent {
  -webkit-transition: background-color 400ms linear;
  -ms-transition: background-color 400ms linear;
  transition: background-color 400ms linear;
}

.navbar a {
  vertical-align: middle;
}

.navbar a:not(.btn):not(.dropdown-item) {
  color: #FFFFFF;
}

.navbar p {
  display: inline-block;
  margin: 0;
  line-height: 1.8em;
  font-size: 1em;
  font-weight: 400;
}

.navbar.navbar-absolute {
  position: absolute;
  width: 100%;
  z-index: 1029;
}

.navbar .navbar-nav.navbar-logo {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 49px;
  top: -4px;
}

.navbar .navbar-nav .nav-link.btn {
  padding: 11px 22px;
}

.navbar .navbar-nav .nav-link.btn.btn-lg {
  padding: 15px 48px;
}

.navbar .navbar-nav .nav-link.btn.btn-sm {
  padding: 5px 15px;
}

.navbar .navbar-nav .nav-link:not(.btn) {
  text-transform: uppercase;
  font-size: 0.7142em;
  padding: 0.5rem 0.7rem;
  line-height: 1.625rem;
  cursor: pointer;
}

.navbar .navbar-nav .nav-link:not(.btn) i.fa + p,
.navbar .navbar-nav .nav-link:not(.btn) i.fas + p,
.navbar .navbar-nav .nav-link:not(.btn) i.fab + p,
.navbar .navbar-nav .nav-link:not(.btn) i.far + p,
.navbar .navbar-nav .nav-link:not(.btn) i.now-ui-icons + p {
  margin-left: 3px;
}

.navbar .navbar-nav .nav-link:not(.btn) i.fa,
.navbar .navbar-nav .nav-link:not(.btn) i.fas,
.navbar .navbar-nav .nav-link:not(.btn) i.fab,
.navbar .navbar-nav .nav-link:not(.btn) i.far,
.navbar .navbar-nav .nav-link:not(.btn) i.now-ui-icons {
  font-size: 16px;
  position: relative;
  top: 3px;
  text-align: center;
  width: 21px;
}

.navbar .navbar-nav .nav-link:not(.btn) i.now-ui-icons {
  top: 4px;
  font-size: 16px;
}

.navbar .navbar-nav .nav-link:not(.btn).profile-photo .profile-photo-small {
  width: 27px;
  height: 27px;
}

.navbar .navbar-nav .nav-link:not(.btn).disabled {
  opacity: 0.5;
  color: #FFFFFF;
}

.navbar .navbar-nav .nav-item .nav-link {
  vertical-align: middle;
  height: 40px;
  margin-bottom: 0;
}

.navbar .navbar-nav .nav-item .form-group {
  vertical-align: middle;
  height: 40px;
  margin-bottom: 0;
  padding-top: 0;
}

.navbar .navbar-nav .nav-item.active .nav-link:not(.btn),
.navbar .navbar-nav .nav-item .nav-link:not(.btn):focus,
.navbar .navbar-nav .nav-item .nav-link:not(.btn):hover,
.navbar .navbar-nav .nav-item .nav-link:not(.btn):active {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 0.1875rem;
}

.nav-item > .nav-link-collapse,
.nav-item > .nav-link-collapse.show {
  width: 80%;
  background: #F5F5F5;
  margin: 0 auto 0 auto;
  position: relative;
  line-height: 1.625rem;
  padding: 0.5em 0 0.5em 0;
}

.nav-item > .nav-link-collapse > .nav-link,
.nav-item > .nav-link-collapse.show > .nav-link {
  width: 100%;
  display: block;
  margin: 0.6em auto 0.6em auto;
  position: relative;
  height: 40px;
  vertical-align: middle;
  text-transform: uppercase;
  font-size: 0.7142em;
  padding: 0.5rem 0.7rem;
  line-height: 1.625rem;
  cursor: pointer;
}

.nav-item > .nav-link-collapse > .nav-link:hover,
.nav-item > .nav-link-collapse.show > .nav-link:hover {
  color: white !important;
  background: #EB6836 !important;
}

.nav-mobile > .nav-item > .nav-link > p {
  width: 40%;
}

.navbar .navbar-nav .nav-link.collapsed:not(.btn) i.fas.fa-sort-down:before {
  content: "\f0dd" !important;
}

.navbar .navbar-nav .nav-link:not(.btn) i.fas.fa-sort-down:before {
  content: "\f0de" !important;
}

.navbar .navbar-nav .nav-link:not(.btn) i.fas.fa-sort-down {
  vertical-align: middle;
  font-size: 14px;
  display: inline-block;
  text-align: right;
  margin-left: 11px;
  float: right;
  top: 8px;
}

.navbar .navbar-nav .nav-link.collapsed:not(.btn) i.fas.fa-sort-down {
  vertical-align: middle;
  font-size: 14px;
  display: inline-block;
  text-align: right;
  margin-left: 11px;
  top: 3px;
}

.nav-item > .nav-link-collapse > .nav-link:hover > i,
.nav-item > .nav-link-collapse.show > .nav-link:hover > i {
  color: white !important;
}

.nav-item > .nav-link-collapse > .nav-link > i,
.nav-item > .nav-link-collapse.show > .nav-link > i {
  margin-right: 0.5em;
}

.navbar .logo-container {
  width: 27px;
  height: 27px;
  overflow: hidden;
  margin: 0 auto;
  border-radius: 50%;
  border: 1px solid transparent;
}

.navbar .navbar-brand {
  text-transform: uppercase;
  font-size: 0.8571em;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  line-height: 1.625rem;
  cursor: pointer;
}

.navbar .navbar-brand img {
  height: auto;
  width: 60px;
}

.navbar .navbar-toggler {
  width: 37px;
  height: 27px;
  vertical-align: middle;
  outline: 0;
  cursor: pointer;
}

.navbar .navbar-toggler.navbar-toggler-left {
  position: relative;
  left: 0;
  top: 0;
  padding-left: 0;
}

.navbar .navbar-toggler.navbar-toggler-right {
  padding-right: 0;
  top: 8px;
}

.navbar .navbar-toggler:hover .navbar-toggler-bar.bar2 {
  width: 22px;
}

.navbar .button-dropdown .navbar-toggler-bar:nth-child(2) {
  width: 17px;
}

.navbar.navbar-transparent {
  background-color: rgba(0, 0, 0, 0.3);
  box-shadow: none;
  color: #ffffff;
}

.nav-footer {
  bottom: 0;
  position: absolute;
  width: 100%;
  padding: 1em 0em;
}

.nav-footer > hr {
  width: 80%;
}

.navbar.bg-white:not(.navbar-transparent) a:not(.dropdown-item):not(.btn) {
  color: #888888;
}

.navbar.bg-white:not(.navbar-transparent) a:not(.dropdown-item):not(.btn).disabled {
  opacity: 0.5;
  color: #888888;
}

.navbar.bg-white:not(.navbar-transparent) .button-bar {
  background: #888888;
}

.navbar.bg-white:not(.navbar-transparent) .nav-item.active .nav-link:not(.btn),
.navbar.bg-white:not(.navbar-transparent) .nav-item .nav-link:not(.btn):focus,
.navbar.bg-white:not(.navbar-transparent) .nav-item .nav-link:not(.btn):hover {
  color: white !important;
  background: #EB6836 !important;
}

.navbar.bg-white:not(.navbar-transparent) .logo-container {
  border: 1px solid #888888;
}

.bg-default {
  background-color: #888888 !important;
}

.bg-primary {
  background-color: #EB6836 !important;
}

.bg-info {
  background-color: #2CA8FF !important;
}

.bg-success {
  background-color: #18ce0f !important;
}

.bg-danger {
  background-color: #FF3636 !important;
}

.bg-warning {
  background-color: #FFB236 !important;
}

.bg-white {
  background-color: #FFFFFF !important;
}
