.pagination .page-item .page-link {
  border: 0;
  border-radius: 30px !important;
  transition: all 0.3s;
  padding: 0px 11px;
  margin: 0 3px;
  min-width: 30px;
  text-align: center;
  height: 30px;
  line-height: 30px;
  color: #2c2c2c;
  cursor: pointer;
  font-size: 14px;
  text-transform: uppercase;
  background: transparent;
}

.pagination .page-item .page-link:hover, .pagination .page-item .page-link:focus {
  color: #2c2c2c;
  background-color: rgba(222, 222, 222, 0.3);
  border: none;
}

.pagination .page-item.active > .page-link {
  color: #E3E3E3;
  box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.2);
}

.pagination .page-item.active > .page-link, .pagination .page-item.active > .page-link:focus, .pagination .page-item.active > .page-link:hover {
  background-color: #888888;
  border-color: #888888;
  color: #FFFFFF;
}

.pagination .page-item.disabled > .page-link {
  opacity: 0.5;
  background-color: rgba(255, 255, 255, 0.2);
}

.pagination-container {
  display: flex;
  align-items: center;
}

.pagination-container .pagination .page-item a[aria-label=Previous] {
  position: absolute;
  left: 0;
}

.pagination-container .pagination .page-item a[aria-label=Next] {
  position: absolute;
  right: 0;
}

ngb-pagination.pagination-info .page-item.active > .page-link, ngb-pagination.pagination-info .page-item.active > .page-link:focus, ngb-pagination.pagination-info .page-item.active > .page-link:hover {
  background-color: #2CA8FF;
  border-color: #2CA8FF;
}

ngb-pagination.pagination-success .page-item.active > .page-link, ngb-pagination.pagination-success .page-item.active > .page-link:focus, ngb-pagination.pagination-success .page-item.active > .page-link:hover {
  background-color: #18ce0f;
  border-color: #18ce0f;
}

ngb-pagination.pagination-primary .page-item.active > .page-link, ngb-pagination.pagination-primary .page-item.active > .page-link:focus, ngb-pagination.pagination-primary .page-item.active > .page-link:hover {
  background-color: #EB6836;
  border-color: #EB6836;
}

ngb-pagination.pagination-warning .page-item.active > .page-link, ngb-pagination.pagination-warning .page-item.active > .page-link:focus, ngb-pagination.pagination-warning .page-item.active > .page-link:hover {
  background-color: #FFB236;
  border-color: #FFB236;
}

ngb-pagination.pagination-danger .page-item.active > .page-link, ngb-pagination.pagination-danger .page-item.active > .page-link:focus, ngb-pagination.pagination-danger .page-item.active > .page-link:hover {
  background-color: #FF3636;
  border-color: #FF3636;
}

ngb-pagination.pagination-neutral .page-item > .page-link {
  color: #FFFFFF;
}

ngb-pagination.pagination-neutral .page-item > .page-link:focus, ngb-pagination.pagination-neutral .page-item > .page-link:hover {
  background-color: rgba(255, 255, 255, 0.2);
  color: #FFFFFF;
}

ngb-pagination.pagination-neutral .page-item.active > .page-link, ngb-pagination.pagination-neutral .page-item.active > .page-link:focus, ngb-pagination.pagination-neutral .page-item.active > .page-link:hover {
  background-color: #FFFFFF;
  border-color: #FFFFFF;
  color: #EB6836;
}
