.nav-pills-icons .nav-pills .nav-item .nav-link {
  border-radius: 0.25em !important;
}

.nav-pills.flex-column li > a {
  margin-bottom: 15px;
}

.nav-pills:not(.nav-pills-just-icons) .nav-item .nav-link {
  border-radius: 30px;
}

.nav-pills.nav-pills-just-icons .nav-item .nav-link {
  border-radius: 50%;
  height: 80px;
  width: 80px;
  padding: 0;
  max-width: 80px;
  min-width: auto;
}

.nav-pills.nav-pills-just-icons .nav-item .nav-link i.now-ui-icons {
  line-height: 80px;
  font-size: 24px;
}

.nav-pills:not(.flex-column) .nav-item .nav-link {
  margin-right: 19px;
}

.nav-pills .nav-item .nav-link {
  padding: 0 15.5px;
  text-align: center;
  padding: 11px 23px;
  min-width: 100px;
  font-weight: 400;
  color: #444;
  background-color: rgba(222, 222, 222, 0.3);
}

.nav-pills .nav-item .nav-link:hover {
  background-color: rgba(222, 222, 222, 0.3);
}

.nav-pills .nav-item .nav-link.active, .nav-pills .nav-item .nav-link.active:focus, .nav-pills .nav-item .nav-link.active:hover {
  background-color: #9A9A9A;
  color: #FFFFFF;
  box-shadow: 0px 5px 35px 0px rgba(0, 0, 0, 0.3);
}

.nav-pills .nav-item .nav-link.disabled, .nav-pills .nav-item .nav-link:disabled, .nav-pills .nav-item .nav-link[disabled] {
  opacity: 0.5;
}

.nav-pills .nav-item i {
  display: block;
  font-size: 20px;
  line-height: 60px;
}

.nav-pills.nav-pills-neutral .nav-item .nav-link {
  background-color: rgba(255, 255, 255, 0.2);
  color: #FFFFFF;
}

.nav-pills.nav-pills-neutral .nav-item .nav-link.active, .nav-pills.nav-pills-neutral .nav-item .nav-link.active:focus, .nav-pills.nav-pills-neutral .nav-item .nav-link.active:hover {
  background-color: #FFFFFF;
  color: #EB6836;
}

.nav-pills.nav-pills-primary .nav-item .nav-link.active, .nav-pills.nav-pills-primary .nav-item .nav-link.active:focus, .nav-pills.nav-pills-primary .nav-item .nav-link.active:hover {
  background-color: #EB6836;
}

.nav-pills.nav-pills-info .nav-item .nav-link.active, .nav-pills.nav-pills-info .nav-item .nav-link.active:focus, .nav-pills.nav-pills-info .nav-item .nav-link.active:hover {
  background-color: #2CA8FF;
}

.nav-pills.nav-pills-success .nav-item .nav-link.active, .nav-pills.nav-pills-success .nav-item .nav-link.active:focus, .nav-pills.nav-pills-success .nav-item .nav-link.active:hover {
  background-color: #18ce0f;
}

.nav-pills.nav-pills-warning .nav-item .nav-link.active, .nav-pills.nav-pills-warning .nav-item .nav-link.active:focus, .nav-pills.nav-pills-warning .nav-item .nav-link.active:hover {
  background-color: #FFB236;
}

.nav-pills.nav-pills-danger .nav-item .nav-link.active, .nav-pills.nav-pills-danger .nav-item .nav-link.active:focus, .nav-pills.nav-pills-danger .nav-item .nav-link.active:hover {
  background-color: #FF3636;
}

.nav-align-center {
  text-align: center;
}

.nav-align-center .nav-pills {
  display: inline-flex;
}

.tab-space .tab-content {
  padding: 20px 0 50px 0px;
}

.nav-pills-wrapper .vertical-pills.nav-pills {
  border-bottom: none !important;
}

.nav-pills-wrapper .vertical-pills.nav-pills:not(.nav-pills-icons):not(.nav-pills-just-icons) .flex-column {
  width: 33%;
}

.nav-pills-wrapper .vertical-pills.nav-pills:not(.nav-pills-icons):not(.nav-pills-just-icons) .flex-column .nav-link.active:before {
  border-right: 11px solid #F1EAE0;
  border-top: 11px solid transparent;
  border-bottom: 11px solid transparent;
  content: "";
  display: inline-block;
  position: absolute;
  right: 0;
  bottom: 22px;
}

.nav-pills-wrapper .vertical-pills.nav-pills:not(.nav-pills-icons):not(.nav-pills-just-icons) .flex-column .nav-link.active:after {
  border-right: 11px solid #FFFFFF;
  border-top: 11px solid transparent;
  border-bottom: 11px solid transparent;
  content: "";
  display: inline-block;
  position: absolute;
  right: -1px;
  bottom: 22px;
}

.nav-pills-wrapper .vertical-pills .tab-content {
  width: 66%;
  float: left;
  margin-left: 5px;
}

.nav-pills-wrapper .tab-content {
  padding: 1.25rem;
}
