.form-register .nav-tabs {
  display: none;
  visibility: hidden;
}

.form-register .tab-content {
  min-height: 280px;
  height: auto;
}

.nav-tabs {
  border: 0;
  padding: 15px 0.7rem;
}

.nav-tabs:not(.nav-tabs-neutral) > .nav-item > .nav-link.active {
  box-shadow: 0px 5px 35px 0px rgba(0, 0, 0, 0.3);
}

.card .nav-tabs {
  border-top-right-radius: 0.1875rem;
  border-top-left-radius: 0.1875rem;
}

.nav-tabs > .nav-item > .nav-link {
  color: #888888;
  margin: 0;
  margin-right: 5px;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 30px;
  font-size: 14px;
  padding: 11px 23px;
  line-height: 1.5;
}

.nav-tabs > .nav-item > .nav-link:hover {
  background-color: transparent;
}

.nav-tabs > .nav-item > .nav-link.active {
  background-color: #444;
  border-radius: 30px;
  color: #FFFFFF;
}

.nav-tabs > .nav-item > .nav-link i.now-ui-icons {
  font-size: 14px;
  position: relative;
  top: 1px;
  margin-right: 3px;
}

.nav-tabs > .nav-item.disabled > .nav-link, .nav-tabs > .nav-item.disabled > .nav-link:hover {
  color: rgba(255, 255, 255, 0.5);
}

.nav-tabs-neutral .nav-tabs .nav-item > .nav-link {
  color: #FFFFFF;
}

.nav-tabs-neutral .nav-tabs .nav-item > .nav-link.active {
  background-color: rgba(255, 255, 255, 0.2);
  color: #FFFFFF;
}

.nav-tabs-primary .nav-tabs > .nav-item > .nav-link.active {
  background-color: #EB6836;
}

.nav-tabs-info .nav-tabs > .nav-item > .nav-link.active {
  background-color: #2CA8FF;
}

.nav-tabs-danger .nav-tabs > .nav-item > .nav-link.active {
  background-color: #FF3636;
}

.nav-tabs-warning .nav-tabs > .nav-item > .nav-link.active {
  background-color: #FFB236;
}

.nav-tabs-success .nav-tabs > .nav-item > .nav-link.active {
  background-color: #18ce0f;
}

[data-tabs-color=orange] .nav-tabs {
  background-color: #EB6836;
}

[data-tabs-color=orange] .nav-tabs .nav-item .nav-link {
  color: #FFFFFF;
}

[data-tabs-color=orange] .nav-tabs .nav-item .nav-link.active {
  box-shadow: none;
  background-color: rgba(255, 255, 255, 0.2);
}
