<div class="root loadable">
  <div class="loadable-spinner-content"
       [@fadeInOut]="animationState"
       [ngStyle]="{
         'background-color': initialState ? 'rgba(255, 255, 255, 0.3)' : 'none',
         position: fixed ? 'fixed' : 'absolute'
       }"
       *ngIf="initialState">
    <ng-content select="app-loadable-spinner">
    </ng-content>
    <ng-content select="app-loadable-description">
    </ng-content>
  </div>
  <div class="loadable-content" [ngStyle]="{'filter': initialState ? 'blur(30px)' : 'none'}">
    <ng-content select="app-loadable-content">
    </ng-content>
  </div>
</div>
