<div class="login-reset-password-back">
  <i class="fas fa-arrow-left" (click)="prev()"></i>
</div>
<form class="form" [formGroup]="formGroup">
  <div class="card-header text-center">
    <div class="logo-container">
      <img src="/assets/img/syd_object.png" alt="">
    </div>
    <div>
      <h3>{{translate('SIGNIN_LAYOUT/FORGOT_PASSWORD')}}</h3>
    </div>
  </div>

  <div class="card-body" [ngStyle]="{paddingTop: '0.5em'}" *ngIf="!successGroup">
    <div>
      <p class="login-reset-password-text">
        {{translate('SIGNIN_LAYOUT/FORGOT_PASSWORD_TEXT')}}
      </p>
      <p class="login-reset-password-text">
        {{translate('SIGNIN_LAYOUT/FORGOT_PASSWORD_CONTACT_TEXT')}}
      </p>
    </div>
    <div class="input-group" [ngStyle]="{marginBottom: '10px'}" [class.input-group-focus]="isFocused(emailField)"
         [class.has-danger]="errorGroup[0].error !== ''">
      <div class="input-group-prepend" (click)="emailField.focus()">
        <span class="input-group-text"><i class="far fa-envelope"></i></span>
      </div>
      <input type="email" class="form-control" placeholder="{{translate('SIGNIN_LAYOUT/EMAIL')}}" name="email"
             formControlName="email" autocomplete="off"
             #emailField="" (focus)="isFocused(emailField)" (blur)="isFocused(emailField)"
             [(ngModel)]="email" (keyup)="errorOccurred(emailField);">
      <div class="input-error" *ngIf="errorGroup[0].error !== ''">
        <p>{{translate(errorGroup[0].error)}}</p>
      </div>
    </div>
  </div>

  <div class="card-body" [ngStyle]="{paddingTop: '0.5em'}" *ngIf="successGroup">
    <h5 class="mb-4" [class.has-success]="successGroup">{{translate('SIGNIN_LAYOUT/SEND_SUCCESS')}}</h5>
    <div>
      <p class="login-reset-password-text">
        {{translate('SIGNIN_LAYOUT/SEND_SUCCESS_TEXT')}} <b>{{email}}</b>
      </p>
      <p class="login-reset-password-text">
        {{translate('SIGNIN_LAYOUT/SEND_SUCCESS_PROBLEM_TEXT_PART1')}} <b>{{translate('SIGNIN_LAYOUT/JUNK_MAIL')}}</b>.
        {{translate('SIGNIN_LAYOUT/SEND_SUCCESS_PROBLEM_TEXT_PART2')}}
      </p>
    </div>
  </div>

  <div class="card-footer text-center" *ngIf="!successGroup">
    <button [disabled]="!formGroup.valid" class="btn btn-round btn-lg btn-block" type="submit"
            (click)="valid()">
      {{translate('SIGNIN_LAYOUT/SEND_BUTTON')}}
    </button>
  </div>
</form>
