<div class="login">
  <div class="card card-login">
    <ngb-tabset [justify]="'center'" class="text-center" #tabform="ngbTabset"
                id="tabset-login">
      <ngb-tab id="tab-form-1">
        <ng-template ngbTabContent>
          <app-login-form [successEvent]="successEventSubject.asObservable()"
                          [errorEvent]="errorEventSubject.asObservable()"
                          (validEvent)="validFormEvent($event)"
                          (nextEvent)="tabEvent($event)">
          </app-login-form>
        </ng-template>
      </ngb-tab>
      <ngb-tab id="tab-form-2">
        <ng-template ngbTabContent>
          <app-login-forgot-password [successEvent]="successEventSubject.asObservable()"
                                     [errorEvent]="errorEventSubject.asObservable()"
                                     (validEvent)="validFormEvent($event)"
                                     (prevEvent)="tabEvent($event)">
          </app-login-forgot-password>
        </ng-template>
      </ngb-tab>
    </ngb-tabset>
  </div>
</div>
