<div class="modal-participation">
  <div class="modal-header">
    <h4 class="modal-title">{{name}}</h4>
    <button type="button" class="close" (click)="close()">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div class="modal-body">
    <form class="modal-body-top-50" [formGroup]="formGroup">
      <div class="row m-0 mb-3">
        <div class="col-lg-12">
          <p class="d-block w-100">{{translate('MODAL_PARTICIPATION/NUMBER_TOKENS_TITLE')}}</p>
          <div class="form-group">
            <input class="form-control d-inline-block align-middle" [class.w-75]="isMobile()" [class.w-50]="!isMobile()"
                   type="number" name="bet" autocomplete="off" [formControlName]="'bet'" (keyup)="replaceBet($event)"
                   (keydown)="replaceBet($event)"
                   [placeholder]="translate('MODAL_PARTICIPATION/NUMBER_TOKENS_PLACEHOLDER')">
            <span class="align-middle d-inline-block" [class.w-25]="isMobile()" [class.text-left]="!isMobile()"
                  [class.text-right]="isMobile()" [class.pl-2]="isMobile()" [class.w-50]="!isMobile()"
                  [class.pl-5]="!isMobile()">
            <img src="/assets/img/coins/starter.png" class="d-inline-block align-middle" *ngIf="!isMobile()">
            <p class="m-0 d-inline-block align-middle pl-2 modal-participation-tokens">
              <span><b>{{tokens - data.value}}</b></span>
              <span *ngIf="!isMobile()"> {{translate('MODAL_PARTICIPATION/NUMBER_TOKENS')}}</span>
            </p>
            </span>
            <div class="input-error" *ngIf="formGroup.controls['bet'].errors && formGroup.controls['bet'].errors.min">
              <p>{{translate('ERROR/BET_MINIMUM')}}</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row m-0 mb-3">
        <div class="col-sm-6 col-lg-3">
          <p class="d-inline-block align-middle w-100 mb-0 text-left modal-participation-part">
            {{translate('MODAL_PARTICIPATION/INFLUENCER')}}
          </p>
        </div>
        <div class="col-sm-6 col-lg-9">
          <nouislider id="slider-influencer" class="d-inline-block align-middle slider slider-primary w-75"
                      [min]="0" [max]="100" [ngModel]="ratio.ratioInfluencer" [step]="1"
                      [ngModelOptions]="{standalone: true}" (change)="change($event, 'slider-influencer')">
          </nouislider>
          <p class="d-inline-block align-middle w-25 text-right m-0 pl-2 modal-participation-ratio">
            <b>{{ratio.ratioInfluencer + '%'}}</b></p>
        </div>
      </div>
      <div class="row m-0 mb-3">
        <div class="col-sm-6 col-lg-3">
          <p class="d-inline-block align-middle w-100 mb-0 text-left">
            {{translate('MODAL_PARTICIPATION/CHARITY')}}
          </p>
        </div>
        <div class="col-sm-6 col-lg-9">
          <nouislider id="slider-charity" class="d-inline-block align-middle slider slider-primary w-75"
                      [min]="0" [max]="100" [ngModel]="ratio.ratioAssociation" [step]="1"
                      [ngModelOptions]="{standalone: true}" (change)="change($event, 'slider-charity')">
          </nouislider>
          <p class="d-inline-block align-middle w-25 text-right m-0 pl-2 modal-participation-ratio">
            <b>{{ratio.ratioAssociation + '%'}}</b></p>
        </div>
      </div>
      <div class="row m-0 mb-3">
        <div class="col-sm-6 col-lg-12">
          <p class="modal-participation-note">{{translate('MODAL_PARTICIPATION/NOTE')}}</p>
        </div>
      </div>
      <div class="row m-0 mb-3">
        <div class="form-check">
          <label class="form-check-label">
            <input name="cgu" class="form-check-input" type="checkbox" autocomplete="off"
                   [formControlName]="'cgu'">
            <span class="form-check-sign"></span>
            <a>{{translate('MODAL_PARTICIPATION/CGU')}}</a>
          </label>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button class="btn" [disabled]="!formGroup.valid"
            (click)="save()">{{translate('MODAL_PARTICIPATION/SAVE')}}</button>
  </div>
</div>
